.accordion-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	color: #fff;

	.ac {
		background: #252525;
		border-radius: 12px;
		padding: 0 24px;
		overflow: hidden;

		&.is-active .ac-header::after {
			background-image: url("../img/cross.svg");
		}
	}

	.ac-header {
		button {
			font-size: 18px;
			padding: 29px 0;
			width: 100%;
			text-align: left;
		}

		position: relative;


		&::after {
			content: "";
			position: absolute;
			right: 24px;
			background-image: url("../img/arrow.svg");
			width: 32px;
			height: 32px;
			transform: translateY(-50%);
			top: 50%;
			pointer-events: none;
		}

		button {
			background-color: transparent;
			color: #fff;
			cursor: pointer;
		}
	}

	.ac-panel {
		font-size: 16px;
		overflow: hidden;

		p {
			padding: 24px 0;
			padding-bottom: 30px;
			border-top: 1px dotted #fff;
		}
	}
}