.breadcrumbs {
	font-size: 20px;
	font-weight: 400;
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	/* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

	}

	a[href] {
		color: #fff;
	}

	a {
		color: rgba(255, 255, 255, 0.6);
	}

	& * {
		// white-space: nowrap;
	}

	@media(max-width: 767px) {
		font-size: 12px;
	}
}