.case {
	.swiper-slide {
		padding: 40px 35px;
		border-radius: 25px;
		border: 1px solid #fff;

		@media(max-width: 767px) {
			padding: 24px 16px;
		}
	}
}

.case__top {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.case__grid {
	display: grid;
	gap: 30px 25px;
	grid-template-areas:
		"ga1 ga1 ga2"
		"ga3 ga3 ga3"
	;

	@media(max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.grid-case-1 {
	grid-area: ga1;
}

.grid-case-2 {
	grid-area: ga2;
}

.grid-case-3 {
	grid-area: ga3;
}

.case__item {
	display: flex;
	flex-direction: column;
	gap: 18px;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 25px;
	padding: 32px;

	span {
		font-size: 32px;
		font-weight: 900;
		color: #6F6F6F;
		text-transform: uppercase;

		@media(max-width: 767px) {
			font-size: 18px;
		}
	}

	p {
		font-size: 18px;

		@media(max-width: 767px) {
			font-size: 14px;
		}
	}

	&:nth-child(3) {
		gap: 62px;
		flex-direction: row;

		@media(max-width: 767px) {
			flex-direction: column;
			gap: 18px;
		}
	}

	@media(max-width: 767px) {
		padding: 24px 16px;
	}
}

.case__bottom {
	display: flex;
	flex-direction: column;
	gap: 18px;

	span {
		font-size: 20px;
		font-weight: 700;

		@media(max-width: 767px) {
			font-size: 14px;
		}
	}

	p {
		font-size: 16px;

		@media(max-width: 767px) {
			font-size: 0;
		}
	}
}

.case__swiper-1 {
	position: static;

}

.case-swiper-1-wrap {
	position: relative;
	padding: 0 74px;

	.swiper {
		@media(max-width: 767px) {
			position: relative;
			padding-bottom: 76px;
		}
	}

	.swiper-nav {
		&>* {
			@media(max-width: 767px) {
				position: static;
			}
		}

		@media(max-width: 767px) {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			gap: 32px;
		}
	}

	@media(max-width: 767px) {
		padding: 0;
	}
}