.directions__subtitle {
	margin-bottom: 32px;

	@media(max-width: 767px) {
		font-size: 14px;
	}
}

.directions__box {
	border-radius: 25px;
	border: 1px solid #fff;
	padding: 32px;

	@media(max-width: 767px) {
		padding: 24px 16px;
	}

	&:hover {
		background-color: #fff;
		color: var(--color-black);
		transition: all 0.3s ease;

		.directions__list a:not(:last-child) {
			border-bottom-color: var(--color-black);
		}

		svg path {
			stroke: var(--color-black);
		}
	}
}

.directions__content {
	display: grid;
	gap: 22px;
	grid-template-columns: 1fr 1fr;

	@media(max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.directions__head {
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 42px;
	display: flex;
	align-items: center;
	gap: 24px;

	@media(max-width: 767px) {
		font-size: 14px;
		margin-bottom: 24px;
	}
}

.directions__list {
	a {
		position: relative;
		padding-bottom: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		svg {
			min-width: 32px;
			height: 32px;
			border-radius: 50%;
		}


		&:not(:last-child) {
			margin-bottom: 12px;
			border-bottom: 1px dashed #fff;
		}

		&:hover {

			svg path {
				stroke: white;
			}

			svg {
				background-color: var(--color-black);
				transition: all 0.3s ease;
			}
		}

		&:active {
			&::after {
				border-radius: 50%;
				background-image: url("../img/arrow-box-a.svg");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}
	}

	@media(max-width: 767px) {
		font-size: 14px;
	}
}

.directions__pic {
	border-radius: 20px;
	height: 214px;
	overflow: hidden;

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	@media(max-width: 767px) {
		height: 214px;
	}
}