.header {
	transition: all 0.3s ease;
	background: #141414CC;
	height: 105px;
	display: flex;
	align-items: center;

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		transition: all 0.3s ease;
	}
}

.header__wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media(max-width: 1210px) {
		height: 105px;
	}
}

.header__logo {
	margin-right: 95px;
	max-width: 175px;
	width: 100%;
}



.header__phone {
	margin-left: auto;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 600;
}

.menu__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6px;

	.dropdown {
		display: none;
	}
}