.links {
	display: flex;
	min-width: 100%;
	overflow-x: auto;
	gap: 23px;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	a {
		height: 68px;
		display: flex;
		align-items: center;
		padding: 0 22px;
		font-size: 16px;
		text-align: center;
		font-weight: 400;
		background: rgba(68, 68, 68, 0.6);
		border-radius: 80px;
		width: auto;
		flex: 1 0 auto;
		transition: all 0.3s ease;
		&:hover {
			background-color: #fff;
			color: var(--color-black);
		}

		@media(max-width: 767px) {
			font-size: 14px;
			height: 65px;
		}
	}
	@media(max-width: 767px) {
		gap: 12px;
	}
}