.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 343px;
	width: 100%;
	min-width: 300px;
	height: auto;
	z-index: 20;
	visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: all 0.5s;

	&__title {
		font-size: 18px;
		font-weight: 500;
	}

	&__subtitle {
		font-size: 14px;
		font-weight: 500;
	}

	&__head {
		display: flex;
		flex-direction: column;
		gap: 18px;
	}

	&.active {
		opacity: 1;
		visibility: visible;

		.modal__content {
			transform: scale(1);
			opacity: 1;
			transition: all 0.3s;

		}
	}
}

.modal__content {
	display: flex;
	flex-direction: column;
	gap: 42px;
	opacity: 0;
	padding: 42px 16px;
	transform: scale(0.7);
	background: #212121;
}

.modal__close {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 16px;
	top: 42px;
	cursor: pointer;
}

.modal__form {
	input {
		border-radius: 25px;
		outline: none;

		&[type="submit"] {
			background-color: #fff;
			color: var(--color-black);
			height: 60px;
			width: 100%;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			cursor: pointer;

			&:hover {
				background: rgba(255, 255, 255, 0.4);
				color: #fff;
			}
		}
	}
}

.modal__form-values {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 24px;

	input {
		height: 57px;
		color: #fff;
		padding: 0 24px;
		background: rgba(255, 255, 255, 0.05);

		&::placeholder {
			color: #fff;
			font-size: 14px;
			font-weight: 500;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	z-index: -1;
	transition: all 0.3s ease;

	&.active {
		opacity: 1;
		z-index: 1;
	}
}