.thanks {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #202020;
	padding: 52px 42px;
	border-radius: 25px;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 42px;
		max-width: 480px;
	}

	h1 {
		font-size: 32px;
		font-weight: 500;

		@media(max-width: 767px) {
			font-size: 24px;
		}
	}

	@media(max-width: 767px) {
		padding: 52px 16px;
		gap: 32px;
	}
}