section.section.achiev 
	.container 
		span.achiev__sticky Как результут
		.achiev__wrap 
			.achiev__top 
				h2.achiev__title ЗА 25 ЛЕТ <br> РАБОТЫ
				ul.achiev__list 
					li Отобрали лучших из порядка 50 юристов, прошедших через наше  юридическое агентство, и теперь каждый из них у нас в штате минимум 7 лет
					li Накопили документную базу на 1200 документов,  где каждая страничка отточена до последнего знака
					li Отработали алгоритмы действий, накопили опыт оптимальных побед,  так как после каждого дела анализируем ошибки и ищем альтернативные пути
					li Поняли, за счёт гигантской практики, тренды правоприменения,  изменения трактовок законов и заключения судов
					li Сразу сможем точно оценить стоимость, так как понимаем за сколько и как сложно будет провести дело
			.achiev__bottom
				p СНИЖАЕМ взыскиваемые суммы на 20-30%, <br> смяГЧАЕМ судебные решения и <b>ВЫИГРЫВАЕМ 96% дел</b>