section.section
	.container 	
		h2.section__title(data-aos="fade-right") В том числе, поможем когда:
		.advantages.advantages--3
			.price__item
				.price__icn 
					img(src="img/star.svg" alt="")
				p Нужно вернуть задолженность за оказанные услуги, поставку товаров, по договору подряда, компенсации, неустойки, возмещение сумм убытков
			.price__item
				.price__icn 
					img(src="img/piechart.svg" alt="")
				p Ответчик отказывается производить оплату со ссылкой на финансовую несостоятельность
			.price__item
				.price__icn 
					img(src="img/Scales.svg" alt="")
				p Ответчик отказывается платить, мотивируя несоответствием работ техническому заданию
			.price__item
				.price__icn 
					img(src="img/like.svg" alt="")
				p Ответчик избегает оплаты, используя юридические манипуляции.
				p Например, когда акты приема-передачи услуг были приняты лицами, не указанными в договоре
			.price__item
				.price__icn 
					img(src="img/like.svg" alt="")
				p Ответчик снижает размер оплаты по причине ненадлежащего качества продукции или выполненных работ