section.section
	.container 	
		h2.section__title(data-aos="fade-right") Фиксированная стоимость не зависит от сложности и числа задач, при этом:
		.advantages 
			.price__item
				.price__icn 
					img(src="img/star.svg" alt="")
				p Дешевле даже одного штатного юриста
			.price__item
				.price__icn 
					img(src="img/piechart.svg" alt="")
				p Реальная команда юристов в штате с узкими специализациями в Москве 
			.price__item
				.price__icn 
					img(src="img/Scales.svg" alt="")
				p Не надо каждый раз искать подрядчика под мелкие юридические задачи
			.price__item
				.price__icn 
					img(src="img/like.svg" alt="")
				p Включено даже безлимитное сопровождение в судах