section.section.block-contact#contacts 
	.container 
		h2.section__title.block-contact__title Офис в центре Москвы: <br> 1-й Неопалимовский переулок, <br> д. 14/16, 
		p.section__subtitle.block-contact__subtitle В собственности с 2006 года, ещё одно доказательство наших стабильных результатов
		.block-contact__wrap
			#map
				//- <iframe src="https://yandex.ru/map-widget/v1/?ll=37.579286%2C55.741414&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjcwNDY1OBJV0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsIDEt0Lkg0J3QtdC-0L_QsNC70LjQvNC-0LLRgdC60LjQuSDQv9C10YDQtdGD0LvQvtC6LCAxNC8xNiIKDS9RFkIVNvdeQg%2C%2C&z=17.07" width="100%" height="100%"></iframe>
			.block-contact__box 
				.block-contact__box-top
					//- .block-contact__sticky Контакты
					h3.block-contact__box-title Контакты
					.block-contact__box-inner 
						ul 
							li 
								img(alt="" src="img/phone.svg")
								a(href="tel:+79037900360" onclick="ym(62967727,'reachGoal','zvonok'); return true;") +7 (903) 790-03-60 
							li 
								img(alt="" src="img/location.svg")
								| г. Москва, 1-й Неопалимовский переулок, д. 14/16, (вход со двора)
							li 
								img(alt="" src="img/clock.svg")
								.block-contact__box-row
									| ПН — ПТ: с 9:00 до 18:00
									p <b>Не успеваете в рабочее время в будний день?</b> <br> Откроем офис раньше или останемся позже для вас

				.block-contact__box-bottom 
					.block-contact__box-bottom-title Не удобно к нам в офис?
					.block-contact__box-bottom-text 
						p Можем проконсультировать любым способом, <br> даже по телефону или в мессенджерах
						p Отправляем курьеров, <br> и юристы выезжают в офис к клиентам
						p Если вы юридическое лицо, <br> приедем к вам в офис с директором и главным юристом