section.section.case 
	.container 
		.case__wrap 
			h2.section__title.case__title 96% дел выигрываем
			p.section__subtitle.case__subtitle В остальных 4% снижаем взыскиваемые суммы на 30% и смягчаем судебное решение
			.tab-container 
				.case__tabs.tabs
					a.tab.active Семейные споры
					a.tab Уголовные дела
					a.tab Трудовые споры
					a.tab Недвижимость 
					a.tab Все
				.case__tab-panes.tab-panes 
					//- семейные споры
					.case__tab-pane.tab-pane.active
						.case-swiper-1-wrap
							.swiper.case__swiper-1
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент подал иск об определении порядка общения с ребенком, проживающим с матерью.
												.case__item.grid-case-2
													span трудность
													p  Мать ребенка подала встречный иск о выплате ежемесячных алиментов в размере 340 000 ₽.
												.case__item.grid-case-3
													span результат
													p Ежемесячная выплата была уменьшена до 40 000 ₽ и получено разрешение для клиента регулярно созваниваться и встречаться с ребенком.
										.case__bottom
											span Уменьшили ежемесячные выплаты с 340 000 ₽ до 40 000 ₽ и добились регулярных встреч с ребенком
											p Клиент, гражданин США и ЮАР, подал иск по определению порядка встречи с ребенком, который живет с мамой на территории РФ. Затем мама ребенка подала встречный иск о выплате клиентом 340 000 ₽ ежемесячно.
											p Собрав доказательную базу и выстроив защиту по 2-м искам, агентство вместе с клиентом выступили на судебном заседании. В итоге благодаря убедительному выступлению, смогли уменьшить алименты до >b>40 000 ₽</b> и <b>добились регулярных встреч</b> с ребенком.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Агенство подало иск в Одинцовский городской суд о взыскании неустойки по невыплаченным алиментам.
												.case__item.grid-case-2
													span трудность
													p  Было проведено несколько продолжительных судебных заседаний, которые откладывались из-за отца ребенка.
												.case__item.grid-case-3
													span результат
													p Взыскали с отца 100 000 ₽ неустойки и назначили 50 000 ₽ ежемесячных выплат.
										.case__bottom
											span Удалось добиться  50 000 ₽ алиментов и взыскать <b>100 000 ₽</b> за невыплаченные алименты
											p Изначально мы подали иск о взыскании с отца неустойки за невыплаченные алименты нашей клиентке. После продолжительных заседаний суд частично взыскал неустойку в размере 100 000 ₽. Однако, благодаря доказательной базе и грамотному выступлению агентства, дополнительно присудили отцу выплату алиментов в размере <b>50 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент заключил договор с бывшим супругом на выплату алиментов и направил иск о невыполнении своих обязательств по выплате.
												.case__item.grid-case-2
													span трудность
													p Договор был утерян, а суд может присудить значительно меньше, чем было прописано в документе.
												.case__item.grid-case-3
													span результат
													p Документ был найден и суд удовлетворил иск. Взыскав с отца алименты за период до подачи иска - 3 года и присудил ежемесячные выплаты клиенту в размере <b>40 000 ₽</b>
										.case__bottom
											span Добились 40 000 ₽ ежемесячных алиментов по утерянному, нотариально заверенному договору между супругами
											p Первоначально клиент хотел подать иск о взыскании задолженности по алиментам на основании утерянного документа, который был заключено с бывшим супругом. 
											p Выплата в документе устраивала клиента, а без документа суд присудил бы выплату меньше. Агентством была проведена большая работа по поиску нотариуса, который оформлял соглашение. В итоге документ был найден, и суд взыскал с отца <b>задолженность за 3 года</b> по алиментам, а также, в соответствии с соглашением, установил ежемесячную выплату в размере <b>40 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p С клиента в судебном порядке взыскана неустойка по алиментным в 1 000 000 ₽.
												.case__item.grid-case-2
													span трудность
													p  Клиент пропустил сроки оспаривания приговора.
												.case__item.grid-case-3
													span результат
													p Восстановили сроки оспаривания и <b>уменьшили суммы</b> взыскания до <b>350 000 ₽</b>
										.case__bottom
											span Сэкономили для клиента 650 000 ₽ по судебному взысканию алиментов
											p Изначально с клиента взыскана неустойка по алиментам в 1 000 000 ₽, а время обжалования было пропущено. Агентство подготовило и подало апелляцию о восстановлении пропущенного срока, и районный суд восстановил срок подачи жалобы. 
											p Уже на судебном заседании благодаря выступлению агентства и грамотно подготовленным доказательствам, удалось обратить внимание на нашу позицию по апелляции и перейти к рассмотрению дела по правилам первой инстанции.
											p В итоге апелляционная инстанция вынесла новое решение, в соответствии с которым неустойка была уменьшена <b>до 365 000 ₽</b>, а агентство <b>сэкономило</b> для клиента <b>650 000 ₽</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка обратилась за помощью по лишению родительских прав отца ее ребенка.
												.case__item.grid-case-2
													span трудность
													p Сбор доказательств для суда, что отец не поддерживал общение с ребенком.
												.case__item.grid-case-3
													span результат
													p Суд занял позицию клиентки и удовлетворил иск в полном объеме.
										.case__bottom
											span Помогли лишить родительских прав отца, который не участвовал в жизни ребенка
											p Изначально клиент обратился за помощью, чтобы лишить родительских прав мужа. Отец ребенка с момента его рождения никаких отношений с ним не поддерживал, материально не обеспечивал и не принимает никакого участия в воспитании. Агентством были собраны доказательства для подготовки и удовлетворения иска. В итог суд занял позицию клиентки и удовлетворил иск в полном объеме, лишив отца родительских прав в отношении ребенка.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка обратилась за помощью в сопровождении иска о лишении родительских прав бывшего мужа.
												.case__item.grid-case-2
													span трудность
													p Сбор доказательств не только о лишении родительских прав, но и о взыскании задолженности по алиментам.
												.case__item.grid-case-3
													span результат
													p Требования были удовлетворены в полном объеме, бывший супруг был <b>лишен родительских прав в отношении несовершеннолетнего ребенка<b>, и в пользу клиентки <b>взыскана задолженность по алиментам</b>.
										.case__bottom
											span Лишили родительских прав отца ребенка и взыскали задолженность по алиментам в размере 286 000 ₽
											p Первоначально клиент обратился за сопровождением в суде по иску о лишении родительских прав бывшего мужа. Клиентка подала иск самостоятельно. В процессе сбора документов было найдено исполнительное производство в отношении отца ребенка о задолженности по алиментам. После постановления судебного пристава-исполнителя об определении задолженности и составления акта от органов опеки суд удовлетворил наши требования. В итоге бывший супруг был <b>лишен родительских прав в отношении несовершеннолетнего ребенка</b> и в пользу клиентки <b>взыскана задолженность по алиментам в размере 286 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск клиенту о проживании детей вместе с мамой.
												.case__item.grid-case-2
													span трудность
													p В большинстве случаев суд встает на сторону матери, поэтому требовалось собрать доказательства и провести экспертизы.
												.case__item.grid-case-3
													span результат
													p Встречный иск был удовлетворен в полном объеме.
										.case__bottom
											span Удалось добиться определения места жительства старшего ребёнка с клиентом 
											p Изначально в отношении клиента был подан иск об определении места проживания детей с мамой. Нами был подан ответный иск. После сбора доказательств, изучения взаимоотношений детей друг с другом и проведения психолого-педагогической экспертизы суд удовлетворил наш иск. В итоге <b>иск</b> удовлетворен в полном объеме и <b>проживание</b> старшего ребенка было <b>определено с клиентом</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск к клиентке от бывшего супруга с требованием определить место проживания ребенка с ним
												.case__item.grid-case-2
													span трудность
													p Иск от бывшего супруга основывался на прохождении лечения клиентки и возникал вопрос о признании ее недееспособной 
												.case__item.grid-case-3
													span результат
													p Пришли к мирному соглашению, утвержденному судом, которое устроило клиентку.
										.case__bottom
											span Убедили отца ребенка прийти к мировому соглашению с клиенткой
											p Первоначально бывший супруг подал иск клиентке с требованием определить место проживания ребенка с ним и признать клиентку недееспособной на основании прохождения лечения в стационаре. Агентством были собраны доказательства и выписки из стационаров, проведена медицинская экспертиза о состоянии здоровья клиентки. На основании собранных документов и заключения экспертизы был подан встречный иск, параллельно велись переговоры с отцом о мирном соглашении. В итоге, <b>благодаря</b> собранным <b>доказательствам</b> и грамотно выстроенной линии защиты, <b>отец согласился на мирное соглашение</b>, которое устроило клиентку.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Мать добивалась полного запрета на встречи клиента с ребенком.
												.case__item.grid-case-2
													span трудность
													p Бабушка и дедушка настраивали ребенка против клиента, а ответчица настаивала на том, что отец негативно влияет на ребенка.
												.case__item.grid-case-3
													span результат
													p Добились 2-х встреч по 2 дня в месяц и проведение всего отпуска клиента с ребенком. 
										.case__bottom
											span Добились для клиента встреч с ребенком
											p Изначально клиент обратился за представлением интересов в суде, пытаясь определить порядок участия в жизни ребенка. Нами были собраны доказательства и показания ребенка, на основе которых выяснилось, что дедушка и бабушка безосновательно настраивают ребенка против отца, а ответчица настаивает на мнении, что отец негативно влияет на ребенка. Агентство выстроило линию защиты и провело встречи с клиентом, обсудив его выступление в суде. В итоге суд удовлетворил иск и присудил клиенту встречи с ребенком, а именно <b>2 встречи в месяц по 2 дня</b> и проведение всего <b>отпуска клиента с ребенком</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Мать настаивала на ее присутствии на встречах с ребенком в неудобное время для клиента.
												.case__item.grid-case-2
													span трудность
													p Был подготовлен досудебный договор, от которого мать отказалась.
												.case__item.grid-case-3
													span результат
													p Суд частично удовлетворил иск, определив только 1 удобный день вместо двух, но главное – клиент сможет встречаться с ребенком без участия матери. 
										.case__bottom
											span Помогли клиенту добиться встреч с ребенком без участия матери
											p Первоначально клиент обратился за помощью в решении проблемы в досудебном порядке, но мать отказалась от мирового соглашения. Агентством был подготовлен иск об определении встреч клиента с ребенком в удобное время и без участия матери. Личные встречи с ребенком были главной целью искового требования. Благодаря грамотно выстроенной защите и доводам агентства суд частично удовлетворил иск. В итоге <b>назначен 1 удобный день</b> для клиента на <b>встречу</b> с ребенком <b>без участия матери</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Исполнительное производство в отношение клиентки с требованием изменить установленный порядок общения отца с ребенком.
												.case__item.grid-case-2
													span трудность
													p Риск удовлетворения искового требования отца, в соответствие с которым клиентка не сможет присутствовать на встречах с ребенком.
												.case__item.grid-case-3
													span результат
													p В исковом требовании отца отказано, и установленный порядок, устраивающий клиентку, остался без изменений.
										.case__bottom
											span Помогли клиентке оставить без изменений установленный порядок общения отца с ребенком
											p Изначально отец подал иск с требованием изменить порядок общения с ребенком, значительно расширить временные рамки и настаивал на личных встречах без участия клиентки. Изучив собранные материалы дела, было дано заключение об отсутствии аргументов для изменения уже действующего порядка общения. В процессе судебного разбирательства получили выгодное заключение органов опеки, на основании которого суд отказал в исковом требовании отца. В итоге <b>установленный порядок общения</b> отца с ребенком <b>остался без изменений.</b> 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Бывшая супруга клиента пыталась исключить приобретенную в браке квартиру из совместно нажитого имущества
												.case__item.grid-case-2
													span трудность
													p Бывшая супруга предоставила в суде договор дарения денежных сумм ее отца, которые были направлены на покупку квартиры.
												.case__item.grid-case-3
													span результат
													p В суде агентство оспорило предоставленные документы и суд удовлетворил требования клиента, признав долевую собственность квартиры.
										.case__bottom
											span Добились признания клиента в долевой собственности на квартиру
											p Первоначально клиент обратился за предоставлением интересов в суде по иску об исключении квартиры, приобретенной в браке, из совместно нажитого имущества и исключении клиента из долевой собственности. Трудность заключалась в  договоре между бывшей супругой и ее отцом о предоставлении денежной суммы для покупки квартиры. Изучив договор и собрав необходимые документы со стороны клиента, убедили суд, что договор не является весомым доказательством. Судом не был принят договор о предоставлении денежной суммы, и в иске было отказано. В итоге решением суда <b>квартира осталась совместно нажитым имуществом</b>, а <b>клиент признан долевым владельцем.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент не мог договориться с супругой о разделе совместно нажитого имущества.
												.case__item.grid-case-2
													span трудность
													p Из-за увеличивающихся желаний клиента не могли прийти к мирному соглашению.
												.case__item.grid-case-3
													span результат
													p Заключили выгодный для клиента брачный договор с перевесом в имуществе.
										.case__bottom
											span Заключили брачный договор с большой уступкой собственности в пользу клиента
											p По рекомендации в агентство обратился клиент за правовой помощью из-за сложностей в споре между супругами по разделу имущества. Изучив требования клиента, был подготовлен мирный договор, с которым супруга согласилась. Но желания клиента стали расти, что является обычной практикой в таких делах. Наша главная задача заключалась в том, чтобы клиент получил то, что хочет. Договоренности начали рушиться и агентство начало подготовку к суду, оценивая имущество, собирая доказательства и подготавливая документы. Параллельно подготовили досудебное соглашение по новым требованиям, и благодаря доводам агентства супруга согласилась уступить большую часть объектов движимого и недвижимого имущества. В итоге <b>требования</b> клиента были <b>удовлетворены в досудебном порядке</b> и в полном объеме.упруга подписала <b>брачный договор с большими уступками в пользу клиента.</b> 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентку интересовало, какое имущество можно будет разделить при разводе.
												.case__item.grid-case-2
													span трудность
													p Большая часть имущества находилась за рубежом и, соответственно, представляло трудность для оценки.
												.case__item.grid-case-3
													span результат
													p Предоставили отчет для клиента по всему имуществу подлежащему разделу, недвижимому и движимому, а также денежным средствам.
										.case__bottom
											span Провели оценку совместно нажитого имущества в РФ и за рубежом для возможного раздела
											p Изначально клиент хотел провести анализ имущества для возможного раздела с бывшим мужем. Агентством было проведено множество встреч на которых выяснилось что, недвижимого имущества много и большая его доля находится за рубежом и представляет трудность для юридического оформления и анализа. Но благодаря многолетнему опыту юристов Честер - К, было составлен полный перечень и предоставлен отчет о движимом и недвижимом имуществе, а также денежных средств. Для возможного раздела совместно нажитого имущества, в случае возможного развода между супругами.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск в сторону клиентки о разделе совместно нажитого имущества.
												.case__item.grid-case-2
													span трудность
													p Квартира приобретена в ипотеку, и все платежи включая коммунальные платила клиентка. 
												.case__item.grid-case-3
													span результат
													p Суд поделил квартиру пополам и взыскал в пользу клиентки 400 000 ₽ с бывшего мужа.
										.case__bottom
											span Взыскали с бывшего мужа 400 000 ₽ в пользу клиентки за долю в квартире
											p Изначально клиентка попросила представлять ее интересы в суде по иску от бывшего мужа о разделе имущества. Предметом спора выступила квартира, купленная в ипотеку. Все платежи по ипотеке платила клиентка, включая коммунальные платежи. Агентство предложило клиентке сделать отчет об оценке и параллельно подготовило и подало встречный иск о выкупе доли мужа как малозначительную. Решение суда удовлетворило клиентку. В итоге суд <b>разделил квартиру пополам</b> и <b>взыскал</b> в <b>пользу клиентки 400 000 ₽</b> за платежи по кредиту и коммунальные услуги. 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Отказ нотариуса в признании права собственности на земельный участок по завещанию.
												.case__item.grid-case-2
													span трудность
													p В завещании были ошибки в дате рождения клиента, а также клиент был назван сыном, хотя биологически им не являлся. Другие наследники были против иска.
												.case__item.grid-case-3
													span результат
													p Суд удовлетворил иск в полном объеме
										.case__bottom
											span Добились признание клинта собственником участка после отказа нотариуса из-за ошибки в документах
											p Изначально нотариус отказал клиенту в праве собственности на часть земельного участка на основании завещания, ссылаясь на ошибки в личных данных клиента и факт, что в завещании его назвали сыном. Биологически клиент не являлся сыном покойному. Эти 2 ошибки и то, что другие наследники отказывались признавать законность наследства клиента, значительно усложняли задачу, и агентство начало сбор доказательств и подготовку иска в суд. Во время судебного процесса по просьбе агентства был допрошен нотариус, который оформлял договор. В итоге благодаря доводам агентства и словам нотариуса <b>суд удовлетворил иск клиента в полном объеме. </b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка вступала в наследство на квартиру, но сама проживала в Бельгии.
												.case__item.grid-case-2
													span трудность
													p На квартире висели долги, и был наложен арест приставами на регистрационные действия с квартирой.
												.case__item.grid-case-3
													span результат
													p Добились снятия ареста и помогли вступить в наследство клиентке.
										.case__bottom
											span Помогли клиентке из Бельгии без ее участия вступить в наследство и снять арест с квартиры в России
											p Первоначально клиентка должна была вступать в наследство на квартиру в РФ, но сама проживала в Бельгии. Чтобы агентство могло представлять интересы в полной мере, клиентка оформила доверенность в консульстве РФ в Бельгии. Практически сразу возникли трудности, на квартире был арест из-за долгов от наследодателя. Обошлось без суда, мы договорились с приставами, и клиентка оплатила долг за квартиру. В итоге агентством были получены свидетельство о праве на наследство квартиру и денежный вклад. В дальнейшем документы были переданы через посольство Бельгии в РФ вместе с выпиской из ЕГРН.

								.swiper-navigation
									.swiper-button-prev
									.swiper-button-next
								.swiper-pagination
					//- Уголовные дела
					.case__tab-pane.tab-pane
						.case-swiper-1-wrap
							.swiper.case__swiper-2
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента обвинили по ч. 1 ст. 228 УК РФ - торговля наркотическими веществами.
												.case__item.grid-case-2
													span трудность
													p На основании нашей практики обвинения в продаже наркотических веществ практически всегда грозят реальным сроком.
												.case__item.grid-case-3
													span результат
													p 4 года лишения свободы условно с 3 годами испытательного срока
										.case__bottom
											span Добились условного срока за наркотики
											p Изначально клиента обвинили в продаже наркотических веществ, и практически всегда это грозит тюремным сроком. Агентством были собраны улики, выстроена линия защиты и продуманы доводы для суда. Благодаря этим фактам удалось избежать тюремного срока. В итоге суд <b>смягчил</b> наказание до <b>4-х лет заключения условно</b>, 3 из которых были испытательным сроком.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента задержали по ч.1 ст. 161 УК РФ, обвинив в грабеже.
												.case__item.grid-case-2
													span трудность
													p Против клиента были все улики: опознан потерпевшими, имелись свидетели преступления по делу, транспортное средство было задержано и при досмотре обнаружены предметы преступления.
												.case__item.grid-case-3
													span результат
													p Уголовное дело в отношении клиента было прекращено.
										.case__bottom
											span Добились для клиента мирового соглашения по обвинению в грабеже, когда все улики были против
											p Первоначально родственники обратились за помощью, когда клиента задержали по обвинению в грабеже. После изучения материалов дела возникли сложности, потому что все улики были против клиента. Проанализировав все обстоятельства и согласовав позицию по делу со своим подзащитным, выработали единственно правильную линию защиты, связанную с примирением сторон. В итоге <b>уголовное дело</b> в отношении клиента <b>было прекращено.</b> 

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента обвинили в ч. 1 ст. 115 УК РФ – умышленное причинение легкого вреда здоровью.
												.case__item.grid-case-2
													span трудность
													p Потерпевшая настаивала на причиненных телесных повреждениях, предоставив медицинское заключение.
												.case__item.grid-case-3
													span результат
													p С клиента сняли все обвинения из-за отсутствия состава преступления.
										.case__bottom
											span Прекратили в отношении клиента дело о причинении умышленных телесных повреждений  
											p Клиента обвинили в ч. 1 ст. 115 УК РФ, умышленное причинение легкого вреда здоровью. Клиент от обвинения отказался настаивая на то, что не причинял вред здоровью потерпевшего. Сложность состояла в предоставлении потерпевшей медицинского заключения.  На основании слов клиента агентство начало сбор доказательств и выстроило линию защиты в сторону исключения из обвинения степени тяжести причиненных повреждений. В итоге благодаря грамотно выстроенной защите и доводам агентства <b>с клиента сняли</b> все <b>обвинения</b> и отказали в удовлетворении гражданского иска.  
								.swiper-navigation 
									.swiper-button-prev 
									.swiper-button-next
								.swiper-pagination

					//- Трудовые споры
					.case__tab-pane.tab-pane 
						.case-swiper-1-wrap
							.swiper.case__swiper-3
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p  Работодатель не выплачивал задолженность по заработной плате клиенту и не возвращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решать спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов.
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензий и в досудебном порядке, рекомендуя обратиться в суд. Однако благодаря грамотно составленной досудебной претензии, сильной позиции на переговорах и детальному описанию судебной практики по данному вопросу удалось прийти к крайне выгодному для клиента соглашению. Клиенту была выплачена не только зарплата, но и оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсация морального вреда и даже часть юридических расходов.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиент был уволен за неоднократное неисполнение должностных обязанностей по мнению работодателя
												.case__item.grid-case-2 
													span трудность
													p Работодатель искусственно затягивал судебный процесс, требуя присутствие доверителя
												.case__item.grid-case-3
													span результат
													p Клиент был восстановлен на работе: работодатель выплатил зарплату в размере <b>763 976 ₽ </b> и компенсацию морального вреда в размере <b>10 000 ₽ </b>. 
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя 770 000 ₽.
											p Изначально клиентом был подан иск в Лефортовский районный суд. В процессе работы были изучены и добавлены к делу исковые требования, дополнительные доказательства, а также уточнена правовая позиция по иску. 
											p На 1-ом заседании суд настоял на присутствии доверителя и заседание перенесли. Между заседаниями мы провели встречи с клиентом для проработки его выступления в суде.
											p 2-е заседание было отложено для запроса сведений о выдаче листа нетрудоспособности. 
											p На 3-м заседании была проведена большая работа по опровержению аргументов и доказательств стороны работодателя. Благодаря правильному исковому заявлению и выступлению нашего доверителя, суд вынес решение о восстановлении клиента на работе. В его пользу взыскан средний заработок в размере <b>763 976 ₽</b> и компенсация морального вреда в размере <b>10 000 ₽.</b> 
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиент был сокращен и не получил положенную компенсацию.
												.case__item.grid-case-2 
													span Трудность
													p Районный суд города Москвы отказал в нашем иске
												.case__item.grid-case-3
													span Результат
													p Взыскали с работодателя невыплаченную заработную плату в размере  <b>1 445 705 ₽</b>, компенсацию за неиспользованный отпуск в размере 63 975 ₽ и  компенсацию морального вреда в размере <b>5 000 ₽</b>.
										.case__bottom
											span Взыскали с работодателя 1 500 000 ₽ за незаконное сокращение
											p Первоначально нами был подан иск о незаконном сокращении клиента, а также о нарушении процедуры увольнения и задолженности по выплате за сверхурочную работу и неиспользованный отпуск 
											p Но районный суд отказал в нашем иске. Мы дополнили доказательства, подали апелляцию в Судебную коллегию по гражданским делам, и она отменила решение районного суда, взыскав с работодателя невыплаченную заработную плату в размере  <b>1 445 705 ₽</b>, компенсацию за неиспользованный отпуск в размере <b>63 975 ₽</b>, компенсацию морального вреда в размере <b>5 000 ₽</b>. 
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиента незаконно уволили и судом первой инстанции было отказано в иске
												.case__item.grid-case-2 
													span Трудность
													p В материалах дела было много неточностей, неправильного истолкования обстоятельств и не применимых норм права.
												.case__item.grid-case-3
													span Результат
													p Клиента восстановили на работе и взыскали с работодателя средний заработок в размере <b>1 300 000 ₽</b>.
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя 1 300 000 ₽
											p Изначально клиент подал иск на работодателя из-за незаконного увольнения и требования компенсации за вынужденные прогулы. В иске было отказано, и клиент подал апелляцию, которая осталось без движения. 
											p Провели большую работу по разбору материалов дела, практически создав все с нуля. В итоге апелляционная инстанция Мосгорсуда изменила решение суда первой инстанции: удовлетворила требования клиента о восстановлении на работе и взыскала с работодателя средний заработок в размере <b>1 300 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск клиента с ООО «Комплексный сервис» о восстановлении на работе.
												.case__item.grid-case-2 
													span Трудность
													p В процессе разбирательства проводились консультации по достижению условий мирного урегулирования спора.
												.case__item.grid-case-3
													span Результат
													p Решили вопрос мирно и работодатель выплатил денежную сумму, которая устроила клиента.
										.case__bottom
											span После увольнения клиента убедили работодателя выплатить … 
											p В начале мы представляли интересы клиента в суде, по иску о восстановлении на работе. Иск клиент подал сам. 
											p В процессе судебного разбирательства изучили доказательства и исковые требования клиента, а также провели консультацию по достижения мирного урегулирования спора.
											p Предоставив работодателю все доказательства и доводы клиента, работодатель согласился решить вопрос мирно и выплатил денежную сумму, которая устроила клиента. 

									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p В связи с закрытием филиала клиента уволили за грубое нарушение трудовых обязательств на основании п. 10 ч. 1 ст. 81 Трудового кодекса РФ
												.case__item.grid-case-2 
													span Трудность
													p Работодатель отказывался выплачивать денежные средства в связи с увольнением, во время судебного процесса потребовалось привлечь свидетеля.
												.case__item.grid-case-3
													span Результат
													p <b>Восстановили</b> клиента на работе и взыскали денежные средства в размере <b>269 000 ₽</b> за вынужденный прогул, <b>10 000 ₽</b> компенсации морального вреда.
										.case__bottom
											span Восстановили клиента на работе после увольнения по статье и взыскали с работодателя 270 000 ₽
											p Изначально клиент был уволен по статье с грубым нарушением процедуры увольнения. Агентством были изучены материалы дела и дано заключение о нарушении норм трудового права в отношении клиента. 
											p После проработки ситуаций и документов, был подготовлен иск в Хамовнический районный суд. На одном из заседаний был допрошен в качестве свидетеля бывший генеральный директор работодателя, который пояснил ситуацию увольнения сотрудников и конкретно клиента. 
											p Благодаря грамотно выстроенной защите и убедительным доводам агентства, суд <b>обязал работодателя восстановить</b> клиента на работе. А также взыскал денежные средства в размере <b>269 000 ₽</b> за вынужденный прогул, <b>10 000 ₽</b> компенсации морального вреда.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент подал иск на работодателя и заключил договор на представление его интересов в суде.
												.case__item.grid-case-2 
													span Трудность
													p Работодатель затягивал судебный процесс и несколько заседаний было отложено по различным причинам.
												.case__item.grid-case-3
													span Результат
													p С работодателя взыскан средний заработок <b>29 000 000 ₽</b> и невыплаченная заработная плата <b>2 000 000 ₽</b>.
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя <b>31 000 000 ₽</b>.
											p Агентство представляло интересы клиента в суде по иску о восстановлении на работе. Иск клиент подал сам. 
											p Специалисты агентства собрали доказательства и доводы клиента, построив линию защиты, но несколько судебных заседаний были перенесены. Это дало нам время проработать и подготовить выступление клиента к заседанию. 
											p В итоге, благодаря доводам агентства и убедительному выступлению клиента, суд вынес решение о восстановлении на работе. С работодателя в пользу клиента взыскан средний заработок <b>29 000 000 ₽</b> и невыплаченная заработная плата <b>2 000 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Беременную клиентку незаконно уволили с работы
												.case__item.grid-case-2 
													span Трудность
													p Работодатель отказывался решить претензию в досудебном порядке.
												.case__item.grid-case-3
													span Результат
													p Клиент был восстановлен на работе, получил заработную плату в размере <b>150 000 ₽</b> и компенсацию морального вреда <b>500 000 ₽</b>.
										.case__bottom
											span В досудебном порядке взыскали с работодателя 650 000 ₽ и восстановили клиента на работе после увольнения
											p Изначально агентство подало иск в суд, и с копией иска мы обратились к работодателю. Благодаря убедительным доводам мы смогли прийти к мирному соглашению. Клиент был восстановлен на работе, получил заработную плату в размере <b>150 000 ₽</b> за вынужденный прогул и компенсацию морального вреда <b>500 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент не заключил договор с работодателем и был обманут.
												.case__item.grid-case-2 
													span Трудность
													p Работодатель предлагал мировую, но мы отказались из-за плохих условий для клиента.
												.case__item.grid-case-3
													span Результат
													p Клиент восстановлен на работе, в его пользу взыскано <b>2 000 000 ₽</b> среднего заработка.
										.case__bottom
											span Помогли клиенту подтвердить рабочие отношения с работодателем и взыскали 2 000 000 ₽.
											p Первоначально мы подготовили и направили в Лефортовский районный суд иск, который суд принял. На судебном заседании, работодатель предложил решить все мирно, выдвинув выгодные для себя условия. Агентство вместе с клиентом рискнули и отказалось от предложения мировой. 
											p Допросив свидетелей обеих сторон, риск оказался оправданным. В итоге суд удовлетворил наши требования в полном объеме и отношения были признаны трудовыми. Клиент восстановлен на работе, в его пользу взыскано <b>2 000 000 ₽</b> среднего заработка.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1 
													span Первоначальное положение
													p Клиенту отказали в установлении пенсии.
												.case__item.grid-case-2
													span Трудность
													p ПФР всегда пытается исключить  из трудового стажа какой-то период трудовой деятельности.
												.case__item.grid-case-3 
													span Результат
													p Добились требования, обязать ПФР установить пенсию клиенту в полном объеме.
										.case__bottom
											span Заставили ПФР оформить пенсионную выплату в соответствии со стажем клиента.
											p Изначально агентство проанализировало доводы клиента и доказательства трудовой деятельности, подготовило и направило в Измайловский районный суд иск о том, что ПФР отказало в установлении пенсии. Благодаря проведенной работе совместно с клиентом была собрана доказательная база. Что-то удалось собрать самим, что-то через судебные запросы. В итоге выслушав наши доказательства, суд удовлетворил исковые требования и обязал ПФР установить пенсию клиенту в полном объеме.
								.swiper-navigation 
									.swiper-button-prev 
									.swiper-button-next
								.swiper-pagination

					//- Недвижимость
					.case__tab-pane.tab-pane 
						.case-swiper-1-wrap
							.swiper.case__swiper-4
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Помощь клиенту в сопровождении сделки купли-продажи прав на объект недвижимого имущества в виде здания детского сада.
												.case__item.grid-case-2
													span трудность
													p Права собственности на здание и права аренды на земельный участок оформлены на АНО.
												.case__item.grid-case-3
													span результат
													p Убедили клиента, что заключение сделки принесет крупные финансовые потери в размере 40 000 000 ₽.
										.case__bottom
											span Уберегли от рискованной сделки по покупке недвижимости, сохранив 40 миллионов ₽ клиенту
											p Агентство сопровождало сделку по покупке здания детского сада, которое клиент планировал переоборудовать под отель. Изучив все полученные документы, агентством было дано отрицательное заключение по сделке, потому что право собственности и право аренды было оформлено в АНО. Изменить сферу деятельности в АНО сложно, что принесет крупные финансовые потери и в данном случае становится экономически невыгодным для клиента, даже с учетом низкой стоимости недвижимости. 
											p В итоге агентством подсчитаны вложенные средства, возможные финансовые потери и для клиента эта сделка могла бы быть  на 40 000 000 ₽ убыточной.


									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Агентство сопровождало покупку квартиры, которую клиент хотел приобрести.
												.case__item.grid-case-2
													span трудность
													p У квартиры была сложная «история», судебные разбирательства по выселению, переходы права собственности. 
												.case__item.grid-case-3
													span результат
													p Изучив все документы, связанные с квартирой, вынесли положительное решение по сделке.
										.case__bottom
											span Помогли клиенту в покупке квартиры с «Историей»
											p Изначально клиент подобрал себе квартиру мечты и обратился в агентство за помощью в сопровождении сделки. Квартира проходила по судебным разбирательствам о выселении и нескольким переходам права собственности. В целом такие дела трудные для юристов из-за большого количества документов, связанных с недвижимостью. Агентство запросило документы из архивов по данному объекту и внимательно изучило их вместе с документами от клиента. В итоге приняли положительное решение по сделке о покупке квартиры.  

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент покупал имущественный комплекс, который включал 2 земельных участка и находящиеся на них строения.
												.case__item.grid-case-2
													span трудность
													p Комплекс представляет собой предприятие по переработке древесины и требовал глубокого правового анализа перед заключение сделки.
												.case__item.grid-case-3
													span результат
													p После тщательной проверки документов от продавца и клиента приняли положительное решение по покупке комплекса.
										.case__bottom
											span Дистанционно сопроводили покупку комплекса по переработке древесины
											p Первоначально клиент покупал имущественный комплекс из 2-х участков, включая находящиеся на них здания,и привлек агентство для сопровождения сделки. Комплекс представлял из себя предприятие по переработке древесины, а значит, требовало анализа множество документов. Чтобы клиент не понес финансовые потери, агентство углубленно изучило все имеющиеся документы. В итоге было принято решение о заключение сделки по покупке этого предприятия.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиенту требовалось сопровождение продажи участка с жилым домом.
												.case__item.grid-case-2
													span трудность
													p Участок представлял из себя 2 юридически разных частка, в котором только 1-я часть была в собственности продавца, а 2-я оформлялась.
												.case__item.grid-case-3
													span результат
													p Агентство помогло клиенту заключить предварительный договор с продавцом, после которого было полностью закончено оформление 2-й части участка. Сделка для клиента прошла успешно. 
										.case__bottom
											span Сопровождали сделку купли-продажи юридически 2-х разных участков
											p Изначально клиент приобретал участок земли с домом, но во время оформления оказалось, что юридически участок представляет из себя 2 разных участка, один из которых еще не был оформлен на продавца. Агентством были внимательно изучены документы на недвижимость и заключен предварительный договор. Это позволило клиенту точно приобрести данный участок после оформления 2-й части продавцом. В итоге все части участка были корректно оформлены, и клиент заключил полноценный договор купли-продажи, став обладателем участка. 


								.swiper-pagination
								.swiper-navigation
									.swiper-button-prev 
									.swiper-button-next

					//- Все
					.case__tab-pane.tab-pane 
						.case-swiper-1-wrap
							.swiper.case__swiper-5
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент подал иск об определении порядка общения с ребенком, проживающим с матерью.
												.case__item.grid-case-2
													span трудность
													p  Мать ребенка подала встречный иск о выплате ежемесячных алиментов в размере 340 000 ₽.
												.case__item.grid-case-3
													span результат
													p Ежемесячная выплата была уменьшена до 40 000 ₽ и получено разрешение для клиента регулярно созваниваться и встречаться с ребенком.
										.case__bottom
											span Уменьшили ежемесячные выплаты с 340 000 ₽ до 40 000 ₽ и добились регулярных встреч с ребенком
											p Клиент, гражданин США и ЮАР, подал иск по определению порядка встречи с ребенком, который живет с мамой на территории РФ. Затем мама ребенка подала встречный иск о выплате клиентом 340 000 ₽ ежемесячно.
											p Собрав доказательную базу и выстроив защиту по 2-м искам, агентство вместе с клиентом выступили на судебном заседании. В итоге благодаря убедительному выступлению, смогли уменьшить алименты до >b>40 000 ₽</b> и <b>добились регулярных встреч</b> с ребенком.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Агенство подало иск в Одинцовский городской суд о взыскании неустойки по невыплаченным алиментам.
												.case__item.grid-case-2
													span трудность
													p  Было проведено несколько продолжительных судебных заседаний, которые откладывались из-за отца ребенка.
												.case__item.grid-case-3
													span результат
													p Взыскали с отца 100 000 ₽ неустойки и назначили 50 000 ₽ ежемесячных выплат.
										.case__bottom
											span Удалось добиться  50 000 ₽ алиментов и взыскать <b>100 000 ₽</b> за невыплаченные алименты
											p Изначально мы подали иск о взыскании с отца неустойки за невыплаченные алименты нашей клиентке. После продолжительных заседаний суд частично взыскал неустойку в размере 100 000 ₽. Однако, благодаря доказательной базе и грамотному выступлению агентства, дополнительно присудили отцу выплату алиментов в размере <b>50 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент заключил договор с бывшим супругом на выплату алиментов и направил иск о невыполнении своих обязательств по выплате.
												.case__item.grid-case-2
													span трудность
													p Договор был утерян, а суд может присудить значительно меньше, чем было прописано в документе.
												.case__item.grid-case-3
													span результат
													p Документ был найден и суд удовлетворил иск. Взыскав с отца алименты за период до подачи иска - 3 года и присудил ежемесячные выплаты клиенту в размере <b>40 000 ₽</b>
										.case__bottom
											span Добились 40 000 ₽ ежемесячных алиментов по утерянному, нотариально заверенному договору между супругами
											p Первоначально клиент хотел подать иск о взыскании задолженности по алиментам на основании утерянного документа, который был заключено с бывшим супругом. 
											p Выплата в документе устраивала клиента, а без документа суд присудил бы выплату меньше. Агентством была проведена большая работа по поиску нотариуса, который оформлял соглашение. В итоге документ был найден, и суд взыскал с отца <b>задолженность за 3 года</b> по алиментам, а также, в соответствии с соглашением, установил ежемесячную выплату в размере <b>40 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p С клиента в судебном порядке взыскана неустойка по алиментным в 1 000 000 ₽.
												.case__item.grid-case-2
													span трудность
													p  Клиент пропустил сроки оспаривания приговора.
												.case__item.grid-case-3
													span результат
													p Восстановили сроки оспаривания и <b>уменьшили суммы</b> взыскания до <b>350 000 ₽</b>
										.case__bottom
											span Сэкономили для клиента 650 000 ₽ по судебному взысканию алиментов
											p Изначально с клиента взыскана неустойка по алиментам в 1 000 000 ₽, а время обжалования было пропущено. Агентство подготовило и подало апелляцию о восстановлении пропущенного срока, и районный суд восстановил срок подачи жалобы. 
											p Уже на судебном заседании благодаря выступлению агентства и грамотно подготовленным доказательствам, удалось обратить внимание на нашу позицию по апелляции и перейти к рассмотрению дела по правилам первой инстанции.
											p В итоге апелляционная инстанция вынесла новое решение, в соответствии с которым неустойка была уменьшена <b>до 365 000 ₽</b>, а агентство <b>сэкономило</b> для клиента <b>650 000 ₽</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка обратилась за помощью по лишению родительских прав отца ее ребенка.
												.case__item.grid-case-2
													span трудность
													p Сбор доказательств для суда, что отец не поддерживал общение с ребенком.
												.case__item.grid-case-3
													span результат
													p Суд занял позицию клиентки и удовлетворил иск в полном объеме.
										.case__bottom
											span Помогли лишить родительских прав отца, который не участвовал в жизни ребенка
											p Изначально клиент обратился за помощью, чтобы лишить родительских прав мужа. Отец ребенка с момента его рождения никаких отношений с ним не поддерживал, материально не обеспечивал и не принимает никакого участия в воспитании. Агентством были собраны доказательства для подготовки и удовлетворения иска. В итог суд занял позицию клиентки и удовлетворил иск в полном объеме, лишив отца родительских прав в отношении ребенка.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка обратилась за помощью в сопровождении иска о лишении родительских прав бывшего мужа.
												.case__item.grid-case-2
													span трудность
													p Сбор доказательств не только о лишении родительских прав, но и о взыскании задолженности по алиментам.
												.case__item.grid-case-3
													span результат
													p Требования были удовлетворены в полном объеме, бывший супруг был <b>лишен родительских прав в отношении несовершеннолетнего ребенка<b>, и в пользу клиентки <b>взыскана задолженность по алиментам</b>.
										.case__bottom
											span Лишили родительских прав отца ребенка и взыскали задолженность по алиментам в размере 286 000 ₽
											p Первоначально клиент обратился за сопровождением в суде по иску о лишении родительских прав бывшего мужа. Клиентка подала иск самостоятельно. В процессе сбора документов было найдено исполнительное производство в отношении отца ребенка о задолженности по алиментам. После постановления судебного пристава-исполнителя об определении задолженности и составления акта от органов опеки суд удовлетворил наши требования. В итоге бывший супруг был <b>лишен родительских прав в отношении несовершеннолетнего ребенка</b> и в пользу клиентки <b>взыскана задолженность по алиментам в размере 286 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск клиенту о проживании детей вместе с мамой.
												.case__item.grid-case-2
													span трудность
													p В большинстве случаев суд встает на сторону матери, поэтому требовалось собрать доказательства и провести экспертизы.
												.case__item.grid-case-3
													span результат
													p Встречный иск был удовлетворен в полном объеме.
										.case__bottom
											span Удалось добиться определения места жительства старшего ребёнка с клиентом 
											p Изначально в отношении клиента был подан иск об определении места проживания детей с мамой. Нами был подан ответный иск. После сбора доказательств, изучения взаимоотношений детей друг с другом и проведения психолого-педагогической экспертизы суд удовлетворил наш иск. В итоге <b>иск</b> удовлетворен в полном объеме и <b>проживание</b> старшего ребенка было <b>определено с клиентом</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск к клиентке от бывшего супруга с требованием определить место проживания ребенка с ним
												.case__item.grid-case-2
													span трудность
													p Иск от бывшего супруга основывался на прохождении лечения клиентки и возникал вопрос о признании ее недееспособной 
												.case__item.grid-case-3
													span результат
													p Пришли к мирному соглашению, утвержденному судом, которое устроило клиентку.
										.case__bottom
											span Убедили отца ребенка прийти к мировому соглашению с клиенткой
											p Первоначально бывший супруг подал иск клиентке с требованием определить место проживания ребенка с ним и признать клиентку недееспособной на основании прохождения лечения в стационаре. Агентством были собраны доказательства и выписки из стационаров, проведена медицинская экспертиза о состоянии здоровья клиентки. На основании собранных документов и заключения экспертизы был подан встречный иск, параллельно велись переговоры с отцом о мирном соглашении. В итоге, <b>благодаря</b> собранным <b>доказательствам</b> и грамотно выстроенной линии защиты, <b>отец согласился на мирное соглашение</b>, которое устроило клиентку.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Мать добивалась полного запрета на встречи клиента с ребенком.
												.case__item.grid-case-2
													span трудность
													p Бабушка и дедушка настраивали ребенка против клиента, а ответчица настаивала на том, что отец негативно влияет на ребенка.
												.case__item.grid-case-3
													span результат
													p Добились 2-х встреч по 2 дня в месяц и проведение всего отпуска клиента с ребенком. 
										.case__bottom
											span Добились для клиента встреч с ребенком
											p Изначально клиент обратился за представлением интересов в суде, пытаясь определить порядок участия в жизни ребенка. Нами были собраны доказательства и показания ребенка, на основе которых выяснилось, что дедушка и бабушка безосновательно настраивают ребенка против отца, а ответчица настаивает на мнении, что отец негативно влияет на ребенка. Агентство выстроило линию защиты и провело встречи с клиентом, обсудив его выступление в суде. В итоге суд удовлетворил иск и присудил клиенту встречи с ребенком, а именно <b>2 встречи в месяц по 2 дня</b> и проведение всего <b>отпуска клиента с ребенком</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Мать настаивала на ее присутствии на встречах с ребенком в неудобное время для клиента.
												.case__item.grid-case-2
													span трудность
													p Был подготовлен досудебный договор, от которого мать отказалась.
												.case__item.grid-case-3
													span результат
													p Суд частично удовлетворил иск, определив только 1 удобный день вместо двух, но главное – клиент сможет встречаться с ребенком без участия матери. 
										.case__bottom
											span Помогли клиенту добиться встреч с ребенком без участия матери
											p Первоначально клиент обратился за помощью в решении проблемы в досудебном порядке, но мать отказалась от мирового соглашения. Агентством был подготовлен иск об определении встреч клиента с ребенком в удобное время и без участия матери. Личные встречи с ребенком были главной целью искового требования. Благодаря грамотно выстроенной защите и доводам агентства суд частично удовлетворил иск. В итоге <b>назначен 1 удобный день</b> для клиента на <b>встречу</b> с ребенком <b>без участия матери</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Исполнительное производство в отношение клиентки с требованием изменить установленный порядок общения отца с ребенком.
												.case__item.grid-case-2
													span трудность
													p Риск удовлетворения искового требования отца, в соответствие с которым клиентка не сможет присутствовать на встречах с ребенком.
												.case__item.grid-case-3
													span результат
													p В исковом требовании отца отказано, и установленный порядок, устраивающий клиентку, остался без изменений.
										.case__bottom
											span Помогли клиентке оставить без изменений установленный порядок общения отца с ребенком
											p Изначально отец подал иск с требованием изменить порядок общения с ребенком, значительно расширить временные рамки и настаивал на личных встречах без участия клиентки. Изучив собранные материалы дела, было дано заключение об отсутствии аргументов для изменения уже действующего порядка общения. В процессе судебного разбирательства получили выгодное заключение органов опеки, на основании которого суд отказал в исковом требовании отца. В итоге <b>установленный порядок общения</b> отца с ребенком <b>остался без изменений.</b> 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Бывшая супруга клиента пыталась исключить приобретенную в браке квартиру из совместно нажитого имущества
												.case__item.grid-case-2
													span трудность
													p Бывшая супруга предоставила в суде договор дарения денежных сумм ее отца, которые были направлены на покупку квартиры.
												.case__item.grid-case-3
													span результат
													p В суде агентство оспорило предоставленные документы и суд удовлетворил требования клиента, признав долевую собственность квартиры.
										.case__bottom
											span Добились признания клиента в долевой собственности на квартиру
											p Первоначально клиент обратился за предоставлением интересов в суде по иску об исключении квартиры, приобретенной в браке, из совместно нажитого имущества и исключении клиента из долевой собственности. Трудность заключалась в  договоре между бывшей супругой и ее отцом о предоставлении денежной суммы для покупки квартиры. Изучив договор и собрав необходимые документы со стороны клиента, убедили суд, что договор не является весомым доказательством. Судом не был принят договор о предоставлении денежной суммы, и в иске было отказано. В итоге решением суда <b>квартира осталась совместно нажитым имуществом</b>, а <b>клиент признан долевым владельцем.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент не мог договориться с супругой о разделе совместно нажитого имущества.
												.case__item.grid-case-2
													span трудность
													p Из-за увеличивающихся желаний клиента не могли прийти к мирному соглашению.
												.case__item.grid-case-3
													span результат
													p Заключили выгодный для клиента брачный договор с перевесом в имуществе.
										.case__bottom
											span Заключили брачный договор с большой уступкой собственности в пользу клиента
											p По рекомендации в агентство обратился клиент за правовой помощью из-за сложностей в споре между супругами по разделу имущества. Изучив требования клиента, был подготовлен мирный договор, с которым супруга согласилась. Но желания клиента стали расти, что является обычной практикой в таких делах. Наша главная задача заключалась в том, чтобы клиент получил то, что хочет. Договоренности начали рушиться и агентство начало подготовку к суду, оценивая имущество, собирая доказательства и подготавливая документы. Параллельно подготовили досудебное соглашение по новым требованиям, и благодаря доводам агентства супруга согласилась уступить большую часть объектов движимого и недвижимого имущества. В итоге <b>требования</b> клиента были <b>удовлетворены в досудебном порядке</b> и в полном объеме.упруга подписала <b>брачный договор с большими уступками в пользу клиента.</b> 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентку интересовало, какое имущество можно будет разделить при разводе.
												.case__item.grid-case-2
													span трудность
													p Большая часть имущества находилась за рубежом и, соответственно, представляло трудность для оценки.
												.case__item.grid-case-3
													span результат
													p Предоставили отчет для клиента по всему имуществу подлежащему разделу, недвижимому и движимому, а также денежным средствам.
										.case__bottom
											span Провели оценку совместно нажитого имущества в РФ и за рубежом для возможного раздела
											p Изначально клиент хотел провести анализ имущества для возможного раздела с бывшим мужем. Агентством было проведено множество встреч на которых выяснилось что, недвижимого имущества много и большая его доля находится за рубежом и представляет трудность для юридического оформления и анализа. Но благодаря многолетнему опыту юристов Честер - К, было составлен полный перечень и предоставлен отчет о движимом и недвижимом имуществе, а также денежных средств. Для возможного раздела совместно нажитого имущества, в случае возможного развода между супругами.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск в сторону клиентки о разделе совместно нажитого имущества.
												.case__item.grid-case-2
													span трудность
													p Квартира приобретена в ипотеку, и все платежи включая коммунальные платила клиентка. 
												.case__item.grid-case-3
													span результат
													p Суд поделил квартиру пополам и взыскал в пользу клиентки 400 000 ₽ с бывшего мужа.
										.case__bottom
											span Взыскали с бывшего мужа 400 000 ₽ в пользу клиентки за долю в квартире
											p Изначально клиентка попросила представлять ее интересы в суде по иску от бывшего мужа о разделе имущества. Предметом спора выступила квартира, купленная в ипотеку. Все платежи по ипотеке платила клиентка, включая коммунальные платежи. Агентство предложило клиентке сделать отчет об оценке и параллельно подготовило и подало встречный иск о выкупе доли мужа как малозначительную. Решение суда удовлетворило клиентку. В итоге суд <b>разделил квартиру пополам</b> и <b>взыскал</b> в <b>пользу клиентки 400 000 ₽</b> за платежи по кредиту и коммунальные услуги. 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Отказ нотариуса в признании права собственности на земельный участок по завещанию.
												.case__item.grid-case-2
													span трудность
													p В завещании были ошибки в дате рождения клиента, а также клиент был назван сыном, хотя биологически им не являлся. Другие наследники были против иска.
												.case__item.grid-case-3
													span результат
													p Суд удовлетворил иск в полном объеме
										.case__bottom
											span Добились признание клинта собственником участка после отказа нотариуса из-за ошибки в документах
											p Изначально нотариус отказал клиенту в праве собственности на часть земельного участка на основании завещания, ссылаясь на ошибки в личных данных клиента и факт, что в завещании его назвали сыном. Биологически клиент не являлся сыном покойному. Эти 2 ошибки и то, что другие наследники отказывались признавать законность наследства клиента, значительно усложняли задачу, и агентство начало сбор доказательств и подготовку иска в суд. Во время судебного процесса по просьбе агентства был допрошен нотариус, который оформлял договор. В итоге благодаря доводам агентства и словам нотариуса <b>суд удовлетворил иск клиента в полном объеме. </b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка вступала в наследство на квартиру, но сама проживала в Бельгии.
												.case__item.grid-case-2
													span трудность
													p На квартире висели долги, и был наложен арест приставами на регистрационные действия с квартирой.
												.case__item.grid-case-3
													span результат
													p Добились снятия ареста и помогли вступить в наследство клиентке.
										.case__bottom
											span Помогли клиентке из Бельгии без ее участия вступить в наследство и снять арест с квартиры в России
											p Первоначально клиентка должна была вступать в наследство на квартиру в РФ, но сама проживала в Бельгии. Чтобы агентство могло представлять интересы в полной мере, клиентка оформила доверенность в консульстве РФ в Бельгии. Практически сразу возникли трудности, на квартире был арест из-за долгов от наследодателя. Обошлось без суда, мы договорились с приставами, и клиентка оплатила долг за квартиру. В итоге агентством были получены свидетельство о праве на наследство квартиру и денежный вклад. В дальнейшем документы были переданы через посольство Бельгии в РФ вместе с выпиской из ЕГРН.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента обвинили по ч. 1 ст. 228 УК РФ - торговля наркотическими веществами.
												.case__item.grid-case-2
													span трудность
													p На основании нашей практики обвинения в продаже наркотических веществ практически всегда грозят реальным сроком.
												.case__item.grid-case-3
													span результат
													p 4 года лишения свободы условно с 3 годами испытательного срока
										.case__bottom
											span Добились условного срока за наркотики
											p Изначально клиента обвинили в продаже наркотических веществ, и практически всегда это грозит тюремным сроком. Агентством были собраны улики, выстроена линия защиты и продуманы доводы для суда. Благодаря этим фактам удалось избежать тюремного срока. В итоге суд <b>смягчил</b> наказание до <b>4-х лет заключения условно</b>, 3 из которых были испытательным сроком.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента задержали по ч.1 ст. 161 УК РФ, обвинив в грабеже.
												.case__item.grid-case-2
													span трудность
													p Против клиента были все улики: опознан потерпевшими, имелись свидетели преступления по делу, транспортное средство было задержано и при досмотре обнаружены предметы преступления.
												.case__item.grid-case-3
													span результат
													p Уголовное дело в отношении клиента было прекращено.
										.case__bottom
											span Добились для клиента мирового соглашения по обвинению в грабеже, когда все улики были против
											p Первоначально родственники обратились за помощью, когда клиента задержали по обвинению в грабеже. После изучения материалов дела возникли сложности, потому что все улики были против клиента. Проанализировав все обстоятельства и согласовав позицию по делу со своим подзащитным, выработали единственно правильную линию защиты, связанную с примирением сторон. В итоге <b>уголовное дело</b> в отношении клиента <b>было прекращено.</b> 

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента обвинили в ч. 1 ст. 115 УК РФ – умышленное причинение легкого вреда здоровью.
												.case__item.grid-case-2
													span трудность
													p Потерпевшая настаивала на причиненных телесных повреждениях, предоставив медицинское заключение.
												.case__item.grid-case-3
													span результат
													p С клиента сняли все обвинения из-за отсутствия состава преступления.
										.case__bottom
											span Прекратили в отношении клиента дело о причинении умышленных телесных повреждений  
											p Клиента обвинили в ч. 1 ст. 115 УК РФ, умышленное причинение легкого вреда здоровью. Клиент от обвинения отказался настаивая на то, что не причинял вред здоровью потерпевшего. Сложность состояла в предоставлении потерпевшей медицинского заключения.  На основании слов клиента агентство начало сбор доказательств и выстроило линию защиты в сторону исключения из обвинения степени тяжести причиненных повреждений. В итоге благодаря грамотно выстроенной защите и доводам агентства <b>с клиента сняли</b> все <b>обвинения</b> и отказали в удовлетворении гражданского иска.  
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p  Работодатель не выплачивал задолженность по заработной плате клиенту и не возвращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решать спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов.
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензий и в досудебном порядке, рекомендуя обратиться в суд. Однако благодаря грамотно составленной досудебной претензии, сильной позиции на переговорах и детальному описанию судебной практики по данному вопросу удалось прийти к крайне выгодному для клиента соглашению. Клиенту была выплачена не только зарплата, но и оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсация морального вреда и даже часть юридических расходов.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиент был уволен за неоднократное неисполнение должностных обязанностей по мнению работодателя
												.case__item.grid-case-2 
													span трудность
													p Работодатель искусственно затягивал судебный процесс, требуя присутствие доверителя
												.case__item.grid-case-3
													span результат
													p Клиент был восстановлен на работе: работодатель выплатил зарплату в размере <b>763 976 ₽ </b> и компенсацию морального вреда в размере <b>10 000 ₽ </b>. 
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя 770 000 ₽.
											p Изначально клиентом был подан иск в Лефортовский районный суд. В процессе работы были изучены и добавлены к делу исковые требования, дополнительные доказательства, а также уточнена правовая позиция по иску. 
											p На 1-ом заседании суд настоял на присутствии доверителя и заседание перенесли. Между заседаниями мы провели встречи с клиентом для проработки его выступления в суде.
											p 2-е заседание было отложено для запроса сведений о выдаче листа нетрудоспособности. 
											p На 3-м заседании была проведена большая работа по опровержению аргументов и доказательств стороны работодателя. Благодаря правильному исковому заявлению и выступлению нашего доверителя, суд вынес решение о восстановлении клиента на работе. В его пользу взыскан средний заработок в размере <b>763 976 ₽</b> и компенсация морального вреда в размере <b>10 000 ₽.</b> 
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиент был сокращен и не получил положенную компенсацию.
												.case__item.grid-case-2 
													span Трудность
													p Районный суд города Москвы отказал в нашем иске
												.case__item.grid-case-3
													span Результат
													p Взыскали с работодателя невыплаченную заработную плату в размере  <b>1 445 705 ₽</b>, компенсацию за неиспользованный отпуск в размере 63 975 ₽ и  компенсацию морального вреда в размере <b>5 000 ₽</b>.
										.case__bottom
											span Взыскали с работодателя 1 500 000 ₽ за незаконное сокращение
											p Первоначально нами был подан иск о незаконном сокращении клиента, а также о нарушении процедуры увольнения и задолженности по выплате за сверхурочную работу и неиспользованный отпуск 
											p Но районный суд отказал в нашем иске. Мы дополнили доказательства, подали апелляцию в Судебную коллегию по гражданским делам, и она отменила решение районного суда, взыскав с работодателя невыплаченную заработную плату в размере  <b>1 445 705 ₽</b>, компенсацию за неиспользованный отпуск в размере <b>63 975 ₽</b>, компенсацию морального вреда в размере <b>5 000 ₽</b>. 
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиента незаконно уволили и судом первой инстанции было отказано в иске
												.case__item.grid-case-2 
													span Трудность
													p В материалах дела было много неточностей, неправильного истолкования обстоятельств и не применимых норм права.
												.case__item.grid-case-3
													span Результат
													p Клиента восстановили на работе и взыскали с работодателя средний заработок в размере <b>1 300 000 ₽</b>.
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя 1 300 000 ₽
											p Изначально клиент подал иск на работодателя из-за незаконного увольнения и требования компенсации за вынужденные прогулы. В иске было отказано, и клиент подал апелляцию, которая осталось без движения. 
											p Провели большую работу по разбору материалов дела, практически создав все с нуля. В итоге апелляционная инстанция Мосгорсуда изменила решение суда первой инстанции: удовлетворила требования клиента о восстановлении на работе и взыскала с работодателя средний заработок в размере <b>1 300 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск клиента с ООО «Комплексный сервис» о восстановлении на работе.
												.case__item.grid-case-2 
													span Трудность
													p В процессе разбирательства проводились консультации по достижению условий мирного урегулирования спора.
												.case__item.grid-case-3
													span Результат
													p Решили вопрос мирно и работодатель выплатил денежную сумму, которая устроила клиента.
										.case__bottom
											span После увольнения клиента убедили работодателя выплатить … 
											p В начале мы представляли интересы клиента в суде, по иску о восстановлении на работе. Иск клиент подал сам. 
											p В процессе судебного разбирательства изучили доказательства и исковые требования клиента, а также провели консультацию по достижения мирного урегулирования спора.
											p Предоставив работодателю все доказательства и доводы клиента, работодатель согласился решить вопрос мирно и выплатил денежную сумму, которая устроила клиента. 

									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p В связи с закрытием филиала клиента уволили за грубое нарушение трудовых обязательств на основании п. 10 ч. 1 ст. 81 Трудового кодекса РФ
												.case__item.grid-case-2 
													span Трудность
													p Работодатель отказывался выплачивать денежные средства в связи с увольнением, во время судебного процесса потребовалось привлечь свидетеля.
												.case__item.grid-case-3
													span Результат
													p <b>Восстановили</b> клиента на работе и взыскали денежные средства в размере <b>269 000 ₽</b> за вынужденный прогул, <b>10 000 ₽</b> компенсации морального вреда.
										.case__bottom
											span Восстановили клиента на работе после увольнения по статье и взыскали с работодателя 270 000 ₽
											p Изначально клиент был уволен по статье с грубым нарушением процедуры увольнения. Агентством были изучены материалы дела и дано заключение о нарушении норм трудового права в отношении клиента. 
											p После проработки ситуаций и документов, был подготовлен иск в Хамовнический районный суд. На одном из заседаний был допрошен в качестве свидетеля бывший генеральный директор работодателя, который пояснил ситуацию увольнения сотрудников и конкретно клиента. 
											p Благодаря грамотно выстроенной защите и убедительным доводам агентства, суд <b>обязал работодателя восстановить</b> клиента на работе. А также взыскал денежные средства в размере <b>269 000 ₽</b> за вынужденный прогул, <b>10 000 ₽</b> компенсации морального вреда.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент подал иск на работодателя и заключил договор на представление его интересов в суде.
												.case__item.grid-case-2 
													span Трудность
													p Работодатель затягивал судебный процесс и несколько заседаний было отложено по различным причинам.
												.case__item.grid-case-3
													span Результат
													p С работодателя взыскан средний заработок <b>29 000 000 ₽</b> и невыплаченная заработная плата <b>2 000 000 ₽</b>.
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя <b>31 000 000 ₽</b>.
											p Агентство представляло интересы клиента в суде по иску о восстановлении на работе. Иск клиент подал сам. 
											p Специалисты агентства собрали доказательства и доводы клиента, построив линию защиты, но несколько судебных заседаний были перенесены. Это дало нам время проработать и подготовить выступление клиента к заседанию. 
											p В итоге, благодаря доводам агентства и убедительному выступлению клиента, суд вынес решение о восстановлении на работе. С работодателя в пользу клиента взыскан средний заработок <b>29 000 000 ₽</b> и невыплаченная заработная плата <b>2 000 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Беременную клиентку незаконно уволили с работы
												.case__item.grid-case-2 
													span Трудность
													p Работодатель отказывался решить претензию в досудебном порядке.
												.case__item.grid-case-3
													span Результат
													p Клиент был восстановлен на работе, получил заработную плату в размере <b>150 000 ₽</b> и компенсацию морального вреда <b>500 000 ₽</b>.
										.case__bottom
											span В досудебном порядке взыскали с работодателя 650 000 ₽ и восстановили клиента на работе после увольнения
											p Изначально агентство подало иск в суд, и с копией иска мы обратились к работодателю. Благодаря убедительным доводам мы смогли прийти к мирному соглашению. Клиент был восстановлен на работе, получил заработную плату в размере <b>150 000 ₽</b> за вынужденный прогул и компенсацию морального вреда <b>500 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент не заключил договор с работодателем и был обманут.
												.case__item.grid-case-2 
													span Трудность
													p Работодатель предлагал мировую, но мы отказались из-за плохих условий для клиента.
												.case__item.grid-case-3
													span Результат
													p Клиент восстановлен на работе, в его пользу взыскано <b>2 000 000 ₽</b> среднего заработка.
										.case__bottom
											span Помогли клиенту подтвердить рабочие отношения с работодателем и взыскали 2 000 000 ₽.
											p Первоначально мы подготовили и направили в Лефортовский районный суд иск, который суд принял. На судебном заседании, работодатель предложил решить все мирно, выдвинув выгодные для себя условия. Агентство вместе с клиентом рискнули и отказалось от предложения мировой. 
											p Допросив свидетелей обеих сторон, риск оказался оправданным. В итоге суд удовлетворил наши требования в полном объеме и отношения были признаны трудовыми. Клиент восстановлен на работе, в его пользу взыскано <b>2 000 000 ₽</b> среднего заработка.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1 
													span Первоначальное положение
													p Клиенту отказали в установлении пенсии.
												.case__item.grid-case-2
													span Трудность
													p ПФР всегда пытается исключить  из трудового стажа какой-то период трудовой деятельности.
												.case__item.grid-case-3 
													span Результат
													p Добились требования, обязать ПФР установить пенсию клиенту в полном объеме.
										.case__bottom
											span Заставили ПФР оформить пенсионную выплату в соответствии со стажем клиента.
											p Изначально агентство проанализировало доводы клиента и доказательства трудовой деятельности, подготовило и направило в Измайловский районный суд иск о том, что ПФР отказало в установлении пенсии. Благодаря проведенной работе совместно с клиентом была собрана доказательная база. Что-то удалось собрать самим, что-то через судебные запросы. В итоге выслушав наши доказательства, суд удовлетворил исковые требования и обязал ПФР установить пенсию клиенту в полном объеме.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Помощь клиенту в сопровождении сделки купли-продажи прав на объект недвижимого имущества в виде здания детского сада.
												.case__item.grid-case-2
													span трудность
													p Права собственности на здание и права аренды на земельный участок оформлены на АНО.
												.case__item.grid-case-3
													span результат
													p Убедили клиента, что заключение сделки принесет крупные финансовые потери в размере 40 000 000 ₽.
										.case__bottom
											span Уберегли от рискованной сделки по покупке недвижимости, сохранив 40 миллионов ₽ клиенту
											p Агентство сопровождало сделку по покупке здания детского сада, которое клиент планировал переоборудовать под отель. Изучив все полученные документы, агентством было дано отрицательное заключение по сделке, потому что право собственности и право аренды было оформлено в АНО. Изменить сферу деятельности в АНО сложно, что принесет крупные финансовые потери и в данном случае становится экономически невыгодным для клиента, даже с учетом низкой стоимости недвижимости. 
											p В итоге агентством подсчитаны вложенные средства, возможные финансовые потери и для клиента эта сделка могла бы быть  на 40 000 000 ₽ убыточной.


									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Агентство сопровождало покупку квартиры, которую клиент хотел приобрести.
												.case__item.grid-case-2
													span трудность
													p У квартиры была сложная «история», судебные разбирательства по выселению, переходы права собственности. 
												.case__item.grid-case-3
													span результат
													p Изучив все документы, связанные с квартирой, вынесли положительное решение по сделке.
										.case__bottom
											span Помогли клиенту в покупке квартиры с «Историей»
											p Изначально клиент подобрал себе квартиру мечты и обратился в агентство за помощью в сопровождении сделки. Квартира проходила по судебным разбирательствам о выселении и нескольким переходам права собственности. В целом такие дела трудные для юристов из-за большого количества документов, связанных с недвижимостью. Агентство запросило документы из архивов по данному объекту и внимательно изучило их вместе с документами от клиента. В итоге приняли положительное решение по сделке о покупке квартиры.  

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент покупал имущественный комплекс, который включал 2 земельных участка и находящиеся на них строения.
												.case__item.grid-case-2
													span трудность
													p Комплекс представляет собой предприятие по переработке древесины и требовал глубокого правового анализа перед заключение сделки.
												.case__item.grid-case-3
													span результат
													p После тщательной проверки документов от продавца и клиента приняли положительное решение по покупке комплекса.
										.case__bottom
											span Дистанционно сопроводили покупку комплекса по переработке древесины
											p Первоначально клиент покупал имущественный комплекс из 2-х участков, включая находящиеся на них здания,и привлек агентство для сопровождения сделки. Комплекс представлял из себя предприятие по переработке древесины, а значит, требовало анализа множество документов. Чтобы клиент не понес финансовые потери, агентство углубленно изучило все имеющиеся документы. В итоге было принято решение о заключение сделки по покупке этого предприятия.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиенту требовалось сопровождение продажи участка с жилым домом.
												.case__item.grid-case-2
													span трудность
													p Участок представлял из себя 2 юридически разных частка, в котором только 1-я часть была в собственности продавца, а 2-я оформлялась.
												.case__item.grid-case-3
													span результат
													p Агентство помогло клиенту заключить предварительный договор с продавцом, после которого было полностью закончено оформление 2-й части участка. Сделка для клиента прошла успешно. 
										.case__bottom
											span Сопровождали сделку купли-продажи юридически 2-х разных участков
											p Изначально клиент приобретал участок земли с домом, но во время оформления оказалось, что юридически участок представляет из себя 2 разных участка, один из которых еще не был оформлен на продавца. Агентством были внимательно изучены документы на недвижимость и заключен предварительный договор. Это позволило клиенту точно приобрести данный участок после оформления 2-й части продавцом. В итоге все части участка были корректно оформлены, и клиент заключил полноценный договор купли-продажи, став обладателем участка. 
								.swiper-navigation
									.swiper-button-prev 
									.swiper-button-next
								.swiper-pagination