section.section.case 
	.container 
		.case__wrap 
			h2(data-aos="fade-right").section__title.case__title 96% дел выигрываем
			p.section__subtitle.case__subtitle В остальных 4% снижаем взыскиваемые суммы на 30% и смягчаем судебное решение
			.tab-container3
				.case__tab-panes.tab-panes
					//- Недвижимость
					.case__tab-pane.tab-pane.active 
						.case-swiper-1-wrap
							.swiper.case__swiper-4
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Помощь клиенту в сопровождении сделки купли-продажи прав на объект недвижимого имущества в виде здания детского сада.
												.case__item.grid-case-2
													span трудность
													p Права собственности на здание и права аренды на земельный участок оформлены на АНО.
												.case__item.grid-case-3
													span результат
													p Убедили клиента, что заключение сделки принесет крупные финансовые потери в размере 40 000 000 ₽.
										.case__bottom
											span Уберегли от рискованной сделки по покупке недвижимости, сохранив 40 миллионов ₽ клиенту
											p Агентство сопровождало сделку по покупке здания детского сада, которое клиент планировал переоборудовать под отель. Изучив все полученные документы, агентством было дано отрицательное заключение по сделке, потому что право собственности и право аренды было оформлено в АНО. Изменить сферу деятельности в АНО сложно, что принесет крупные финансовые потери и в данном случае становится экономически невыгодным для клиента, даже с учетом низкой стоимости недвижимости. 
											p В итоге агентством подсчитаны вложенные средства, возможные финансовые потери и для клиента эта сделка могла бы быть  на 40 000 000 ₽ убыточной.


									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Агентство сопровождало покупку квартиры, которую клиент хотел приобрести.
												.case__item.grid-case-2
													span трудность
													p У квартиры была сложная «история», судебные разбирательства по выселению, переходы права собственности. 
												.case__item.grid-case-3
													span результат
													p Изучив все документы, связанные с квартирой, вынесли положительное решение по сделке.
										.case__bottom
											span Помогли клиенту в покупке квартиры с «Историей»
											p Изначально клиент подобрал себе квартиру мечты и обратился в агентство за помощью в сопровождении сделки. Квартира проходила по судебным разбирательствам о выселении и нескольким переходам права собственности. В целом такие дела трудные для юристов из-за большого количества документов, связанных с недвижимостью. Агентство запросило документы из архивов по данному объекту и внимательно изучило их вместе с документами от клиента. В итоге приняли положительное решение по сделке о покупке квартиры.  

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент покупал имущественный комплекс, который включал 2 земельных участка и находящиеся на них строения.
												.case__item.grid-case-2
													span трудность
													p Комплекс представляет собой предприятие по переработке древесины и требовал глубокого правового анализа перед заключение сделки.
												.case__item.grid-case-3
													span результат
													p После тщательной проверки документов от продавца и клиента приняли положительное решение по покупке комплекса.
										.case__bottom
											span Дистанционно сопроводили покупку комплекса по переработке древесины
											p Первоначально клиент покупал имущественный комплекс из 2-х участков, включая находящиеся на них здания,и привлек агентство для сопровождения сделки. Комплекс представлял из себя предприятие по переработке древесины, а значит, требовало анализа множество документов. Чтобы клиент не понес финансовые потери, агентство углубленно изучило все имеющиеся документы. В итоге было принято решение о заключение сделки по покупке этого предприятия.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиенту требовалось сопровождение продажи участка с жилым домом.
												.case__item.grid-case-2
													span трудность
													p Участок представлял из себя 2 юридически разных частка, в котором только 1-я часть была в собственности продавца, а 2-я оформлялась.
												.case__item.grid-case-3
													span результат
													p Агентство помогло клиенту заключить предварительный договор с продавцом, после которого было полностью закончено оформление 2-й части участка. Сделка для клиента прошла успешно. 
										.case__bottom
											span Сопровождали сделку купли-продажи юридически 2-х разных участков
											p Изначально клиент приобретал участок земли с домом, но во время оформления оказалось, что юридически участок представляет из себя 2 разных участка, один из которых еще не был оформлен на продавца. Агентством были внимательно изучены документы на недвижимость и заключен предварительный договор. Это позволило клиенту точно приобрести данный участок после оформления 2-й части продавцом. В итоге все части участка были корректно оформлены, и клиент заключил полноценный договор купли-продажи, став обладателем участка. 


								.swiper-pagination
								.swiper-navigation
									.swiper-button-prev 
									.swiper-button-next

