section.section.case 
	.container 
		.case__wrap 
			h2(data-aos="fade-right").section__title.case__title 96% дел выигрываем
			p.section__subtitle.case__subtitle В остальных 4% снижаем взыскиваемые суммы на 30% и смягчаем судебное решение
			.tab-container3
				.case__tab-panes.tab-panes 
					//- Уголовные дела
					.case__tab-pane.tab-pane.active
						.case-swiper-1-wrap
							.swiper.case__swiper-2
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента обвинили по ч. 1 ст. 228 УК РФ - торговля наркотическими веществами.
												.case__item.grid-case-2
													span трудность
													p На основании нашей практики обвинения в продаже наркотических веществ практически всегда грозят реальным сроком.
												.case__item.grid-case-3
													span результат
													p 4 года лишения свободы условно с 3 годами испытательного срока
										.case__bottom
											span Добились условного срока за наркотики
											p Изначально клиента обвинили в продаже наркотических веществ, и практически всегда это грозит тюремным сроком. Агентством были собраны улики, выстроена линия защиты и продуманы доводы для суда. Благодаря этим фактам удалось избежать тюремного срока. В итоге суд <b>смягчил</b> наказание до <b>4-х лет заключения условно</b>, 3 из которых были испытательным сроком.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента задержали по ч.1 ст. 161 УК РФ, обвинив в грабеже.
												.case__item.grid-case-2
													span трудность
													p Против клиента были все улики: опознан потерпевшими, имелись свидетели преступления по делу, транспортное средство было задержано и при досмотре обнаружены предметы преступления.
												.case__item.grid-case-3
													span результат
													p Уголовное дело в отношении клиента было прекращено.
										.case__bottom
											span Добились для клиента мирового соглашения по обвинению в грабеже, когда все улики были против
											p Первоначально родственники обратились за помощью, когда клиента задержали по обвинению в грабеже. После изучения материалов дела возникли сложности, потому что все улики были против клиента. Проанализировав все обстоятельства и согласовав позицию по делу со своим подзащитным, выработали единственно правильную линию защиты, связанную с примирением сторон. В итоге <b>уголовное дело</b> в отношении клиента <b>было прекращено.</b> 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиента обвинили в ч. 1 ст. 115 УК РФ – умышленное причинение легкого вреда здоровью.
												.case__item.grid-case-2
													span трудность
													p Потерпевшая настаивала на причиненных телесных повреждениях, предоставив медицинское заключение.
												.case__item.grid-case-3
													span результат
													p С клиента сняли все обвинения из-за отсутствия состава преступления.
										.case__bottom
											span Прекратили в отношении клиента дело о причинении умышленных телесных повреждений  
											p Клиента обвинили в ч. 1 ст. 115 УК РФ, умышленное причинение легкого вреда здоровью. Клиент от обвинения отказался настаивая на то, что не причинял вред здоровью потерпевшего. Сложность состояла в предоставлении потерпевшей медицинского заключения.  На основании слов клиента агентство начало сбор доказательств и выстроило линию защиты в сторону исключения из обвинения степени тяжести причиненных повреждений. В итоге благодаря грамотно выстроенной защите и доводам агентства <b>с клиента сняли</b> все <b>обвинения</b> и отказали в удовлетворении гражданского иска.
								.swiper-navigation
									.swiper-button-prev 
									.swiper-button-next
								.swiper-pagination