section.section.case 
	.container 
		.case__wrap 
			h2(data-aos="fade-right").section__title.case__title 96% дел выигрываем
			p.section__subtitle.case__subtitle В остальных 4% снижаем взыскиваемые суммы на 30% и смягчаем судебное решение
			.tab-container3
				.case__tab-panes.tab-panes 
					//- Трудовые споры
					.case__tab-pane.tab-pane.active
						.case-swiper-1-wrap
							.swiper.case__swiper-3
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p  Работодатель не выплачивал задолженность по заработной плате клиенту и не возвращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решать спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов.
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензии и в досудебном порядке, рекомендуя обратиться в суд. Однако благодаря грамотно составленной досудебной претензии, сильной позиции на переговорах и детальному описанию судебной практики по данному вопросу удалось прийти к крайне выгодному для клиента соглашению. Клиенту была выплачена не только зарплата, но и оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсация морального вреда и даже часть юридических расходов.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиент был уволен за неоднократное неисполнение должностных обязанностей по мнению работодателя
												.case__item.grid-case-2 
													span трудность
													p Работодатель искусственно затягивал судебный процесс, требуя присутствие доверителя
												.case__item.grid-case-3
													span результат
													p Клиент был восстановлен на работе: работодатель выплатил зарплату в размере <b>763 976 ₽ </b> и компенсацию морального вреда в размере <b>10 000 ₽ </b>. 
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя 770 000 ₽.
											p Изначально клиентом был подан иск в Лефортовский районный суд. В процессе работы были изучены и добавлены к делу исковые требования, дополнительные доказательства, а также уточнена правовая позиция по иску. 
											p На 1-ом заседании суд настоял на присутствии доверителя и заседание перенесли. Между заседаниями мы провели встречи с клиентом для проработки его выступления в суде.
											p 2-е заседание было отложено для запроса сведений о выдаче листа нетрудоспособности. 
											p На 3-м заседании была проведена большая работа по опровержению аргументов и доказательств стороны работодателя. Благодаря правильному исковому заявлению и выступлению нашего доверителя, суд вынес решение о восстановлении клиента на работе. В его пользу взыскан средний заработок в размере <b>763 976 ₽</b> и компенсация морального вреда в размере <b>10 000 ₽.</b> 
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиент был сокращен и не получил положенную компенсацию.
												.case__item.grid-case-2 
													span Трудность
													p Районный суд города Москвы отказал в нашем иске
												.case__item.grid-case-3
													span Результат
													p Взыскали с работодателя невыплаченную заработную плату в размере  <b>1 445 705 ₽</b>, компенсацию за неиспользованный отпуск в размере 63 975 ₽ и  компенсацию морального вреда в размере <b>5 000 ₽</b>.
										.case__bottom
											span Взыскали с работодателя 1 500 000 ₽ за незаконное сокращение
											p Первоначально нами был подан иск о незаконном сокращении клиента, а также о нарушении процедуры увольнения и задолженности по выплате за сверхурочную работу и неиспользованный отпуск 
											p Но районный суд отказал в нашем иске. Мы дополнили доказательства, подали апелляцию в Судебную коллегию по гражданским делам, и она отменила решение районного суда, взыскав с работодателя невыплаченную заработную плату в размере  <b>1 445 705 ₽</b>, компенсацию за неиспользованный отпуск в размере <b>63 975 ₽</b>, компенсацию морального вреда в размере <b>5 000 ₽</b>. 
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение:
													p Клиента незаконно уволили и судом первой инстанции было отказано в иске
												.case__item.grid-case-2 
													span Трудность
													p В материалах дела было много неточностей, неправильного истолкования обстоятельств и не применимых норм права.
												.case__item.grid-case-3
													span Результат
													p Клиента восстановили на работе и взыскали с работодателя средний заработок в размере <b>1 300 000 ₽</b>.
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя 1 300 000 ₽
											p Изначально клиент подал иск на работодателя из-за незаконного увольнения и требования компенсации за вынужденные прогулы. В иске было отказано, и клиент подал апелляцию, которая осталось без движения. 
											p Провели большую работу по разбору материалов дела, практически создав все с нуля. В итоге апелляционная инстанция Мосгорсуда изменила решение суда первой инстанции: удовлетворила требования клиента о восстановлении на работе и взыскала с работодателя средний заработок в размере <b>1 300 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск клиента с ООО «Комплексный сервис» о восстановлении на работе.
												.case__item.grid-case-2 
													span Трудность
													p В процессе разбирательства проводились консультации по достижению условий мирного урегулирования спора.
												.case__item.grid-case-3
													span Результат
													p Решили вопрос мирно и работодатель выплатил денежную сумму, которая устроила клиента.
										.case__bottom
											span После увольнения клиента убедили работодателя выплатить … 
											p В начале мы представляли интересы клиента в суде, по иску о восстановлении на работе. Иск клиент подал сам. 
											p В процессе судебного разбирательства изучили доказательства и исковые требования клиента, а также провели консультацию по достижения мирного урегулирования спора.
											p Предоставив работодателю все доказательства и доводы клиента, работодатель согласился решить вопрос мирно и выплатил денежную сумму, которая устроила клиента. 

									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p В связи с закрытием филиала клиента уволили за грубое нарушение трудовых обязательств на основании п. 10 ч. 1 ст. 81 Трудового кодекса РФ
												.case__item.grid-case-2 
													span Трудность
													p Работодатель отказывался выплачивать денежные средства в связи с увольнением, во время судебного процесса потребовалось привлечь свидетеля.
												.case__item.grid-case-3
													span Результат
													p <b>Восстановили</b> клиента на работе и взыскали денежные средства в размере <b>269 000 ₽</b> за вынужденный прогул, <b>10 000 ₽</b> компенсации морального вреда.
										.case__bottom
											span Восстановили клиента на работе после увольнения по статье и взыскали с работодателя 270 000 ₽
											p Изначально клиент был уволен по статье с грубым нарушением процедуры увольнения. Агентством были изучены материалы дела и дано заключение о нарушении норм трудового права в отношении клиента. 
											p После проработки ситуаций и документов, был подготовлен иск в Хамовнический районный суд. На одном из заседаний был допрошен в качестве свидетеля бывший генеральный директор работодателя, который пояснил ситуацию увольнения сотрудников и конкретно клиента. 
											p Благодаря грамотно выстроенной защите и убедительным доводам агентства, суд <b>обязал работодателя восстановить</b> клиента на работе. А также взыскал денежные средства в размере <b>269 000 ₽</b> за вынужденный прогул, <b>10 000 ₽</b> компенсации морального вреда.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент подал иск на работодателя и заключил договор на представление его интересов в суде.
												.case__item.grid-case-2 
													span Трудность
													p Работодатель затягивал судебный процесс и несколько заседаний было отложено по различным причинам.
												.case__item.grid-case-3
													span Результат
													p С работодателя взыскан средний заработок <b>29 000 000 ₽</b> и невыплаченная заработная плата <b>2 000 000 ₽</b>.
										.case__bottom
											span Восстановили клиента на работе и взыскали с работодателя <b>31 000 000 ₽</b>.
											p Агентство представляло интересы клиента в суде по иску о восстановлении на работе. Иск клиент подал сам. 
											p Специалисты агентства собрали доказательства и доводы клиента, построив линию защиты, но несколько судебных заседаний были перенесены. Это дало нам время проработать и подготовить выступление клиента к заседанию. 
											p В итоге, благодаря доводам агентства и убедительному выступлению клиента, суд вынес решение о восстановлении на работе. С работодателя в пользу клиента взыскан средний заработок <b>29 000 000 ₽</b> и невыплаченная заработная плата <b>2 000 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Беременную клиентку незаконно уволили с работы
												.case__item.grid-case-2 
													span Трудность
													p Работодатель отказывался решить претензию в досудебном порядке.
												.case__item.grid-case-3
													span Результат
													p Клиент был восстановлен на работе, получил заработную плату в размере <b>150 000 ₽</b> и компенсацию морального вреда <b>500 000 ₽</b>.
										.case__bottom
											span В досудебном порядке взыскали с работодателя 650 000 ₽ и восстановили клиента на работе после увольнения
											p Изначально агентство подало иск в суд, и с копией иска мы обратились к работодателю. Благодаря убедительным доводам мы смогли прийти к мирному соглашению. Клиент был восстановлен на работе, получил заработную плату в размере <b>150 000 ₽</b> за вынужденный прогул и компенсацию морального вреда <b>500 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент не заключил договор с работодателем и был обманут.
												.case__item.grid-case-2 
													span Трудность
													p Работодатель предлагал мировую, но мы отказались из-за плохих условий для клиента.
												.case__item.grid-case-3
													span Результат
													p Клиент восстановлен на работе, в его пользу взыскано <b>2 000 000 ₽</b> среднего заработка.
										.case__bottom
											span Помогли клиенту подтвердить рабочие отношения с работодателем и взыскали 2 000 000 ₽.
											p Первоначально мы подготовили и направили в Лефортовский районный суд иск, который суд принял. На судебном заседании, работодатель предложил решить все мирно, выдвинув выгодные для себя условия. Агентство вместе с клиентом рискнули и отказалось от предложения мировой. 
											p Допросив свидетелей обеих сторон, риск оказался оправданным. В итоге суд удовлетворил наши требования в полном объеме и отношения были признаны трудовыми. Клиент восстановлен на работе, в его пользу взыскано <b>2 000 000 ₽</b> среднего заработка.

									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1 
													span Первоначальное положение
													p Клиенту отказали в установлении пенсии.
												.case__item.grid-case-2
													span Трудность
													p ПФР всегда пытается исключить  из трудового стажа какой-то период трудовой деятельности.
												.case__item.grid-case-3 
													span Результат
													p Добились требования, обязать ПФР установить пенсию клиенту в полном объеме.
										.case__bottom
											span Заставили ПФР оформить пенсионную выплату в соответствии со стажем клиента.
											p Изначально агентство проанализировало доводы клиента и доказательства трудовой деятельности, подготовило и направило в Измайловский районный суд иск о том, что ПФР отказало в установлении пенсии. Благодаря проведенной работе совместно с клиентом была собрана доказательная база. Что-то удалось собрать самим, что-то через судебные запросы. В итоге выслушав наши доказательства, суд удовлетворил исковые требования и обязал ПФР установить пенсию клиенту в полном объеме.
								.swiper-navigation 
									.swiper-button-prev 
									.swiper-button-next
								.swiper-pagination