section.section.case 
	.container 
		.case__wrap 
			h2.section__title.case__title 96% дел выигрываем
			p.section__subtitle.case__subtitle В остальных 4% снижаем взыскиваемые суммы на 30% и смягчаем судебное решение
			.tab-container 
				.case__tabs.tabs
					a.tab.active Семейные споры
					a.tab Уголовные дела
					a.tab Трудовые споры
					a.tab Недвижимость 
				.case__tab-panes.tab-panes 
					.case__tab-pane.tab-pane.active
						.case-swiper-1-wrap
							.swiper.case__swiper-1
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решить спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решить спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решить спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

								.swiper-nav 
									.swiper-button-prev 
									.swiper-button-next

					.case__tab-pane.tab-pane
						.case-swiper-1-wrap
							.swiper.case__swiper-2
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решить спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

								.swiper-nav 
									.swiper-button-prev 
									.swiper-button-next
					.case__tab-pane.tab-pane 
						.case-swiper-1-wrap
							.swiper.case__swiper-3
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решить спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

								.swiper-nav 
									.swiper-button-prev 
									.swiper-button-next
					.case__tab-pane.tab-pane 
						.case-swiper-1-wrap
							.swiper.case__swiper-4
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span задача
													p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
												.case__item.grid-case-2
													span трудность
													p Работодатель отказывался решить спор в досудебном порядке
												.case__item.grid-case-3
													span результат
													p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
										.case__bottom
											span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
											p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

								.swiper-nav 
									.swiper-button-prev 
									.swiper-button-next