section.section.case 
	.container 
		.case__wrap 
			h2(data-aos="fade-right").section__title.case__title 96% дел выигрываем
			p.section__subtitle.case__subtitle В остальных 4% снижаем взыскиваемые суммы на 30% и смягчаем судебное решение
			.tab-container3
				.case__tab-panes.tab-panes 
					//- семейные споры
					.case__tab-pane.tab-pane.active
						.case-swiper-1-wrap
							.swiper.case__swiper-1
								.swiper-wrapper
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент подал иск об определении порядка общения с ребенком, проживающим с матерью.
												.case__item.grid-case-2
													span трудность
													p  Мать ребенка подала встречный иск о выплате ежемесячных алиментов в размере 340 000 ₽.
												.case__item.grid-case-3
													span результат
													p Ежемесячная выплата была уменьшена до 40 000 ₽ и получено разрешение для клиента регулярно созваниваться и встречаться с ребенком.
										.case__bottom
											span Уменьшили ежемесячные выплаты с 340 000 ₽ до 40 000 ₽ и добились регулярных встреч с ребенком
											p Клиент, гражданин США и ЮАР, подал иск по определению порядка встречи с ребенком, который живет с мамой на территории РФ. Затем мама ребенка подала встречный иск о выплате клиентом 340 000 ₽ ежемесячно.
											p Собрав доказательную базу и выстроив защиту по 2-м искам, агентство вместе с клиентом выступили на судебном заседании. В итоге благодаря убедительному выступлению, смогли уменьшить алименты до <b>40 000 ₽</b> и <b>добились регулярных встреч</b> с ребенком.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Агентство подало иск в Одинцовский городской суд о взыскании неустойки по невыплаченным алиментам.
												.case__item.grid-case-2
													span трудность
													p  Было проведено несколько продолжительных судебных заседаний, которые откладывались из-за отца ребенка.
												.case__item.grid-case-3
													span результат
													p Взыскали с отца 100 000 ₽ неустойки и назначили 50 000 ₽ ежемесячных выплат.
										.case__bottom
											span Удалось добиться  50 000 ₽ алиментов и взыскать <b>100 000 ₽</b> за невыплаченные алименты
											p Изначально мы подали иск о взыскании с отца неустойки за невыплаченные алименты нашей клиентке. После продолжительных заседаний суд частично взыскал неустойку в размере 100 000 ₽. Однако, благодаря доказательной базе и грамотному выступлению агентства, дополнительно присудили отцу выплату алиментов в размере <b>50 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент заключил договор с бывшим супругом на выплату алиментов и направил иск о невыполнении своих обязательств по выплате.
												.case__item.grid-case-2
													span трудность
													p Договор был утерян, а суд может присудить значительно меньше, чем было прописано в документе.
												.case__item.grid-case-3
													span результат
													p Документ был найден и суд удовлетворил иск. Взыскав с отца алименты за период до подачи иска - 3 года и присудил ежемесячные выплаты клиенту в размере <b>40 000 ₽</b>
										.case__bottom
											span Добились 40 000 ₽ ежемесячных алиментов по утерянному, нотариально заверенному договору между супругами
											p Первоначально клиент хотел подать иск о взыскании задолженности по алиментам на основании утерянного документа, который был заключон с бывшим супругом. 
											p Выплата в документе устраивала клиента, а без документа суд присудил бы выплату меньше. Агентством была проведена большая работа по поиску нотариуса, который оформлял соглашение. В итоге документ был найден, и суд взыскал с отца <b>задолженность за 3 года</b> по алиментам, а также, в соответствии с соглашением, установил ежемесячную выплату в размере <b>40 000 ₽.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p С клиента в судебном порядке взыскана неустойка по алиментам в 1 000 000 ₽.
												.case__item.grid-case-2
													span трудность
													p  Клиент пропустил сроки оспаривания приговора.
												.case__item.grid-case-3
													span результат
													p Восстановили сроки оспаривания и <b>уменьшили суммы</b> взыскания до <b>350 000 ₽</b>
										.case__bottom
											span Сэкономили для клиента 650 000 ₽ по судебному взысканию алиментов
											p Изначально с клиента взыскана неустойка по алиментам в 1 000 000 ₽, а время обжалования было пропущено. Агентство подготовило и подало апелляцию о восстановлении пропущенного срока, и районный суд восстановил срок подачи жалобы. 
											p Уже на судебном заседании благодаря выступлению агентства и грамотно подготовленным доказательствам, удалось обратить внимание на нашу позицию по апелляции и перейти к рассмотрению дела по правилам первой инстанции.
											p В итоге апелляционная инстанция вынесла новое решение, в соответствии с которым неустойка была уменьшена <b>до 365 000 ₽</b>, а агентство <b>сэкономило</b> для клиента <b>650 000 ₽</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка обратилась за помощью по лишению родительских прав отца ее ребенка.
												.case__item.grid-case-2
													span трудность
													p Сбор доказательств для суда, что отец не поддерживал общение с ребенком.
												.case__item.grid-case-3
													span результат
													p Суд занял позицию клиентки и удовлетворил иск в полном объеме.
										.case__bottom
											span Помогли лишить родительских прав отца, который не участвовал в жизни ребенка
											p Изначально клиент обратился за помощью, чтобы лишить родительских прав мужа. Отец ребенка с момента его рождения никаких отношений с ним не поддерживал, материально не обеспечивал и не принимает никакого участия в воспитании. Агентством были собраны доказательства для подготовки и удовлетворения иска. В итоге суд занял позицию клиентки и удовлетворил иск в полном объеме, лишив отца родительских прав в отношении ребенка.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка обратилась за помощью в сопровождении иска о лишении родительских прав бывшего мужа.
												.case__item.grid-case-2
													span трудность
													p Сбор доказательств не только о лишении родительских прав, но и о взыскании задолженности по алиментам.
												.case__item.grid-case-3
													span результат
													p Требования были удовлетворены в полном объеме, бывший супруг был <b>лишен родительских прав в отношении несовершеннолетнего ребенка</b>, и в пользу клиентки <b>взыскана задолженность по алиментам</b>.
										.case__bottom
											span Лишили родительских прав отца ребенка и взыскали задолженность по алиментам в размере 286 000 ₽
											p Первоначально клиент обратился за сопровождением в суде по иску о лишении родительских прав бывшего мужа. Клиентка подала иск самостоятельно. В процессе сбора документов было найдено исполнительное производство в отношении отца ребенка о задолженности по алиментам. После постановления судебного пристава-исполнителя об определении задолженности и составления акта от органов опеки суд удовлетворил наши требования. В итоге бывший супруг был <b>лишен родительских прав в отношении несовершеннолетнего ребенка,</b> и в пользу клиентки <b>взыскана задолженность по алиментам в размере 286 000 ₽</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск клиенту о проживании детей вместе с мамой.
												.case__item.grid-case-2
													span трудность
													p В большинстве случаев суд встает на сторону матери, поэтому требовалось собрать доказательства и провести экспертизы.
												.case__item.grid-case-3
													span результат
													p Встречный иск был удовлетворен в полном объеме.
										.case__bottom
											span Удалось добиться определения места жительства старшего ребёнка с клиентом 
											p Изначально в отношении клиента был подан иск об определении места проживания детей с мамой. Нами был подан ответный иск. После сбора доказательств, изучения взаимоотношений детей друг с другом и проведения психолого-педагогической экспертизы, суд удовлетворил наш иск. В итоге <b>иск</b> удовлетворен в полном объеме и <b>проживание</b> старшего ребенка было <b>определено с клиентом</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск к клиентке от бывшего супруга с требованием определить место проживания ребенка с ним
												.case__item.grid-case-2
													span трудность
													p Иск от бывшего супруга основывался на прохождении лечения клиентки, и возникал вопрос о признании ее недееспособной 
												.case__item.grid-case-3
													span результат
													p Пришли к мирному соглашению, утвержденному судом, которое устроило клиентку.
										.case__bottom
											span Убедили отца ребенка прийти к мировому соглашению с клиенткой
											p Первоначально бывший супруг подал иск клиентке с требованием определить место проживания ребенка с ним и признать клиентку недееспособной на основании прохождения лечения в стационаре. Агентством были собраны доказательства и выписки из стационаров, проведена медицинская экспертиза о состоянии здоровья клиентки. На основании собранных документов и заключения экспертизы был подан встречный иск, параллельно велись переговоры с отцом о мирном соглашении. В итоге, <b>благодаря</b> собранным <b>доказательствам</b> и грамотно выстроенной линии защиты, <b>отец согласился на мирное соглашение</b>, которое устроило клиентку.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Мать добивалась полного запрета на встречи клиента с ребенком.
												.case__item.grid-case-2
													span трудность
													p Бабушка и дедушка настраивали ребенка против клиента, а ответчица настаивала на том, что отец негативно влияет на ребенка.
												.case__item.grid-case-3
													span результат
													p Добились 2-х встреч по 2 дня в месяц и проведение всего отпуска клиента с ребенком. 
										.case__bottom
											span Добились для клиента встреч с ребенком
											p Изначально клиент обратился за представлением интересов в суде, пытаясь определить порядок участия в жизни ребенка. Нами были собраны доказательства и показания ребенка, на основе которых выяснилось, что дедушка и бабушка безосновательно настраивают ребенка против отца, а ответчица настаивает на мнении, что отец негативно влияет на ребенка. Агентство выстроило линию защиты и провело встречи с клиентом, обсудив его выступление в суде. В итоге суд удовлетворил иск и присудил клиенту встречи с ребенком, а именно <b>2 встречи в месяц по 2 дня</b> и проведение всего <b>отпуска клиента с ребенком</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Мать настаивала на ее присутствии на встречах с ребенком в неудобное время для клиента.
												.case__item.grid-case-2
													span трудность
													p Был подготовлен досудебный договор, от которого мать отказалась.
												.case__item.grid-case-3
													span результат
													p Суд частично удовлетворил иск, определив только 1 удобный день вместо двух, но главное – клиент сможет встречаться с ребенком без участия матери. 
										.case__bottom
											span Помогли клиенту добиться встреч с ребенком без участия матери
											p Первоначально клиент обратился за помощью в решении проблемы в досудебном порядке, но мать отказалась от мирового соглашения. Агентством был подготовлен иск об определении встреч клиента с ребенком в удобное время и без участия матери. Личные встречи с ребенком были главной целью искового требования. Благодаря грамотно выстроенной защите и доводам агентства суд частично удовлетворил иск. В итоге <b>назначен 1 удобный день</b> для клиента на <b>встречу</b> с ребенком <b>без участия матери</b>.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Исполнительное производство в отношение клиентки с требованием изменить установленный порядок общения отца с ребенком.
												.case__item.grid-case-2
													span трудность
													p Риск удовлетворения искового требования отца, в соответствие с которым клиентка не сможет присутствовать на встречах с ребенком.
												.case__item.grid-case-3
													span результат
													p В исковом требовании отца отказано, и установленный порядок, устраивающий клиентку, остался без изменений.
										.case__bottom
											span Помогли клиентке оставить без изменений установленный порядок общения отца с ребенком
											p Изначально отец подал иск с требованием изменить порядок общения с ребенком, значительно расширить временные рамки и настаивал на личных встречах без участия клиентки. Изучив собранные материалы дела, было дано заключение об отсутствии аргументов для изменения уже действующего порядка общения. В процессе судебного разбирательства получили выгодное заключение органов опеки, на основании которого суд отказал в исковом требовании отца. В итоге <b>установленный порядок общения</b> отца с ребенком <b>остался без изменений.</b> 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Бывшая супруга клиента пыталась исключить приобретенную в браке квартиру из совместно нажитого имущества
												.case__item.grid-case-2
													span трудность
													p Бывшая супруга предоставила в суде договор дарения денежных сумм ее отца, которые были направлены на покупку квартиры.
												.case__item.grid-case-3
													span результат
													p В суде агентство оспорило предоставленные документы и суд удовлетворил требования клиента, признав долевую собственность квартиры.
										.case__bottom
											span Добились признания клиента в долевой собственности на квартиру
											p Первоначально клиент обратился за предоставлением интересов в суде по иску об исключении квартиры, приобретенной в браке, из совместно нажитого имущества и исключении клиента из долевой собственности. Трудность заключалась в  договоре между бывшей супругой и ее отцом о предоставлении денежной суммы для покупки квартиры. Изучив договор и собрав необходимые документы со стороны клиента, убедили суд, что договор не является весомым доказательством. Судом не был принят договор о предоставлении денежной суммы, и в иске было отказано. В итоге решением суда <b>квартира осталась совместно нажитым имуществом</b>, а <b>клиент признан долевым владельцем.</b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиент не мог договориться с супругой о разделе совместно нажитого имущества.
												.case__item.grid-case-2
													span трудность
													p Из-за увеличивающихся желаний клиента не могли прийти к мирному соглашению.
												.case__item.grid-case-3
													span результат
													p Заключили выгодный для клиента брачный договор с перевесом в имуществе.
										.case__bottom
											span Заключили брачный договор с большой уступкой собственности в пользу клиента
											p По рекомендации в агентство обратился клиент за правовой помощью из-за сложностей в споре между супругами по разделу имущества. Изучив требования клиента, был подготовлен мирный договор, с которым супруга согласилась. Но желания клиента стали расти, что является обычной практикой в таких делах. Наша главная задача заключалась в том, чтобы клиент получил то, что хочет. Договоренности начали рушиться и агентство начало подготовку к суду, оценивая имущество, собирая доказательства и подготавливая документы. Параллельно подготовили досудебное соглашение по новым требованиям, и благодаря доводам агентства супруга согласилась уступить большую часть объектов движимого и недвижимого имущества. В итоге <b>требования</b> клиента были <b>удовлетворены в досудебном порядке</b> и в полном объеме.упруга подписала <b>брачный договор с большими уступками в пользу клиента.</b> 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентку интересовало, какое имущество можно будет разделить при разводе.
												.case__item.grid-case-2
													span трудность
													p Большая часть имущества находилась за рубежом и, соответственно, представляло трудность для оценки.
												.case__item.grid-case-3
													span результат
													p Предоставили отчет для клиента по всему имуществу подлежащему разделу, недвижимому и движимому, а также денежным средствам.
										.case__bottom
											span Провели оценку совместно нажитого имущества в РФ и за рубежом для возможного раздела
											p Изначально клиент хотел провести анализ имущества для возможного раздела с бывшим мужем. Агентством было проведено множество встреч на которых выяснилось что, недвижимого имущества много и большая его доля находится за рубежом и представляет трудность для юридического оформления и анализа. Но благодаря многолетнему опыту юристов Честер - К, было составлен полный перечень и предоставлен отчет о движимом и недвижимом имуществе, а также денежных средств. Для возможного раздела совместно нажитого имущества, в случае возможного развода между супругами.
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Иск в сторону клиентки о разделе совместно нажитого имущества.
												.case__item.grid-case-2
													span трудность
													p Квартира приобретена в ипотеку, и все платежи включая коммунальные платила клиентка. 
												.case__item.grid-case-3
													span результат
													p Суд поделил квартиру пополам и взыскал в пользу клиентки 400 000 ₽ с бывшего мужа.
										.case__bottom
											span Взыскали с бывшего мужа 400 000 ₽ в пользу клиентки за долю в квартире
											p Изначально клиентка попросила представлять ее интересы в суде по иску от бывшего мужа о разделе имущества. Предметом спора выступила квартира, купленная в ипотеку. Все платежи по ипотеке платила клиентка, включая коммунальные платежи. Агентство предложило клиентке сделать отчет об оценке и параллельно подготовило и подало встречный иск о выкупе доли мужа как малозначительную. Решение суда удовлетворило клиентку. В итоге суд <b>разделил квартиру пополам</b> и <b>взыскал</b> в <b>пользу клиентки 400 000 ₽</b> за платежи по кредиту и коммунальные услуги. 
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Отказ нотариуса в признании права собственности на земельный участок по завещанию.
												.case__item.grid-case-2
													span трудность
													p В завещании были ошибки в дате рождения клиента, а также клиент был назван сыном, хотя биологически им не являлся. Другие наследники были против иска.
												.case__item.grid-case-3
													span результат
													p Суд удовлетворил иск в полном объеме
										.case__bottom
											span Добились признание клиента собственником участка после отказа нотариуса из-за ошибки в документах
											p Изначально нотариус отказал клиенту в праве собственности на часть земельного участка на основании завещания, ссылаясь на ошибки в личных данных клиента и факт, что в завещании его назвали сыном. Биологически клиент не являлся сыном покойному. Эти 2 ошибки и то, что другие наследники отказывались признавать законность наследства клиента, значительно усложняли задачу, и агентство начало сбор доказательств и подготовку иска в суд. Во время судебного процесса по просьбе агентства был допрошен нотариус, который оформлял договор. В итоге благодаря доводам агентства и словам нотариуса <b>суд удовлетворил иск клиента в полном объеме. </b>
									.swiper-slide 
										.case__top 
											.case__grid 
												.case__item.grid-case-1
													span Первоначальное положение
													p Клиентка вступала в наследство на квартиру, но сама проживала в Бельгии.
												.case__item.grid-case-2
													span трудность
													p На квартире висели долги, и был наложен арест приставами на регистрационные действия с квартирой.
												.case__item.grid-case-3
													span результат
													p Добились снятия ареста и помогли вступить в наследство клиентке.
										.case__bottom
											span Помогли клиентке из Бельгии без ее участия вступить в наследство и снять арест с квартиры в России
											p Первоначально клиентка должна была вступать в наследство на квартиру в РФ, но сама проживала в Бельгии. Чтобы агентство могло представлять интересы в полной мере, клиентка оформила доверенность в консульстве РФ в Бельгии. Практически сразу возникли трудности, на квартире был арест из-за долгов от наследодателя. Обошлось без суда, мы договорились с приставами, и клиентка оплатила долг за квартиру. В итоге агентством были получены свидетельство о праве на наследство квартиру и денежный вклад. В дальнейшем документы были переданы через посольство Бельгии в РФ вместе с выпиской из ЕГРН.

								.swiper-navigation
									.swiper-button-prev
									.swiper-button-next
								.swiper-pagination
