section.section 
	.container 
		.section__head
			h2(data-aos="fade-right").section__title 96% ВЫЙГРАННЫХ ДЕЛ ЗА 25 ЛЕТ ОПЫТА
			p.section__subtitle Так как мы знаем и имеем чёткий план действий в любой сложной ситуации.
		.case-inner 
			.case-inner__item 
				.case-inner__col
					h3 Сложность
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
				.case-inner__col
					h3 Решение
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
			.case-inner__item 
				.case-inner__col
					h3 Сложность
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
				.case-inner__col
					h3 Решение
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
			.case-inner__item 
				.case-inner__col
					h3 Сложность
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
				.case-inner__col
					h3 Решение
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
			.case-inner__item 
				.case-inner__col
					h3 Сложность
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
				.case-inner__col
					h3 Решение
					p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право