section.section.directions 
	.container
		.directions__wrap 
			h2(data-aos="fade-right").section__title.directions__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ <br> ПРАВА НА ЛЮБОЙ СТАДИИ ДЕЛА
			p.section__subtitle.directions__subtitle Побывали во всех судах Москвы и МО, поработали со всеми судьями и по всей территории РФ, включая новые области
			.directions__content 
				.directions__box 
					a(href="soprovoshdenie_biznesa.html" data-aos="fade-right").directions__head
						include ../svg/icn1
						| сопровождение бизнеса
					.directions__list
						a(href="soprovoshdenie_biznesa.html")  Юридическое сопровождение деятельности юридических лиц, ИП, самозанятых
							include ../svg/arrow-direction
						a(href="develop.html")  Бухгалтерское сопровождение деятельности юридических лиц, ИП
							include ../svg/arrow-direction
						a(href="develop.html")  Ведение кадрового учета юридических лиц, ИП
							include ../svg/arrow-direction
				.directions__box
					a(href="semejnye-spory.html	" data-aos="fade-right").directions__head 
						include ../svg/icn2
						| Семейные споры
					.directions__list
						a(href="vzyskanie_alimentov.html")  Взыскание алиментов
							include ../svg/arrow-direction
						a(href="ogranichenie_i_lishenie_prav_roditelej.html")  Ограничение и лишение прав родителей
							include ../svg/arrow-direction
						a(href="opredelenie_mesta_prozhivaniya_rebenka.html")  Определение места проживания ребенка
							include ../svg/arrow-direction
						a(href="rastorzhenie_braka.html")  Расторжение брака
							include ../svg/arrow-direction
						a(href="spory_po_nasledstvu.html")  Споры по наследству
							include ../svg/arrow-direction
						a(href="razdel_sovmestno_nazhitogo_imushchestva.html")  Раздел совместно нажитого имущества
							include ../svg/arrow-direction
						a(href="opredelenie_poryadka_uchastiya_roditelya_v_vospitanii_rebenka.html")  Определение порядка участия родителя в воспитании ребенка
							include ../svg/arrow-direction
						a(href="ustanovlenie_i_osparivanie_otcovstva_i_materinstva.html")  Установление и оспаривание отцовства и материнства
							include ../svg/arrow-direction
				.directions__box 
					a(href="trudovye_spory.html" data-aos="fade-right").directions__head
						include ../svg/icn3
						| трудовые споры
					.directions__list 
						a(href="provedenie_trudovogo_audita.html") Проведение трудового аудита
							include ../svg/arrow-direction
						a(href="soprovozhdenie_uvolneniya_rabotnika.html") Сопровождение увольнения работника
							include ../svg/arrow-direction
						a(href="predstavlenie_v_sude_po_sporam_s_rabotnikom.html") Представление интересов в судах по трудовым спорам с работником
							include ../svg/arrow-direction
						//- a(href="soprovozhdenie_uvolneniya_rabotnika.html") Сопровождение увольнения 
						//- 	include ../svg/arrow-direction
						a(href="dosudebnoe_soprovozhdenie_pri_sporah_s_rabotodatelem.html") Досудебное сопровождение при конфликтной ситуации с работодателем
							include ../svg/arrow-direction
						a(href="predstavlenie_v_sudah_po_sporam_s_rabotodatelem.html") Представление интересов в судах по трудовым спорам с работодателем
							include ../svg/arrow-direction
					.directions__list 
				.directions__box 
					a(href="spory_po_nedvizhimosti.html" data-aos="fade-right").directions__head 
						include ../svg/icn4
						| Недвижимость
					.directions__list 
						a(href="sdelki_s_nedvizhimostyu.html")  Сопровождение сделок с недвижимостью 
							include ../svg/arrow-direction
						a(href="zhilishchnye_spory.html")  Жилищные споры
							include ../svg/arrow-direction
						a(href="develop.html")  Арбитраж по недвижимости
							include ../svg/arrow-direction
						a(href="osparivanie_sdelok.html")  Оспаривание сделок , включая споры о банкротстве
							include ../svg/arrow-direction
						a(href="osparivanie_kadastrovoj_stoimosti.html")  Оспаривание кадастровой стоимости
							include ../svg/arrow-direction
						a(href="spory_o_snose_samovolnyh_postroek_zdanij.html")  Споры о сносе самовольных построек
							include ../svg/arrow-direction
						a(href="legalizaciya_samostroya_cherez_GZK.html") Легализация самовольных построек через ГЗК
							include ../svg/arrow-direction
						a(href="soprovozhdenie_rekonstrukcii_i_novogo_stroitelstva.html") Сопровождение реконструкции, нового строительства
							include ../svg/arrow-direction
						a(href="zemelnye_spory.html") Земельные споры
							include ../svg/arrow-direction
						a(href="gosudarstvennaya_registraciya_perekhoda_ili_obladaniem_prava_sobstvennosti.html") Государственная регистрация перехода или обладанием права собственности
							include ../svg/arrow-direction 
				.directions__box 
					a(href="predstavitelstvo_v_sudah.html" data-aos="fade-right").directions__head
						include ../svg/icn5
						| Представительство в судах
					.directions__list 
						a(href="sudy_obshchej_yurisdikcii_po_grazhdanskim_administrativnym_delam.html")  Суды общей юрисдикции по гражданским, административным делам
							include ../svg/arrow-direction
						a(href="spory_v_arbitrazhnom_sude.html")  Арбитраж
							include ../svg/arrow-direction
						a(href="predstavitelstvo_v_sudah_po_ugolovnym_delam.html")  Суды по уголовным делам
							include ../svg/arrow-direction
				.directions__box 
					a(href="ugolovnoe_pravo.html" data-aos="fade-right").directions__head
						include ../svg/icn6
						| уголовные споры
					.directions__pic
						img(alt="" src="img/pic3.webp")