section.section.directions 
	.container
		.directions__wrap 
			h2(data-aos="fade-right").section__title.directions__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ <br> ПРАВА НА ЛЮБОЙ СТАДИИ ДЕЛА
			p.section__subtitle.directions__subtitle Побывали во всех судах Москвы и МО, поработали со всеми судьями и по всей территории РФ, включая новые области
			.directions__content 
				.directions__box 
					a(href="" data-aos="fade-right").directions__head
						include ../svg/icn1
						| юридическое сопровождение бизнеса
					.directions__list
						a(href="")  Юридическое сопровождение деятельности юридических лиц, ИП, самозанятых
							include ../svg/arrow-direction
						a(href="")  Бухгалтерское сопровождение деятельности юридических лиц, ИП
							include ../svg/arrow-direction
						a(href="")  Ведение кадрового учета юридических лиц, ИП
							include ../svg/arrow-direction
				.directions__box
					a(href="semejnye-spory.html	" data-aos="fade-right").directions__head 
						include ../svg/icn2
						| Семейные споры
					.directions__list
						a(href="")  Взыскание алиментов
							include ../svg/arrow-direction
						a(href="")  Ограничение и лишение прав родителей
							include ../svg/arrow-direction
						a(href="")  Определение места проживания ребенка
							include ../svg/arrow-direction
						a(href="")  Расторжение брака
							include ../svg/arrow-direction
						a(href="")  Споры по наследству
							include ../svg/arrow-direction
						a(href="service.html")  Раздел совместно нажитого имущества
							include ../svg/arrow-direction
						a(href="")  Определение порядка участия родителя в воспитании ребенка
							include ../svg/arrow-direction
						a(href="")  Установление и оспаривание отцовства и материнства
							include ../svg/arrow-direction
				.directions__box 
					a(href="" data-aos="fade-right").directions__head
						include ../svg/icn3
						| трудовые споры
					.directions__list 
						a(href="") Проведение трудового аудита
							include ../svg/arrow-direction
						a(href="") Сопровождение увольнения работника
							include ../svg/arrow-direction
						a(href="") Представление интересов в судах по трудовым спорам с работником
							include ../svg/arrow-direction
						a(href="") Сопровождение увольнения 
							include ../svg/arrow-direction
						a(href="") Досудебное сопровождение при конфликтной ситуации с работодателем
							include ../svg/arrow-direction
						a(href="") Представление интересов в судах по трудовым спорам с работодателем
							include ../svg/arrow-direction
					.directions__list 
				.directions__box 
					a(href="" data-aos="fade-right").directions__head 
						include ../svg/icn4
						| Недвижимость
					.directions__list 
						a(href="")  Сопровождение сделок с недвижимостью 
							include ../svg/arrow-direction
						a(href="")  Жилищные споры
							include ../svg/arrow-direction
						a(href="")  Арбитраж по недвижимости
							include ../svg/arrow-direction
						a(href="")  Оспаривание сделок , включая споры о банкротстве
							include ../svg/arrow-direction
						a(href="")  Оспаривание кадастровой стоимости
							include ../svg/arrow-direction
						a(href="")  Споры о сносе самовольных построек
							include ../svg/arrow-direction
						a(href="") Легализация самовольных построек через ГЗК
							include ../svg/arrow-direction
						a(href="") Сопровождение реконструкции, нового строительства
							include ../svg/arrow-direction
						a(href="") Земельные споры
							include ../svg/arrow-direction
				.directions__box 
					a(href="" data-aos="fade-right").directions__head
						include ../svg/icn5
						| Представительство в судах
					.directions__list 
						a(href="")  Суды общей юрисдикции по гражданским, административным делам
							include ../svg/arrow-direction
						a(href="")  Арбитраж
							include ../svg/arrow-direction
						a(href="")  Суды по уголовным делам
							include ../svg/arrow-direction
				.directions__box 
					a(href="" data-aos="fade-right").directions__head
						include ../svg/icn6
						| уголовное право
					.directions__pic
						img(alt="" src="img/pic3.webp")