section.section 
	.container 
		h2.section__title.directions__title(data-aos="fade-right") Ведём судебные споры по любым направлением
		p.directions__subtitle за счёт команды из юристов и адвокатов с узкой специализацией
		.box4 
			div
				.box4__head 
					include ../svg/icn-home
					span Аренда
				ul
					li Взыскание арендных платежей
					li Взыскание неустоек, убытков за порчу помещений и имущества
					li Возврат платежа за последний месяц
					li Расторжение договоров аренды, в том числе вследствии форс-мажора
			div
				.box4__head 
					include ../svg/icn-circus
					span Споры с государственными органами
				ul
					li Оспаривание результатов проверок, начисленных штрафов и налогов
					li Помощь в подготовке к проверкам контролирующих органов
					li Налоговые споры
					li Споры об административных правонарушениях
			div
				.box4__head 
					include ../svg/icn-man
					span Оказание услуг или подряд
				ul
					li Взыскание оплат, неустоек, штрафов
					li Расторжение договора
					li Оспаривание работ ненадлежащего качества
			div
				.box4__head 
					include ../svg/icn-vesi
					span Уголовное преследование
				ul
					li Защита собственников и руководителей от уголовного преследования
					li Оспаривание результатов проверок правоохранительных органов
					li Представительство в уголовном процессе собственников и руководителей компаний по преступлениям, связанным с предпринимательской деятельностью
			div 
				.box4__head 
					include ../svg/icn-busines
					span Корпоративные споры
				ul 
					li Признание недействительными договоров купли-продажи акций и долей в уставном капитале
					li Признание недействительными уставных документов или решений общего собрания
					li Споры между учредителями


		ul#acc2.box4-mobile 
			li
				div 
					include ../svg/icn-home
					span Аренда
				div 
					ul
						li Взыскание арендных платежей
						li Взыскание неустоек, убытков за порчу помещений и имущества
						li Возврат платежа за последний месяц
						li Расторжение договоров аренды, в том числе вследствии форс-мажора
			li
				div 
					include ../svg/icn-circus
					span Споры с государственными органами
				div 
					ul
						li Оспаривание результатов проверок, начисленных штрафов и налогов
						li Помощь в подготовке к проверкам контролирующих органов
						li Налоговые споры
						li Споры об административных правонарушениях
			li
				div 
					include ../svg/icn-man
					span Оказание услуг или подряд
				div 
					ul
						li Взыскание оплат, неустоек, штрафов
						li Расторжение договора
						li Оспаривание работ ненадлежащего качества
			li
				div 
					include ../svg/icn-vesi
					span Уголовное преследование
				div 
					ul
						li Защита собственников и руководителей от уголовного преследования
						li Оспаривание результатов проверок правоохранительных органов
						li Представительство в уголовном процессе собственников и руководителей компаний по преступлениям, связанным с предпринимательской деятельностью
			li
				div 
					include ../svg/icn-busines
					span Корпоративные споры
				div 
					ul 
						li Признание недействительными договоров купли-продажи акций и долей в уставном капитале
						li Признание недействительными уставных документов или решений общего собрания
						li Споры между учредителями
