section.section.offer
	.container
		.feedback 
			.feedback__content 
				span.feedback__title #{feedbackTitle}
				.feedback__text 
					p Работаем по всем направлениям права на любой стадии дела
			form.form
				.form__inputs 
					input(type="text" name="name" placeholder="Имя" required)
					input.phone-field(type="text" name="tel" placeholder="Номер телефона" required)
				input.form__btn(type="submit" value="записаться" onsubmit="ym(62967727,'reachGoal','forma_obrat_sv'); return true;")