footer.footer
	.container 
		.footer__wrap 
			.footer__col 
				a.footer__logo(href="index.html")
					img(alt="" src="img/logo.svg")
				a.footer__politic(href="politic.html") Политика конфиденциальности 
			.footer__col 
				.footer__col-title направления
				.footer__links
					a(href="semejnye-spory.html") Семейные споры 
					a(href="soprovoshdenie_biznesa.html") Сопровождение бизнеса
					a(href="trudovye_spory.html") Трудовые споры
					a(href="spory_po_nedvizhimosti.html") Споры по недвижимости
					a(href="predstavitelstvo_v_sudah.html") Представительство в судах
					a(href="ugolovnoe_pravo.html") Уголовные споры 
			.footer__col.footer__col--links
				a(href="blog.html") Полезные статьи
				a(href="contacts.html") Контакты  
			.footer__col
				a.btn.btn--main.show-modal Консультация с юристом 

button.scroll-top 
	img(alt="" src="img/scroll-top.svg")

.social-wrap
	a(href="https://t.me/legalagencyChester" target="_blank" onclick="ym(62967727,'reachGoal','messenger'); return true;").iconanim.iconanim2
		img(alt="" src="img/tg-icn.webp")
	a(href="https://wa.me/79037900360" target="_blank" onclick="ym(62967727,'reachGoal','messenger'); return true;").iconanim
		img(alt="" src="img/wp-icn.webp")

include modal