footer.footer
	.container 
		.footer__wrap 
			.footer__col 
				a.footer__logo(href="index.html")
					img(alt="" src="img/logo.svg")
				a.footer__politic(href="") Политика конфиденциальности 
			.footer__col 
				.footer__col-title направлениям
				.footer__links
					a(href="") Семейные споры 
					a(href="") Юридические услуги по недвижимости
					a(href="") Представительство в судах
					a(href="") Юридическое сопровождение бизнеса
			.footer__col.footer__col--links
				a(href="") Полезные статьи
				a(href="") Контакты  
			.footer__col 
				a.btn.btn--main.show-popup Консультация с юристом 

button.scroll-top 
	img(alt="" src="img/scroll-top.svg")

.social-wrap
	a(href="https://wa.me/79037900360" target="_blank" onclick="ym(62967727,'reachGoal','messenger'); return true;").iconanim
		img(alt="" src="img/wp-icn.webp")

include popup