header.header 
	.container 
		.header__wrap 
			a.header__logo(href=page=='index' ? false : 'index.html')
				img(alt="" src="img/logo.svg")
			include menu
			a.header__phone(href="tel:+78001010653" onclick="ym(62967727,'reachGoal','zvonok'); return true;")  +7 (800) 101-06-53
			.burger