head 
	meta(charset="utf-8")
	title Юридическое агентство Честер-К все направления права и стадиям дела
	meta(content="ie=edge" http-equiv="x-ua-compatible")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="viewport-extra" content="width=device-width,initial-scale=1,min-width=375")
	meta(name="title" content="Юридическое агентство Честер-К все направления права и стадиям дела")
	meta(name="discription" content="Честер-К бесплатная консультация, 96% выигранных дел, за 25 лет 1400 выполненных контрактов, команда узкоспециализированных юристов и адвокатов")
	link(rel="icon" href="favicon.png")
	link(rel="preload" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
	link(rel="preload" href="https://unpkg.com/accordion-js@3.3.4/dist/accordion.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'")
	link(rel="stylesheet" href="css/style.min.css")
	script
		include ya-metrika.js
