.overlay 
	.popup
		.popup__close 
			img(alt="" src="img/close.svg")
		.popup__head
			h3.popup__title Запишитесь на беслатную консультацию
			p.popup__subtitle Свяжемся в ближайшее времядля уточнения деталей дела
		form.popup__form
			.popup__form-values
				input(type="text" placeholder="Имя" required)
				input.phone-field(type="text" placeholder="Телефон" required)
			input(type="submit" value="Записаться" onsubmit="ym(62967727,'reachGoal','forma_obrat_sv'); return true;") 
