section.section 
	.container 
		h2(data-aos="fade-right").section__title 
			| ЦЕНЫ НА УСЛУГИ ЮРИСТА 
			br
			| #{titlePrice}
		.price 
			.price__top 
				.price__top-col 
					h3 В зависимости от:
					ul 
						li необходимого количества документов для подготовки
						li этапа семейного спора: начальный этап или уже аппеляционная жалоба
						li досудебного урегулирования или требуется судебное разбирательство
				.price__total
					span 
						| ОТ #{price1}
						br 
						| ДО #{price2}

			.price__body 
				.price__item
					.price__icn 
						img(src="img/star.svg" alt="")
					p Возможность гарантии на полный возврат средств после оценки перспектив дела в случае поражения
				.price__item
					.price__icn 
						img(src="img/piechart.svg" alt="")
					p Возможность разбивки платежа: 30-50% предоплата и далее по графику или по событиям дела
				.price__item
					.price__icn 
						img(src="img/like.svg" alt="")
					p Работаем «в белую» и при победе добиваемся компенсации от другой стороны судебного процесса — от 20% до 100% стоимости, включая оплату экспертиз и подготовку заключений.
			.price__footer 
				p 
					| Узнайте точную цену
					br
					| и условия по телефону
				a.btn.btn--primary.show-modal(href="") Узнать точную цену 