section.section 
	.container 
		h2.section__title ЧАСТЫЕ ВОПРОСЫ
		.accordion-container
			.ac
				.ac-header
					button.ac-trigger На каком этапе можно прийти к вам?
				.ac-panel 
					p Мы беремся за дело на любом этапе процесса дела
			.ac
				.ac-header
					button.ac-trigger Ограничение и лишение прав родителей
				.ac-panel
					p Ограничение и лишение прав родителей
			.ac
				.ac-header
					button.ac-trigger Определение места проживания ребенка
				.ac-panel
					p Определение места проживания ребенка
			.ac
				.ac-header
					button.ac-trigger Расторжение брака
				.ac-panel
					p Расторжение брака
			.ac
				.ac-header
					button.ac-trigger Споры по наследству
				.ac-panel
					p Споры по наследству
			.ac
				.ac-header
					button.ac-trigger Раздел совместно нажитого имущества
				.ac-panel
					p Раздел совместно нажитого имущества
			.ac
				.ac-header
					button.ac-trigger Определение порядка участия родителя в воспитании ребенка
				.ac-panel
					p Определение порядка участия родителя в воспитании ребенка
			.ac
				.ac-header
					button.ac-trigger Установление и оспариввание отцовства и материнства
				.ac-panel
					p Установление и оспариввание отцовства и материнства
