section.section#reviews
	.container 
		h2.section__title выполнили 1200 контрактов <br>за 25 лет
		.reviews 
			.reviews__tab-container.tab-container2 
				.reviews__tabs.tabs
					a.tab.active Текст
					a.tab Видео
				.reviews__tabs-panes.tabs-panes 
					.tab-pane.active
						<review-lab data-widgetid="672222adeb335c4b80f994a5"></review-lab>
						<script src="https://app.reviewlab.ru/widget/index-es2015.js" defer></script>
					.tab-pane