script(src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js")
script(src="https://api-maps.yandex.ru/2.1/?apikey=&lang=ru_RU")
script(src="https://unpkg.com/accordion-js@3.3.4/dist/accordion.min.js")
script(src="js/tabs.js")
script(src="js/map.js")
script(src="js/main.js")