section.section.staff#staff
	.container 
		.staff__wrap 
			h2(data-aos="fade-right").section__title.staff__title КАЖДЫЙ из наших юристов <br> имеет узкую специализацию 
			p.section__subtitle И работает в штате больше 7 лет
			.staff__container
				.swiper.staff__swiper
					.swiper-wrapper 	
						.swiper-slide 
							img.staff__pic(alt="" src="img/s1.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Варфаломеева <br>Екатерина
									span.staff__swiper-exp 17 лет опыта
								.staff__body 
									span Образование:
									p Московский психолого-социальный институт, 2007
							.staff__spec
								span Специализация:
								p Налоговое право, ценные бумаги, споры с недвижимостью
							.staff__footer 
								span 86,7 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s2.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Глухов <br>Сергей 
									span.staff__swiper-exp 11 лет опыта
								.staff__body 
									span Образование:
									p Национальный исследовательский Мордовский государственный университет им. Н.П. Огарева, 2014
							.staff__spec
								span Специализация:
								p Трудовое право, споры с недвижимостью
							.staff__footer 
								span 87,5 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s3.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Никонов <br>Юрий
									span.staff__swiper-exp 32 лет опыта
								.staff__body 
									span Образование:
									p Кемеровский государственный университет, 1992
							.staff__spec
								span Специализация:
								p Семейное право, уголовное право
							.staff__footer 
								span 88,9 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s4.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Павлюк <br>Татьяна
									span.staff__swiper-exp 25 лет опыта
								.staff__body 
									span Образование:
									p Московская государственная юридическая академия, 1999
							.staff__spec
								span Специализация:
								p Семейное право
							.staff__footer 
								span 83,9 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s5.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Меркулов <br>Андрей
									span.staff__swiper-exp 21 год опыта
								.staff__body 
									span Образование:
									p Московская государственная юридическая академия, 2003
							.staff__spec
								span Специализация:
								p Семейное право, споры с недвижимостью
							.staff__footer 
								span 89,2 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s6.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Коробкова <br>Елена
									span.staff__swiper-exp 25 лет опыта
								.staff__body 
									span Образование:
									p Московский государственный лингвистический университет 1999
							.staff__spec
								span Специализация:
								p Гражданское право, взыскания дебиторской задолженности, защита прав потребителей, защита персональных данных, трудовое право
							.staff__footer 
								span 85,2 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s7.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Шишкин А.В.
									span.staff__swiper-exp 25 лет опыта
								.staff__body 
									span Генеральный директор и основатель Честер-К
						.swiper-slide 
							img.staff__pic(alt="" src="img/s8.webp")


					.swiper-navigation 
						.swiper-button-prev 
						.swiper-button-next
					.swiper-pagination