section.section.staff#staff
	.container 
		.staff__wrap 
			h2(data-aos="fade-right").section__title.staff__title КАЖДЫЙ из наших юристов <br> имеет узкую специализацию 
			p.section__subtitle И работает в штате больше 7 лет
			.staff__container
				.swiper.staff__swiper
					.swiper-wrapper 	
						.swiper-slide 
							img.staff__pic(alt="" src="img/s1.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Варфаломеева <br>Екатерина Юрьевна
									span.staff__swiper-exp 17 лет опыта
								.staff__body 
									span Образование:
									p Московский психолого-социальный институт, 2007
							.staff__spec
								span Специализация:
								p Налоговое право
								p Ведение бухгалтерского и налогового учета
							.staff__footer 
								span 86,7 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s2.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Глухов <br>Сергей Геннадьевич
									span.staff__swiper-exp 11 лет опыта
								.staff__body 
									span Образование:
									p Национальный исследовательский Мордовский государственный университет им. Н.П. Огарева, 2014
							.staff__spec
								span Специализация:
								p Споры с недвижимостью
								p Корпоративное право
								p Арбитраж
							.staff__footer 
								span 87,5 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s3.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Никонов <br>Юрий Николаевич
									span.staff__swiper-exp 32 лет опыта
								.staff__body 
									span Образование:
									p Кемеровский государственный университет, 1992
							.staff__spec
								span Специализация:
								p Уголовное право
								p Семейные споры
								p Арбитраж
							.staff__footer 
								span 88,9 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s4.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Павлюк <br>Татьяна Юрьевна
									span.staff__swiper-exp 25 лет опыта
								.staff__body 
									span Образование:
									p Московская государственная юридическая академия, 1999
							.staff__spec
								span Специализация:
								p Семейное право
								p Трудовые споры
							.staff__footer 
								span 83,9 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s5.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Меркулов <br>Андрей Сергеевич
									span.staff__swiper-exp 21 год опыта
								.staff__body 
									span Образование:
									p Московская государственная юридическая академия, 2003
							.staff__spec
								span Специализация:
								p Семейное право
								p Споры с недвижимостью
								p Трудовое право
								p Арбитраж
							.staff__footer 
								span 89,2 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s6.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Коробкова <br>Елена Сергеевна
									span.staff__swiper-exp 25 лет опыта
								.staff__body 
									span Образование:
									p Московский государственный лингвистический университет 1999
							.staff__spec
								span Специализация:
								p Гражданское право
								p Трудовое право
								p Защита персональных данных
								p Споры по защите прав потребителя
							.staff__footer 
								span 85,2 %
								span выигранных дел
						.swiper-slide 
							img.staff__pic(alt="" src="img/s7.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Шишкин <br> Андрей Викторович
									span.staff__swiper-exp 25 лет опыта
								.staff__body 
									span Генеральный директор и основатель Честер-К
						.swiper-slide 
							img.staff__pic(alt="" src="img/s8.webp")
							.staff__content
								.staff__head 
									span.staff__swiper-title Семенко <br>Анастасия
							.staff__spec
								span Специализация:
								p Гражданское право
								p Банкротство
								p Арбитраж


					.swiper-navigation 
						.swiper-button-prev 
						.swiper-button-next
					.swiper-pagination