section.section
	.container 
		h2.section__title Команда юристов и адвокатов
		p.section__subtitle С практическим опытом от 10 до 42 лет
		.lawyers
			.swiper.swiper-lawyers.swiper-lawyers--desctop#swiper-lawyers
				.swiper-wrapper 
					.swiper-slide 
						.lawyers__grid
							a(href="img/lawyers/1-main.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/1-main.webp" alt="")
							a(href="img/lawyers/1-left.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/1-left.webp" alt="")
							a(href="img/lawyers/1-center.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/1-center.webp" alt="")
							a(href="img/lawyers/1-right.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/1-right.webp" alt="")
					.swiper-slide 
						.lawyers__grid
							a(href="img/lawyers/2-main.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/2-main.webp" alt="")
							a(href="img/lawyers/2-left.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/2-left.webp" alt="")
							a(href="img/lawyers/2-center.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/2-center.webp" alt="")
							a(href="img/lawyers/2-right.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/2-right.webp" alt="")
					.swiper-slide 
						.lawyers__grid
							a(href="img/lawyers/3-main.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/3-main.webp" alt="")
							a(href="img/lawyers/3-left.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/3-left.webp" alt="")
							a(href="img/lawyers/3-center.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/3-center.webp" alt="")
							a(href="img/lawyers/3-right.webp" data-lightbox="lawyers-img").lawyers__pic
								img(src="img/lawyers/3-right.webp" alt="")
				.swiper-navigation 
					.swiper-button-prev 
					.swiper-button-next
				.swiper-pagination

			.swiper.swiper-lawyers.swiper-lawyers--mobile#swiper-lawyers-mobile
				.swiper-wrapper 
					.swiper-slide 
						a(href="img/lawyers/1-main.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/1-main.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/1-left.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/1-left.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/1-center.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/1-center.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/1-right.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/1-right.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/2-main.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/2-main.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/2-left.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/2-left.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/2-center.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/2-center.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/2-right.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/2-right.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/3-main.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/3-main.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/3-left.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/3-left.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/3-center.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/3-center.webp" alt="")
					.swiper-slide 
						a(href="img/lawyers/3-right.webp" data-lightbox="lawyers-img").lawyers__pic
							img(src="img/lawyers/3-right.webp" alt="")

				.swiper-navigation 
					.swiper-button-prev 
					.swiper-button-next
				//- .swiper-pagination