section.section
	.container 
		h2.section__title(data-aos="fade-right") закройте все юридические задачи бизнеса
		.tab-container.tasks
			.tabs 
				a.tab.active Составление и анализ договоров и документаций
				a.tab Представительство в судах
				a.tab Корпоративное сопровождение
				a.tab Юридическая упаковка стартапов
			.tab-panes 
				.tab-pane.active
					ul 
						li Согласуем с контрагентами договоры любой сложности: от поставки до подряда
						li Участвуем во всех встречах и переговорах с контрагентами
						li Составляем надежные шаблоны договоров с учетом специфики бизнеса 
						li Возьмём всё договорное сопровождение, включая реестры договоров
						li Отслеживаем получение подписанных документов.
						li Составляем кадровые документы: трудовые договоры, правила внутреннего трудового распорядка, должностные инструкции, положения о премировании
						li Делаем: оферты, уставы, приказы, положения, акты и информационные письма - и  любые другие документы
				.tab-pane
					ul 
						li Сопровождаем судебные процессы под ключ — от направления претензии клиенту и иска в суд до получения исполнительных листов
						li Организуем исполнительное производство — берём на себя общение с приставами и добиваемся реального взыскания денег 
						li Защищаем ваши интересы в любых инстанциях: ФНС, ФАС и других органах
						li Любое количество судебных процессов независимо от объёма и сложности дел
				.tab-pane
					ul 
						li Регистрация, реорганизация, ликвидация компаний
						li Юридическое сопровождение корпоративных мероприятий — общих собраний участников и советов директоров
						li Смена юридического адреса, увеличение и уменьшение уставного капитала
				.tab-pane
					ul 
						li Составляем обязательную документацию — политики, положения, уставы, инструкции и правила
						li Оформляем сложные документы для стартапов и сервисов — правила использования сервиса, оферты, дорожные карты и модели управления	


		ul#acc.tasks-mobile 
			li
				div Составление и анализ договоров и документаций
				div
					ul 
						li Согласуем с контрагентами договоры любой сложности: от поставки до подряда
						li Участвуем во всех встречах и переговорах с контрагентами
						li Составляем надежные шаблоны договоров с учетом специфики бизнеса 
						li Возьмём всё договорное сопровождение, включая реестры договоров
						li Отслеживаем получение подписанных документов.
						li Составляем кадровые документы: трудовые договоры, правила внутреннего трудового распорядка, должностные инструкции, положения о премировании
						li Делаем: оферты, уставы, приказы, положения, акты и информационные письма - и  любые другие документы
			li
				div ПРЕДСТАВИТЕЛЬСТВО В СУЛАХ
				div 
					ul 
						li Сопровождаем судебные процессы под ключ — от направления претензии клиенту и иска в суд до получения исполнительных листов
						li Организуем исполнительное производство — берём на себя общение с приставами и добиваемся реального взыскания денег 
						li Защищаем ваши интересы в любых инстанциях: ФНС, ФАС и других органах
						li Любое количество судебных процессов независимо от объёма и сложности дел
			li
				div КОРПОРАТИВНОЕ СОПРОВОЖДЕНИЕ
				div 
					ul 
						li Регистрация, реорганизация, ликвидация компаний
						li Юридическое сопровождение корпоративных мероприятий — общих собраний участников и советов директоров
						li Смена юридического адреса, увеличение и уменьшение уставного капитала
			li
				div ЮРИДИЧЕСКАЯ УПАКОВКА СТАРТАПОВ
				div 
					ul 
						li Составляем обязательную документацию — политики, положения, уставы, инструкции и правила
						li Оформляем сложные документы для стартапов и сервисов — правила использования сервиса, оферты, дорожные карты и модели управления	
