section.section
	.container 
		h2.section__title(data-aos="fade-right") закройте все юридические задачи бизнеса
		.tab-container.tasks
			.tabs 
				a.tab.active ДОСУДЕБНЫЕ ПЕРЕГОВОРЫ
				a.tab Судебный процесс
				a.tab Апеляция и кассация
				a.tab Взыскание задолженеости
			.tab-panes 
				.tab-pane.active
					ul 
						li Напишем грамотную досудебную претензию
						li Разработаем грамотную правовую стратегию
						li Противодействуем встречным исковым заявлениям
						li Проведём досудебные переговоры, которые часто заканчиваются в пользу наших клиентов без судебного процесса
				.tab-pane
					ul 
						li Направим материалы и исковое заявление в суд
						li Изучим общую судебную практику и практику судьи, который будет вести процесс, выработав оптимальную стратегию
						li Разъясним вам суть искового заявления и познакомим с документами, отправленными в суд
						li Вы будете знать главные доводы, стратегию и дальнейшие шаги
						li Подготовим отзыв при предъявлении встречного иска
						li На каждое судебное заседание разрабатываем несколько сценариев развития событий
						li Доказываем необоснованности требований, или наоборот, обоснованность иска, в том числе при помощи судебной экспертизы
						li Представляем вас на судебных заседаниях по доверенности
						li Присутствие не нужно
						li Об итогах заседания и дальнейших шагах подробно рассказываем вам, вы всегда информированы
				.tab-pane
					ul 
						li Отслеживаем  и не пропустим подачу апелляции ответчиком
						li Готовим материалы и большую доказательную базу в ответ на обжалование решения для быстрого завершения дела
						li Или подключимся к процессу на этом этапе, обжаловав невыгодное судебное решение
				.tab-pane
					ul 
						li Получим исполнительный лист от суда и отработаем все технические моменты по взысканию задолженности о поступлении средств на ваш счёт


		ul#acc.tasks-mobile 
			li
				div ДОСУДЕБНЫЕ ПЕРЕГОВОРЫ
				div
					ul 
						li Напишем грамотную досудебную претензию
						li Разработаем грамотную правовую стратегию
						li Противодействуем встречным исковым заявлениям
						li Проведём досудебные переговоры, которые часто заканчиваются в пользу наших клиентов без судебного процесса
			li
				div Судебный процесс
				div 
					ul 
						li Направим материалы и исковое заявление в суд
						li Изучим общую судебную практику и практику судьи, который будет вести процесс, выработав оптимальную стратегию
						li Разъясним вам суть искового заявления и познакомим с документами, отправленными в суд
						li Вы будете знать главные доводы, стратегию и дальнейшие шаги
						li Подготовим отзыв при предъявлении встречного иска
						li На каждое судебное заседание разрабатываем несколько сценариев развития событий
						li Доказываем необоснованности требований, или наоборот, обоснованность иска, в том числе при помощи судебной экспертизы
						li Представляем вас на судебных заседаниях по доверенности
						li Присутствие не нужно
						li Об итогах заседания и дальнейших шагах подробно рассказываем вам, вы всегда информированы
			li
				div Апеляция и кассация
				div 
					ul 
						li Отслеживаем  и не пропустим подачу апелляции ответчиком
						li Готовим материалы и большую доказательную базу в ответ на обжалование решения для быстрого завершения дела
						li Или подключимся к процессу на этом этапе, обжаловав невыгодное судебное решение
			li
				div Взыскание задолженеости
				div 
					ul 
						li Получим исполнительный лист от суда и отработаем все технические моменты по взысканию задолженности о поступлении средств на ваш счёт
