section.section 
	.container 
		h2(data-aos="fade-right").section__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ СЕМЕЙНЫХ СПОРОВ
		.work-directions 
			.work-directions__img 
				img(src="img/pic2.webp" alt="")
			.work-directions__links 
				a(href="vzyskanie_alimentov.html" data-aos="fade-left") Взыскание алиментов
				a(href="ogranichenie_i_lishenie_prav_roditelej.html" data-aos="fade-left") Ограничение и лишение прав родителей
				a(href="opredelenie_mesta_prozhivaniya_rebenka.html" data-aos="fade-left") Определение места проживания ребенка
				a(href="rastorzhenie_braka.html" data-aos="fade-left") Расторжение брака
				a(href="spory_po_nasledstvu.html" data-aos="fade-left") Споры по наследству
				a(href="razdel_immushestva.html" data-aos="fade-left") Раздел совместно нажитого имущества
				a(href="opredelenie_poryadka_uchastiya_roditelya_v_vospitanii_rebenka.html" data-aos="fade-left") Определение порядка участия родителя в воспитании ребенка
				a(href="ustanovlenie_i_osparivanie_otcovstva_i_materinstva.html" data-aos="fade-left") Установление и оспаривание отцовства и материнства