section.section 
	.container 
		h2(data-aos="fade-right").section__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ СПОРОВ С НЕДВИЖИМОСТЬЮ
		.work-directions 
			.work-directions__img 
				img(src="img/pic2.webp" alt="")
			.work-directions__links 
				a(href="sdelki_s_nedvizhimostyu.html" data-aos="fade-left") Сделки с недвижимостью
				a(href="gosudarstvennaya_registraciya_perekhoda_ili_obladaniem_prava_sobstvennosti.html" data-aos="fade-left") Государственная регистрация перехода или обладанием права собственности
				a(href="osparivanie_kadastrovoj_stoimosti.html" data-aos="fade-left") Оспаривание кадастровой стоимости
				a(href="zhilishchnye_spory.html" data-aos="fade-left") Жилищные споры
				a(href="spory_o_snose_samovol'nyh_postroek,_zdanij.html" data-aos="fade-left") Споры о сносе самовольных построек, зданий
				a(href="arbitrazhnye_spory_po_nedvizhimosti.html" data-aos="fade-left") Арбитражные споры по недвижимости
