section.section 
	.container 
		h2.section__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ СЕМЕЙНЫХ СПОРОВ
		.work-directions 
			.work-directions__img 
				img(src="img/pic2.webp" alt="")
			.work-directions__links 
				a(href="") Взыскание алиментов
				a(href="") Ограничение и лишение прав родителей
				a(href="") Определение места проживания ребенка
				a(href="") Расторжение брака
				a(href="") Споры по наследству
				a(href="") Раздел совместно нажитого имущества
				a(href="") Определение порядка участия родителя в воспитании ребенка
				a(href="") Установление и оспариввание отцовства и материнства