extends layout	
block vars
	-var header = 'Заголовок статьи'
	-var link1 = "Блог"
	-var link2 = "Заголовок статьи"
block main 
	main
		section.section
			.container
				.breadcrumbs 
					.breadcrumbs__wrap
						a(href="index.html") Главная
						span /
						a(href="blog.html") Блог
						span /
						a Заголовок статьи

		section 
			.container 
				h1.section__title #{header}
				.article 
					p Профильный юрист с опытом минимум 10 лет по семейному праву зачастую помогает сыкономить время
					p Точно поймём сколько будет стоить вести дело, без внезапных доп. платежей. Расскажем отработанный за 25 лет алгоритм действий нужный для победы
					.article__pic 
						img(src="img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash2.webp" alt="")

					h2 Заголовок h2 статьи
					p В сентябре банки выдали 3,6 тыс. новых кредитов на индивидуальное жилищное строительство на 40 млрд руб., сообщают аналитики госкомпании. Это на 73% меньше по количеству и на 33% - по объему, чем годом ранее. Снижение показателей связано в том числе с завершением действия "Льготной ипотеки", на которую приходилась значительная доля выдач, отметили эксперты.
					p В то же время по сравнению с августом нынешнего года строительство частных домов оживилось - рост составил 16% за месяц.

					p "Рынок ИЖС постепенно адаптируется к новым требованиям, по которым "Семейная ипотека" с привлечением подрядчика доступна только при использовании счетов эскроу. При этом потенциал роста далеко не исчерпан и реализуется при полноценном переходе рынка ИЖС на механизм эскроу с 1 марта 2025 года", - считают в ДОМ.РФ.
					p За счет рекордных объемов кредитования в I полугодии совокупная выдача ипотеки на частное домостроение по итогам 9 месяцев значительно опережает прошлогодние показатели - выдано 97 тыс. кредитов на 540 млрд руб. Это на 32% больше по количеству и на 71% - по объему, чем в 2023 году.
					p На 1 октября портфель ипотеки на ИЖС достиг 1,1 трлн руб. (на 65% или на 448 млрд руб. больше, чем в начале года) и теперь составляет 5,8% от общего ипотечного портфеля.