extends layout	
block vars
	-var header = 'Полезные статьи'
	-var link1 = "Блог"
block main 
	main
		section.section
			.container
				.breadcrumbs 
					.breadcrumbs__wrap
						a(href="index.html") Главная
						span /
						a Заголовок статьи

		section 
			.container 
				h1.section__title.blog__title #{header}
				.blog 
					a(href="").blog__item
						.blog__img 
							img(src="img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.webp" alt="")
						.blog__item-body
							span.date 01.07.2024
							h3.blog__item-title Заголовок
							p Профильный юрист с опытом минимум 10 лет по семейному праву зачастую помогает сыкономить время
					a(href="").blog__item
						.blog__img 
							img(src="img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.webp" alt="")
						.blog__item-body
							span.date 01.07.2024
							h3.blog__item-title Заголовок
							p Профильный юрист с опытом минимум 10 лет по семейному праву зачастую помогает сыкономить время
					a(href="").blog__item
						.blog__img 
							img(src="img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.webp" alt="")
						.blog__item-body
							span.date 01.07.2024
							h3.blog__item-title Заголовок
							p Профильный юрист с опытом минимум 10 лет по семейному праву зачастую помогает сыкономить время
					a(href="").blog__item
						.blog__img 
							img(src="img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.webp" alt="")
						.blog__item-body
							span.date 01.07.2024
							h3.blog__item-title Заголовок
							p Профильный юрист с опытом минимум 10 лет по семейному праву зачастую помогает сыкономить время
					a(href="").blog__item
						.blog__img 
							img(src="img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.webp" alt="")
						.blog__item-body
							span.date 01.07.2024
							h3.blog__item-title Заголовок
							p Профильный юрист с опытом минимум 10 лет по семейному праву зачастую помогает сыкономить время
					a(href="").blog__item
						.blog__img 
							img(src="img/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.webp" alt="")
						.blog__item-body
							span.date 01.07.2024
							h3.blog__item-title Заголовок
							p Профильный юрист с опытом минимум 10 лет по семейному праву зачастую помогает сыкономить время