extends layout	
block vars
	-var header = 'Раздел совместно нажитого имущества'
	-var link1 = "Семейные своры"
	-var link2 = "Раздел совместно нажитого имущества"
block main 
	main
		section.section
			.container
				.breadcrumbs 
					.breadcrumbs__wrap
						a(href="index.html") Главная
						span /
						a Контакты

		section 
			.container 
				h1.title.contacts__title Контакты
				.block-contact__wrap

					.block-contact__box 
						.block-contact__box-top
							//- .block-contact__sticky Контакты
							h3.block-contact__box-title Контакты
							.block-contact__box-inner 
								ul 
									li 
										img(alt="" src="img/phone.svg")
										a(href="tel:+79037900360" onclick="ym(62967727,'reachGoal','zvonok'); return true;") +7 (903) 790-03-60 
									li 
										img(alt="" src="img/location.svg")
										| г. Москва, 1-й Неопалимовский переулок, д. 14/16, (вход со двора)
									li 
										img(alt="" src="img/clock.svg")
										.block-contact__box-row
											| ПН — ПТ: с 9:00 до 18:00
											p <b>Не успеваете в рабочее время в будний день?</b> <br> Откроем офис раньше или останемся позже для вас
					#map


		include modules/feedback