extends layout	
block vars
	-var header = 'Семейные споры'
	-var link = "Семейные споры"
block main 
	main
		section.section
			.container
				include modules/breadcrumbs
				section.section.inner-block
					h1.inner-block__title #{header}
					.inner-block__content 
						p ЮРИДИЧЕСКОЕ АГЕНТСТВО ЧЕСТЕР - К
						a.btn Консультация с юристом
					.links
						a(href="") Алиментов 
						a(href="") Ограничение и лишение прав родителей
						a(href="") Определение места проживания ребенка
						a(href="") Расторжение брака
					.main-block__benefici
						.main-block__benefici-item
							h2.main-block__benefici-title более 25 лет практического опыта
							.main-block__benefici-text
								p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
								p На всех уровнях: от досудебного урегулирования, до верховного суда
						.main-block__benefici-item
							h2.main-block__benefici-title 96% выигранных дел
							.main-block__benefici-text
								p За счёт гигантского опыта в 25 лет и практики во всех судах Москвы и МО. В остальных 4% дел снижали взыскиваемые суммы на 30-70%.
								p Финансово заинтересованы в вашей победе
						.main-block__benefici-item
							h2.main-block__benefici-title команда юристов и адвокатов
							.main-block__benefici-text
								p С опытом в профессии от 10 до 42 лет.
								p При этом работающие в нашем агентстве минимум 7 лет, с узкой специализацией доведут дело до победы
			include modules/feedback
			include modules/work-directions
			include modules/case-inner
			include modules/price
			include modules/achiev
			include modules/staff
			include modules/case
			include modules/reviews
			include modules/questions
			include modules/block-contact