extends layout
block main 
	main
		section.section.main-block 
			.container
				.main-block__wrap 
					.main-block__top-content
						h1.main-block__title ЧЕСТЕР-К
						.main-block__aside 	
							.main-block__aside-block
								span ЮРИДИЧЕСКОЕ АГЕНТСТВО
								span est. 1999
							button.btn.btn--main.show-popup КОНСУЛЬТАЦИЯ С ЮРИСТОМ
					.main-block__benefici
						.main-block__benefici-item
							span.main-block__benefici-title Работаем по всем направлениям права
							.main-block__benefici-text
								p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
								p На всех уровнях: от досудебного урегулирования, до верховного суда
						.main-block__benefici-item
							span.main-block__benefici-title 96% выигранных дел
							.main-block__benefici-text
								p За счёт гигантского опыта в 25 лет и практики во всех судах Москвы и МО. В остальных 4% дел снижали взыскиваемые суммы на 30-70%.
								p Финансово заинтересованы в вашей победе
						.main-block__benefici-item
							span.main-block__benefici-title команда юристов и адвокатов
							.main-block__benefici-text
								p С опытом в профессии от 10 до 42 лет.
								p При этом работающие в нашем агентстве минимум 7 лет, с узкой специализацией доведут дело до победы
		section.section.offer 
			.container 
				.offer__wrap 
					//- .offer__sticky Первая <br> консультация
					.offer__aside 
						h2.section__title.offer__title ПЕРВАЯ БЕСПЛАТНАЯ <br> КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ
						ul.offer__list 
							li.offer__list-item
								span.offer__list-title Консультирует или главный юрист, или юрист по нужному узкому профилю
								p.offer__list-text Один из 11 наших юристов, чтобы сразу вникнуть в вопрос, сэкономить ваше время и помочь 
							li.offer__list-item
								span.offer__list-title ЧЕСТНАЯ ОЦЕНКА ПЕРСПЕКТИВ ДЕЛА
								p.offer__list-text Честно скажем шансы на победу без обещаний несбыточных результатов на основе 25-ти летней практики и знания судебного правоприменения
							li.offer__list-item
								span.offer__list-title ОЦЕНИМ СТОИМОСТЬ РАБОТ И ДАДИМ АЛГОРИТМ ДЕЙСТВИЙ
								p.offer__list-text Точно поймём сколько будет стоить вести дело, без внезапных доп. платежей. Расскажем отработанный за 25 лет алгоритм действий нужный для победы.
						.feedback 
							.feedback__content 
								span.feedback__title Записаться на первую бесплатную консультацию юриста
								.feedback__text 
									p Если задача сложная, то запишем на живую 1-3-х часовую платную консультацию. Команда юристов погрузится в документы, историю дела, судебную практику и выдаст рекомендации.
									p Для юридических лиц можем приехать в ваш офис с директом и главным юристом.
							form.form
								.form__inputs 
									input(type="text" placeholder="Имя")
									input.phone-field(type="text" placeholder="Номер телефона")
								input.form__btn(type="submit" value="ЗАПИСАТЬСЯ" onsubmit="ym(62967727,'reachGoal','forma_obrat_sv'); return true;")

		section.section.directions 
			.container
				.directions__wrap 
					h2.section__title.directions__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ <br> ПРАВА НА ЛЮБОЙ СТАДИИ ДЕЛА
					p.section__subtitle.directions__subtitle Побывали во всех судах Москвы и МО, поработали со всеми судьями и по всей территории РФ. включая новые области
					.directions__content 
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/Handshake.svg")
								| юридическое сопровождение бизнеса
							.directions__list
								a(href="")  Юридическое сопровождение деятельности юридических лиц, ИП, самозанятых
								a(href="")  Бухгалтерское сопровождение деятельности юридических лиц, ИП
								a(href="")  Ведение кадрового учета юридических лиц, ИП
						.directions__box
							a(href="").directions__head 
								img(alt="" src="img/Chester-Kfamily.svg") 
								| Семейные сборы
							.directions__list
								a(href="")  Ввзыскание аллиментов
								a(href="")  Ограничение и лишение прав родителей
								a(href="")  Определение места проживания ребенка
								a(href="")  Расторжение брака
								a(href="")  Споры по наследству
								a(href="")  Раздел совместно нажитого имущества
								a(href="")  Определение порядка участия родителя в воспитании ребенка
								a(href="")  Установление и оспариввание отцовства и материнства
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/Chester-Kdesign.svg")
								| трудовые споры
							.directions__list 
								a(href="") Проведение трудового аудита
								a(href="") Сопровождение увольнения работника
								a(href="") Представление интересов в судах по трудовым спорам с работником
								a(href="") Сопровождение увольнения 
								a(href="") Досудебное сопровождение при конфликтной ситуации с работодателем
								a(href="") Представление интересов в судах по трудовым спорам с работодателем
							.directions__list 
						.directions__box 
							a(href="").directions__head 
								img(alt="" src="img/family-home-svgrepo-com1.svg")
								| Недвижимость
							.directions__list 
								a(href="")  Сопровождение сделок с недвижимостью 
								a(href="")  Жилищные споры
								a(href="")  Арбитраж по недвижимости
								a(href="")  Оспаривание сделок , включая споры о банкротстве
								a(href="")  Оспаривание кадастровой стоимости
								a(href="")  Споры о сносе самовольных построек
								a(href="") Легализация самовольных построек через ГЗК
								a(href="") Сопровождение реконструкции, нового строительства
								a(href="") Земельные споры
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/Scales.svg")
								| Представительство в судах
							.directions__list 
								a(href="")  Суды общей юрисдикции по гражданским, административным делам
								a(href="")  Арбитраж
								a(href="")  Суды по уголовным делам
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/salaryman-svgrepo-com1.svg")
								| уголовное право
							img.directions__pic(alt="" src="img/pic2.webp")



		section.section.achiev 
			.container 
				span.achiev__sticky Как результут
				.achiev__wrap 
					.achiev__top 
						h2.achiev__title ЗА 25 ЛЕТ <br> РАБОТЫ
						ul.achiev__list 
							li Отобрали лучших из порядка 50 юристов, прошедших через наше  юридическое агентство, и теперь каждый из них у нас в штате минимум 7 лет
							li Накопили документную базу на 1200 документов,  где каждая страничка отточена до последнего знака
							li Отработали алгоритмы действий, накопили опыт оптимальных побед,  так как после каждого дела анализируем ошибки и ищем альтернативные пути
							li Поняли, за счёт гигантской практики, тренды правоприменения,  изменения трактовок законов и заключения судов
							li Сразу сможем точно оценить стоимость, так как понимаем за сколько и как сложно будет провести дело
					.achiev__bottom
						p СНИЖАЕМ взыскиваемые суммы на 20-30%, <br> смяГЧАЕМ судебные решения и <b>ВЫИГРЫВАЕМ 96% дел</b>

		section.section.staff#staff
			.container 
				.staff__wrap 
					h2.section__title.staff__title КАЖДЫЙ из наших юристов <br> имеет узкую специализацию 
					p.section__subtitle И работает в штате больше 7 лет
					.staff__container
						.swiper.staff__swiper
							.swiper-wrapper 	
								.swiper-slide 
									img.staff__pic(alt="" src="img/s1.webp")
									.staff__head 
										span.staff__swiper-title Варфаломеева <br>Екатерина
										span.staff__swiper-exp 17 лет опыта
									.staff__body 
										span Образование:
										p Московский психолого-социальный институт, 2007
										span.staff__spec Специализация:
										p Налоговое право ценные бумаги споры с недвижимостью
									.staff__footer 
										span 86,7 %
										span выигранных дел
								.swiper-slide 
									img.staff__pic(alt="" src="img/s2.webp")
									.staff__head 
										span.staff__swiper-title Глухов <br>Сергей 
										span.staff__swiper-exp 11 лет опыта
									.staff__body 
										span Образование:
										p Национальный исследовательский Мордовский государственный университет им. Н.П. Огарева, 2014
										span.staff__spec Специализация:
										p Трудовое право, споры с недвижимостью
									.staff__footer 
										span 87,5 %
										span выигранных дел
								.swiper-slide 
									img.staff__pic(alt="" src="img/s3.webp")
									.staff__head 
										span.staff__swiper-title Никонов <br>Юрий
										span.staff__swiper-exp 32 лет опыта
									.staff__body 
										span Образование:
										p Кемеровский государственный университет, 1992
										span.staff__spec Специализация:
										p Семейное право, уголовное право
									.staff__footer 
										span 88,9 %
										span выигранных дел
								.swiper-slide 
									img.staff__pic(alt="" src="img/s4.webp")
									.staff__head 
										span.staff__swiper-title Павлюк <br>Татьяна
										span.staff__swiper-exp 25 лет опыта
									.staff__body 
										span Образование:
										p Московская государственная юридическая академия, 1999
										span.staff__spec Специализация:
										p Семейное право
									.staff__footer 
										span 83,9 %
										span выигранных дел
								.swiper-slide 
									img.staff__pic(alt="" src="img/s5.webp")
									.staff__head 
										span.staff__swiper-title Меркулов <br>Андрей
										span.staff__swiper-exp 21 год опыта
									.staff__body 
										span Образование:
										p Московская государственная юридическая академия, 2003
										span.staff__spec Специализация:
										p Семейное право, споры с недвижимостью
									.staff__footer 
										span 89,2 %
										span выигранных дел
								.swiper-slide 
									img.staff__pic(alt="" src="img/s6.webp")
									.staff__head 
										span.staff__swiper-title Коробкова <br>Елена
										span.staff__swiper-exp 25 лет опыта
									.staff__body 
										span Образование:
										p Московский государственный лингвистический университет 1999
										span.staff__spec Специализация:
										p Гражданское право, взыскания дебиторской задолженности, защиты прав потребителей, защиты персональных данных, трудовое право
									.staff__footer 
										span 85,2 %
										span выигранных дел
								.swiper-slide 
									img.staff__pic(alt="" src="img/s7.webp")
									.staff__head 
										span.staff__swiper-title Шишкин А.В.
										span.staff__swiper-exp 25 лет опыта
									.staff__body 
										span Генеральный директор и основатель Честер-К
								.swiper-slide 
									img.staff__pic(alt="" src="img/s8.webp")
									.staff__head 
										span.staff__swiper-title
										span.staff__swiper-exp 
									.staff__body 
										span 


							.swiper-navigation 
								.swiper-button-prev 
								.swiper-button-next

		section.section.case 
			.container 
				.case__wrap 
					h2.section__title.case__title 96% дел выигрываем
					p.section__subtitle.case__subtitle В остальных 4% снижаем взыскиваемые суммы на 30% и смягчаем судебное решение
					.tab-container 
						.case__tabs.tabs
							a.tab.active Семейные споры
							a.tab Уголовные дела
							a.tab Трудовые споры
							a.tab Недвижимость 
						.case__tab-panes.tab-panes 
							.case__tab-pane.tab-pane.active
								.case-swiper-1-wrap
									.swiper.case__swiper-1
										.swiper-wrapper
											.swiper-slide 
												.case__top 
													.case__grid 
														.case__item.grid-case-1
															span задача
															p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
														.case__item.grid-case-2
															span трудность
															p Работодатель отказывался решить спор в досудебном порядке
														.case__item.grid-case-3
															span результат
															p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
												.case__bottom
													span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
													p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.
											.swiper-slide 
												.case__top 
													.case__grid 
														.case__item.grid-case-1
															span задача
															p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
														.case__item.grid-case-2
															span трудность
															p Работодатель отказывался решить спор в досудебном порядке
														.case__item.grid-case-3
															span результат
															p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
												.case__bottom
													span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
													p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.
											.swiper-slide 
												.case__top 
													.case__grid 
														.case__item.grid-case-1
															span задача
															p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
														.case__item.grid-case-2
															span трудность
															p Работодатель отказывался решить спор в досудебном порядке
														.case__item.grid-case-3
															span результат
															p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
												.case__bottom
													span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
													p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

										.swiper-nav 
											.swiper-button-prev 
											.swiper-button-next

							.case__tab-pane.tab-pane
								.case-swiper-1-wrap
									.swiper.case__swiper-2
										.swiper-wrapper
											.swiper-slide 
												.case__top 
													.case__grid 
														.case__item.grid-case-1
															span задача
															p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
														.case__item.grid-case-2
															span трудность
															p Работодатель отказывался решить спор в досудебном порядке
														.case__item.grid-case-3
															span результат
															p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
												.case__bottom
													span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
													p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

										.swiper-nav 
											.swiper-button-prev 
											.swiper-button-next
							.case__tab-pane.tab-pane 
								.case-swiper-1-wrap
									.swiper.case__swiper-3
										.swiper-wrapper
											.swiper-slide 
												.case__top 
													.case__grid 
														.case__item.grid-case-1
															span задача
															p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
														.case__item.grid-case-2
															span трудность
															p Работодатель отказывался решить спор в досудебном порядке
														.case__item.grid-case-3
															span результат
															p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
												.case__bottom
													span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
													p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

										.swiper-nav 
											.swiper-button-prev 
											.swiper-button-next
							.case__tab-pane.tab-pane 
								.case-swiper-1-wrap
									.swiper.case__swiper-4
										.swiper-wrapper
											.swiper-slide 
												.case__top 
													.case__grid 
														.case__item.grid-case-1
															span задача
															p Работодатель не выплачивал задолженность по заработной плате клиенту и не возращал трудовую книжку
														.case__item.grid-case-2
															span трудность
															p Работодатель отказывался решить спор в досудебном порядке
														.case__item.grid-case-3
															span результат
															p Решили задачу в досудебном порядке: клиенту выплатили зарплату, компенсацию неиспользованного отпуска и потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и часть юридических расходов
												.case__bottom
													span В досудебном порядке получили невыплаченную зарплату, потерянный заработок и моральную компенсацию для сотрудника
													p Первоначально работодатель отказывался решать претензии в досудебном порядке, рекомендуя обратиться в суд. Но за счет грамотно составленной досудебной претензии, сильной позиции в переговорах и детального описания судебной практики по данному вопросу, смогли прийти к крайне выгодному для клиента соглашению. Клиенту было выплечена не только зарплата, но оплата неиспользованного отпуска, компенсация потерянного заработка из-за поздней выдачи трудовой книжки, компенсацию морального вреда и даже часть юридических расходов.

										.swiper-nav 
											.swiper-button-prev 
											.swiper-button-next

		section.section#reviews
			.container 
				h2.section__title выполнили 1200 контрактов <br>за 25 лет
				.reviews 
					.reviews__tab-container.tab-container2 
						.reviews__tabs.tabs
							a.tab.active Текст
							a.tab Видео
						.reviews__tabs-panes.tabs-panes 




		section.section.block-contact#contacts 
			.container 
				h2.section__title.block-contact__title Офис в центре Москвы: <br> 1-й Неопалимовский переулок, <br> д. 14/16, 
				p.section__subtitle.block-contact__subtitle В собственности с 2006 года, ещё одно доказательство наших стабильных результатов
				.block-contact__wrap
					#map
						<iframe src="https://yandex.ru/map-widget/v1/?ll=37.579286%2C55.741414&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjcwNDY1OBJV0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsIDEt0Lkg0J3QtdC-0L_QsNC70LjQvNC-0LLRgdC60LjQuSDQv9C10YDQtdGD0LvQvtC6LCAxNC8xNiIKDS9RFkIVNvdeQg%2C%2C&z=17.07" width="100%" height="100%"></iframe>
					.block-contact__box 
						.block-contact__box-top
							//- .block-contact__sticky Контакты
							h3.block-contact__box-title Контакты
							.block-contact__box-inner 
								ul 
									li 
										img(alt="" src="img/phone.svg")
										a(href="tel:+79037900360" onclick="ym(62967727,'reachGoal','zvonok'); return true;") +7 (903) 790-03-60 
									li 
										img(alt="" src="img/location.svg")
										| г. Москва, 1-й Неопалимовский переулок, д. 14/16, (вход со двора)
									li 
										img(alt="" src="img/clock.svg")
										.block-contact__box-row
											| ПН — ПТ:с 9:00 до 18:00
											p <b>Не успеваете в рабочее время в будний день?</b> <br> Откроем офис раньше или останемся позже для вас

						.block-contact__box-bottom 
							.block-contact__box-bottom-title Не удобно как нам в офис?
							.block-contact__box-bottom-text 
								p Можем проконсультировать любым способом, <br> даже по телефону или в мессенджерах
								p Отправляем курьеров, <br> и юристы выезжают в офис к клиентам
								p Если вы юридическое лицо, <br> приедем к вам в офис с директором и главным юристом