extends layout
block main 
	main
		section.section.main-block 
			.container
				.main-block__wrap 
					.main-block__top-content
						h1.main-block__title #{header}
						.main-block__aside 	
							.main-block__aside-block
								span ЮРИДИЧЕСКОЕ АГЕНТСТВО
								span est. 1999
							button.btn.btn--main.show-popup КОНСУЛЬТАЦИЯ С ЮРИСТОМ
					.main-block__benefici
						.main-block__benefici-item
							h2.main-block__benefici-title Работаем по всем направлениям права
							.main-block__benefici-text
								p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
								p На всех уровнях: от досудебного урегулирования, до верховного суда
						.main-block__benefici-item
							h2.main-block__benefici-title 96% выигранных дел
							.main-block__benefici-text
								p За счёт гигантского опыта в 25 лет и практики во всех судах Москвы и МО. В остальных 4% дел снижали взыскиваемые суммы на 30-70%.
								p Финансово заинтересованы в вашей победе
						.main-block__benefici-item
							h2.main-block__benefici-title команда юристов и адвокатов
							.main-block__benefici-text
								p С опытом в профессии от 10 до 42 лет.
								p При этом работающие в нашем агентстве минимум 7 лет, с узкой специализацией доведут дело до победы

		include modules/feedback

		section.section.directions 
			.container
				.directions__wrap 
					h2.section__title.directions__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ <br> ПРАВА НА ЛЮБОЙ СТАДИИ ДЕЛА
					p.section__subtitle.directions__subtitle Побывали во всех судах Москвы и МО, поработали со всеми судьями и по всей территории РФ, включая новые области
					.directions__content 
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/Handshake.svg")
								| юридическое сопровождение бизнеса
							.directions__list
								a(href="")  Юридическое сопровождение деятельности юридических лиц, ИП, самозанятых
								a(href="")  Бухгалтерское сопровождение деятельности юридических лиц, ИП
								a(href="")  Ведение кадрового учета юридических лиц, ИП
						.directions__box
							a(href="").directions__head 
								img(alt="" src="img/Chester-Kfamily.svg") 
								| Семейные споры
							.directions__list
								a(href="")  Взыскание алиментов
								a(href="")  Ограничение и лишение прав родителей
								a(href="")  Определение места проживания ребенка
								a(href="")  Расторжение брака
								a(href="")  Споры по наследству
								a(href="")  Раздел совместно нажитого имущества
								a(href="")  Определение порядка участия родителя в воспитании ребенка
								a(href="")  Установление и оспаривание отцовства и материнства
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/Chester-Kdesign.svg")
								| трудовые споры
							.directions__list 
								a(href="") Проведение трудового аудита
								a(href="") Сопровождение увольнения работника
								a(href="") Представление интересов в судах по трудовым спорам с работником
								a(href="") Сопровождение увольнения 
								a(href="") Досудебное сопровождение при конфликтной ситуации с работодателем
								a(href="") Представление интересов в судах по трудовым спорам с работодателем
							.directions__list 
						.directions__box 
							a(href="").directions__head 
								img(alt="" src="img/family-home-svgrepo-com1.svg")
								| Недвижимость
							.directions__list 
								a(href="")  Сопровождение сделок с недвижимостью 
								a(href="")  Жилищные споры
								a(href="")  Арбитраж по недвижимости
								a(href="")  Оспаривание сделок , включая споры о банкротстве
								a(href="")  Оспаривание кадастровой стоимости
								a(href="")  Споры о сносе самовольных построек
								a(href="") Легализация самовольных построек через ГЗК
								a(href="") Сопровождение реконструкции, нового строительства
								a(href="") Земельные споры
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/Scales.svg")
								| Представительство в судах
							.directions__list 
								a(href="")  Суды общей юрисдикции по гражданским, административным делам
								a(href="")  Арбитраж
								a(href="")  Суды по уголовным делам
						.directions__box 
							a(href="").directions__head
								img(alt="" src="img/salaryman-svgrepo-com1.svg")
								| уголовное право
							.directions__pic
								img(alt="" src="img/pic3.webp")



		include modules/achiev

		include modules/staff

		include modules/case

		include modules/reviews

		include modules/block-contact


