block vars
	- var header = 'ЧЕСТЕР-К'
doctype html
html(lang="ru")
	include modules/head
	body
		<noscript><div><img src="https://mc.yandex.ru/watch/62967727" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		.wrapper
			include modules/header
			block main
			include modules/footer
			include modules/script
