extends layout	
block vars
	-var header = 'Раздел совместно нажитого имущества'
block main 
	main
		section.section.main-block 
			.main-block__img
				img(src="img/bg2.webp" alt="")
			.container
				.breadcrumbs 
					.breadcrumbs__wrap
						a(href="index.html") Главная
						span /
						a(href="disputs.html") Семейные споры
						span /
						a Раздел совместно нажитого имущества

				section.section.inner-block
					h1.title #{header}
					.inner-block__content 
						p ЮРИДИЧЕСКОЕ АГЕНТСТВО ЧЕСТЕР - К
						a.btn.show-modal Консультация с юристом
					.main-block__benefici
						.main-block__benefici-item
							h2.main-block__benefici-title более 25 лет практического опыта
							.main-block__benefici-text
								p Гражданское, административное, уголовное, корпоративное, семейное, трудовое, налоговое право
								p На всех уровнях: от досудебного урегулирования, до верховного суда
						.main-block__benefici-item
							h2.main-block__benefici-title 96% выигранных дел
							.main-block__benefici-text
								p За счёт гигантского опыта в 25 лет и практики во всех судах Москвы и МО. В остальных 4% дел снижали взыскиваемые суммы на 30-70%.
								p Финансово заинтересованы в вашей победе
						.main-block__benefici-item
							h2.main-block__benefici-title команда юристов и адвокатов
							.main-block__benefici-text
								p С опытом в профессии от 10 до 42 лет.
								p При этом работающие в нашем агентстве минимум 7 лет, с узкой специализацией доведут дело до победы
		include modules/feedback
		//- include modules/work-directions
		//- include modules/case-inner
		include modules/price
		include modules/achiev
		include modules/staff
		include modules/case
		include modules/reviews
		//- include modules/questions
		include modules/block-contact