extends ../layout
block vars
	-var title = 'Что делать при банкротстве застройщика?'
	-var link1 = "Блог"
	-var link2 = "Что делать при банкротстве застройщика?"
block main 
	main
		section.section
			.container
				.breadcrumbs 
					.breadcrumbs__wrap
						a(href="index.html") Главная
						span /
						a(href="blog.html") Блог
						span /
						a Что делать при банкротстве застройщика?

		section 
			.container 
				h1(data-aos="fade-right").section__title #{title}
				.article 
					.article__pic 
						img(src="img/22903331672_2bb354013b_b.webp" alt="")

					p Практически каждый из нас либо покупал, либо планирует купить квартиру. Большинство из нас подходит к выбору жилья очень серьезно. И чем больше мы погружаемся в этот процесс, тем больше понимаем, что он таит в себе множество сложных вопросов. Чаще всего мы ограничены в бюджете и одним из критериев является цена недвижимости. А самые соблазнительные цены, конечно же, будут на стадии строительства. Однако в такой ситуации мы идем на определенные риски, связанные с банкротством застройщика и «подвисанием» вашей квартиры в разделе «недострой».

					p Попробуем с юридической точки зрения рассказать, что делать, если компания признается банкротом в случае недостаточности денежных средств для исполнения своих обязательств. Инициировать банкротство может сам застройщик, кредиторы, налоговая и т.д. Стоит отметить, что процедура банкротства может занять несколько лет, а получение компенсации еще столько же.

					p О банкротстве застройщика мы можем узнать из различных источников: картотека дел Арбитражного суда, из реестра сведений о банкротстве, из газеты «Коммерсант», от конкурсного управляющего.

					h2 По каким признакам можно предопределить скорое банкротство? 

					ul 
						li Остановился строительный процесс
						li Застройщик не публикует финансовую отчетность на сайте проекта
						li Отсутствует аккредитация крупных банков
						li Срок разрешений на строительство подходит к концу

					h2 Что же делать, когда мы узнали о банкротстве застройщика? 

					p Для начала вам необходимо обратиться к конкурсному управляющему и подать заявление о включении своих требований в реестр. У вас может быть несколько вариантов:

					ul 
						li потребовать возврата денег;
						li требовать передачи квартиры;
						li подать самостоятельный иск в случае, если дом достроен и вы хотите зарегистрировать право собственности.
					p Стоит знать, что существует очередь удовлетворения требований кредиторов. В первую очередь  удовлетворяются требования по текущим платежам, а затем уже требования из реестра в следующем порядке:

					ul 
						li Выплаты компенсаций физлицам, здоровью которых нанесен вред во время работы у застройщика.
						li Расчеты с сотрудниками застройщика.
						li Выплаты дольщикам по ДДУ, выплаты по требованиям фонда защиты дольщиков и возмещение реального ущерба дольщикам, выплаты штрафов, неустоек, компенсаций морального вреда.
						li Расчет с остальными кредиторами.

					h2 Далее необходимо понять каким образом удовлетворяются требования.
					ul 
						li В случае, когда вы заявили требование на получение жилья, то оно будет исключено из общей массы и не будет продано на торгах. Жилье может быть достроено за счет компенсационного фонда, фонда субъекта РФ, другого застройщика, ЖСК. Но любой из этих вариантов занимает долгое время.
						li В случае, если вы не хотите ждать долго, то можно получить возмещение по ДДУ. При этом надо иметь ввиду, что компенсационный фонд не выплачивает неустойки, моральный вред и убытки. Если застройщик добросовестно уплачивал все взносы в фонд, то вам необходимо всего лишь записаться на выплату и подать заявление в фонд защиты дольщиков. Денежные средства перечисляются в течение 10 рабочих дней. Если же застройщик не платил в фонд, то ваши требования будут удовлетворены согласно очереди. При таком варианте денежных средств должника часто не хватает.
						li Если ответственность застройщика была застрахована (после 2017 года это необязательное условие для застройщика), то денежные средства можно вернуть обратившись в стразовую.
						li Последний вариант, если расчет был через эскроу-счет, вам необходимо обратиться с заявлением о расторжении договора долевого участия в Росреестр. После того, как договор будет расторгнут, банк вернет вам деньги.


					p Важно знать, что на денежную компенсацию вы можете подать заявление только до того, как дом будут передан новому застройщику.

					p Для того, чтобы избежать судебных тяжб, потери нервов, денег и времени, мы советуем отнестись к выбору застройщика крайне внимательно и не спеша. Грамотно взвешивайте свои риски, а при необходимости обращайтесь за помощью к профессионалам. И помните, часто дешевле – не значит лучше.

