extends ../layout
block vars
	-var titlePage = "Честер-К"
	-var isAncherStaff = false
	-var isAncherReviews = false
	-var feedbackTitle = "Оставьте заявку на первую бесплатную консультацию"
block main 
	main
		section.develop
			.container
				h1 Страница находится в разработке

				a(href="index.html") Вернуться на главную 

		include ../modules/feedback-develop