extends ../layout
block vars
	-var title = 'Легализация самовольных построек через ГЗК'
	-var titlePrice = "по трудовым спором"
	-var isAncherStaff = true
	-var isAncherReviews = true
	-var feedbackTitle = "Записаться на первую бесплатную консультацию юриста по легалезации самовольных построек"
	-var offerTitle1 = "Консультирует юрист по спорам с недвижимостью"
	-var offerTitle2 = "ЧЕСТНАЯ ОЦЕНКА ПЕРСПЕКТИВ ДЕЛА"
	-var offerTitle3 = "ОЦЕНИМ СТОИМОСТЬ РАБОТ И ДАДИМ АЛГОРИТМ ДЕЙСТВИЙ"
	-var offerText1 = "Профильный юрист с опытом минимум 10 лет в спорах с недвижимостью, чтобы сразу вникнуть в вопрос, сэкономить ваше время и помочь"
	-var offerText2 = "Честно скажем шансы на победу без обещаний несбыточных результатов на о	снове 25-ти летней практики и знания судебного правоприменения"
	-var offerText3 = "Точно поймём, сколько будет стоить вести дело, — без внезапных доплат."
	-var offerText4 = "Расскажем отработанный за 25 лет алгоритм действий, нужный для победы."
	-var price1 = "30 000"
	-var price2 = "150 000"
	-var metaTitle = "Поможем легагизовать самострой через ГЗК | Честер-К"
	-var metaDiscription = "Команда юристов и адвокатов с практическим опытом от 10 до 42 лет, поможет на любом этапе легализации самостроя через Градостроительную земельную комиссию. Благодаря наработанной базе и нескольким стратегиям победы"
block main 
	main
		section.section.main-block 
			.main-block__img
				img(src="img/bg30.webp" alt="")
			.container
				.breadcrumbs 
					.breadcrumbs__wrap
						a(href="index.html") Главная
						span /
						a(href="spory_po_nedvizhimosti.html") Споры по недвижимости
						span /
						a  Легализация самовольных построек через ГЗК
				section.section.inner-block
					h1.title(data-aos="fade-right") #{title}
					.inner-block__content 
						p ЮРИДИЧЕСКОЕ АГЕНТСТВО ЧЕСТЕР - К
						a.btn.show-modal Консультация с юристом

					.main-block__benefici
						.main-block__benefici-item
							h2.main-block__benefici-title более 25 лет практического опыта
							.main-block__benefici-text
								p При первом общении честно расскажем о перспективах дела, а также полностью вникнем в каждую ситуацию и доведем до уверенной победы!
						.main-block__benefici-item
							h2.main-block__benefici-title 96% выигранных дел
							.main-block__benefici-text
								p За счёт гигантского опыта в 25 лет, практики во всех судах Москвы и  во всех регионах России, включая «новые». В остальных 4% дел снижали взыскиваемые суммы на 30-70%. Финансово заинтересованы в вашей победе
						.main-block__benefici-item
							h2.main-block__benefici-title команда юристов и адвокатов
							.main-block__benefici-text
								p С опытом работы в профессии от 10 до 42 лет и стажем работы в нашем агентстве не менее 7 лет. Специализируются в спорах по недвижимости и мягко доведут ваше дело до победы.
		include ../modules/feedback

		//- include ../modules/case-inner
		//- include ../modules/price
		include ../modules/achiev
		include ../modules/staff
		include ../modules/swiper-lawyers
		include ../modules/case-nedvizhimost
		include ../modules/reviews
		//- include ../modules/questions
		include ../modules/block-contact