extends ../layout
block vars
	-var titlePage = "Честер-К споры по недвижимости"
	-var title = 'Споры по недвижимости'
	-var isAncherStaff = true
	-var isAncherReviews = true
	-var feedbackTitle = "Записаться на первую бесплатную консультацию юриста по недвижимости"
	-var offerTitle1 = "Консультирует юрист по спорах с недвижимостью "
	-var offerTitle2 = "ЧЕСТНАЯ ОЦЕНКА ПЕРСПЕКТИВ ДЕЛА"
	-var offerTitle3 = "ОЦЕНИМ СТОИМОСТЬ РАБОТ И ДАДИМ АЛГОРИТМ ДЕЙСТВИЙ"
	-var offerText1 = "Профильный юрист с опытом минимум 10 лет по спорам с недвижимостью, чтобы сразу вникнуть в вопрос, сэкономить ваше время и помочь"
	-var offerText2 = "Честно скажем шансы на победу без обещаний несбыточных результатов на о	снове 25-ти летней практики и знания судебного правоприменения"
	-var offerText3 = "Точно поймём, сколько будет стоить вести дело, — без внезапных доплат."
	-var offerText4 = "Расскажем отработанный за 25 лет алгоритм действий, нужный для победы."
	-var titlePrice = "по спорам с недвижимостью"
	-var price1 = "25 000"
	-var price2 = "350 000"
	-var metaTitle = "Честер-К споры по недвижимости"
	-var metaDiscription = "Проведем аудит вашей сделки с невижимостью или поможем оспорить кадастровую стоимость. Юридическое агентство поможет в любых спорах по недвижимости "
block main 
	main
		section.section.main-block 
			.main-block__img
				img(src="img/bg10.webp" alt="")
			.container
				.breadcrumbs 
					.breadcrumbs__wrap
						a(href="index.html") Главная
						span /
						a #{title}
				section.section.inner-block
					h1.title(data-aos="fade-right") #{title}
					.inner-block__content 
						p ЮРИДИЧЕСКОЕ АГЕНТСТВО ЧЕСТЕР - К
						a.btn.show-modal Консультация с юристом
					.links
						a(href="sdelki s_nedvizhimostyu.html") Сделки с недвижимостью 
						a(href="osparivanie_kadastrovoj_stoimosti.html") Оспаривание кадастровой стоимости
						a(href="zhilishchnye_spory.html") Жилищные споры
						a(href="spory_o_snose_samovolnyh_postroek_zdanij.html") Споры о сносе самовольных построек, зданий
					.main-block__benefici
						.main-block__benefici-item
							h2.main-block__benefici-title более 25 лет практического опыта
							.main-block__benefici-text
								p При первом общении честно расскажем о перспективах дела, а также полностью вникнем в каждую ситуацию и доведем до уверенной победы!
						.main-block__benefici-item
							h2.main-block__benefici-title 96% выигранных дел
							.main-block__benefici-text
								p За счёт гигантского опыта в 25 лет, практики во всех судах Москвы и  во всех регионах России, включая «новые». В остальных 4% дел снижали взыскиваемые суммы на 30-70%. Финансово заинтересованы в вашей победе
						.main-block__benefici-item
							h2.main-block__benefici-title команда юристов и адвокатов
							.main-block__benefici-text
								p С опытом работы в профессии от 10 до 42 лет и стажем работы в нашем агентстве не менее 7 лет. Специализируются на семейном праве и мягко доведут ваше дело до победы.


		include ../modules/feedback
		section.section 
			.container 
				h2(data-aos="fade-right").section__title РАБОТАЕМ ПО ВСЕМ НАПРАВЛЕНИЯМ СПОРОВ С НЕДВИЖИМОСТЬЮ
				.work-directions 
					.work-directions__img 
						img(src="img/pic2.webp" alt="")
					.work-directions__links 
						a(href='sdelki_s_nedvizhimostyu.html' data-aos="fade-left") Сопровождение сделок с недвижимостью
						a(href='gosudarstvennaya_registraciya_perekhoda_ili_obladaniem_prava_sobstvennosti.html' data-aos="fade-left") Государственная регистрация перехода или обладанием права собственности
						a(href='osparivanie_kadastrovoj_stoimosti.html' data-aos="fade-left") Оспаривание кадастровой стоимости
						a(href='zhilishchnye_spory.html' data-aos="fade-left") Жилищные споры
						a(href='spory_o_snose_samovolnyh_postroek_zdanij.html' data-aos="fade-left") Споры о сносе самовольных построек, зданий
						a(href="develop.html" data-aos="fade-left") Арбитраж по недвижимости
						a(href="develop.html" data-aos="fade-left") Оспаривание сделок, включая споры о банкротстве
						a(href="develop.html" data-aos="fade-left") Легализация самовольных построек через ГЗК
						a(href="develop.html" data-aos="fade-left") Сопровождение реконструкции, нового строительства
						a(href="develop.html" data-aos="fade-left") Земельные споры

		include ../modules/price
		include ../modules/achiev
		//- include ../modules/work-directions
		//- include ../modules/case-inner
		include ../modules/staff
		include ../modules/case
		include ../modules/reviews
		//- include ../modules/questions
		include ../modules/block-contact