<svg width="53" height="54" viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.36328 31.7113C19.4217 26.2316 13.7876 23.3465 22.9656 29.5865C23.1416 29.7058 25.7275 30.9823 25.6306 31.1705C25.4848 31.4535 11.0708 32.1347 10.1985 32.0974" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.3184 30.7568C30.9513 29.9344 34.4421 24.5508 35.1946 24.5508C36.6159 24.5508 38.9751 27.6538 42.4295 29.5784C42.5186 29.6281 43.5819 30.2655 43.5819 30.3246C43.5819 30.6733 38.4342 30.0703 38.1362 30.0497C35.1724 29.8405 32.3765 30.2253 29.4707 30.5995" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.1055 27.1787C32.0626 18.0571 22.4806 16.1587 32.1757 27.7386" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.0645 32.9375C12.1299 34.7839 12.2624 36.6526 12.367 38.4727" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.1742 32.0977C24.1195 34.0365 24.4446 37.0971 24.412 38.4715" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M30.3134 31.5957C30.1211 33.8709 30.3788 36.2116 30.1836 38.4728" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M42.1236 32.0977C41.9998 34.0014 42.3731 35.9212 42.1236 37.8005" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M20.9615 32.4336C20.9489 34.5544 21.1454 36.7083 21.0589 38.8074" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M18.0986 32.9375C18.1441 34.8926 18.0073 36.8679 18.0986 38.8081" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M15.8466 32.9375C15.8574 34.8313 15.7661 36.808 15.9762 38.6404" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M33.43 31.4277C33.3543 33.6392 33.5275 36.3458 33.4192 38.3047" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M36.5898 31.7637C36.6044 33.7767 36.6004 35.7909 36.6547 37.802" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M39.4746 31.5957C39.4189 33.5477 39.6181 36.2012 39.6473 37.8018" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.1328 32.0989C26.7613 31.9727 28.3466 31.6438 29.9971 31.5957" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M9.91077 26.8984C6.97191 28.9664 7.82026 27.9942 10.0362 28.9112" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M10.3383 27.2344C10.1357 28.8116 10.2329 30.3922 10.5107 31.9309" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M17.2482 24.3762C17.2318 25.6748 18.3532 19.3404 17.7159 20.5025C17.3994 21.0791 20.1336 21.8366 19.5009 21.548C18.7239 21.194 18.0728 21.9514 17.7159 22.323" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M27.3095 19.016C27.312 18.4062 27.1664 17.8266 27.1461 17.2178C27.1232 16.5319 26.3982 15.1582 27.1461 15.1582C28.0073 15.1582 30.1622 15.4605 29.5531 16.0197C29.2548 16.2936 27.9427 15.8383 27.2278 16.7685" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M36.0787 23.8795C36.0626 23.0949 35.9922 22.3174 35.9922 21.5312" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M36.1815 21.3633C38.958 22.3035 38.4077 21.3482 36.0352 22.2019" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M43.8145 27.2344C43.7447 28.0801 43.8362 28.9159 43.8795 29.7504" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.503384" d="M43.9674 27.1211C45.0223 27.3801 44.5871 27.4928 43.75 27.6826" stroke="white" stroke-width="2.10448" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
