<svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.8828 17.709C24.1161 21.5439 22.4892 25.8244 22.0371 30.0443" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.084 17.8086C26.0931 20.847 26.2049 23.884 26.2655 26.9213C26.2898 28.14 26.3032 29.359 26.322 30.5778" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.9453 40.959C25.7436 43.0968 25.3847 45.2143 24.9395 47.3138" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M34.1615 17.8086C32.641 27.5963 34.2199 37.9773 33.8814 47.7684" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M34.1621 17.8086C35.9415 21.1587 36.6027 27.801 36.9195 29.4909" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.9981 38.9698C14.2386 29.8449 32.1697 30.5874 28.9297 39.7679" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15.8691 39.4764C20.1564 39.3586 24.5826 39.7666 28.9298 39.7666" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.4886 30.7698C22.2183 30.3365 21.7113 30.2884 21.0215 31.4956" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.212 5.88651C30.5001 3.70721 32.4322 4.79375 34.3072 6.66434C41.5058 13.8465 20.7408 19.1761 27.4324 6.24016" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
