<svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.504 11.4043C25.4528 11.8553 25.3963 12.4558 25.3347 13.2059C25.2423 14.331 24.9805 15.6496 24.9805 23.8365C24.9805 29.2944 25.0985 35.0302 25.3347 41.0443" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15.5586 12.3926C20.3118 13.9509 23.6135 15.0118 25.4638 15.5752C31.846 17.5186 35.5337 19.4331 36.7621 19.732" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.502209" d="M39.9017 26.9163L36.4917 19.7324C35.2757 22.4984 34.5104 24.1675 34.196 24.7398C33.8816 25.312 33.5148 26.2777 33.0957 27.6364" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.502209" d="M15.5586 12.5332L18.6998 22.4132" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.502209" d="M15.5575 12.3926L11.8926 22.2726" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.4609 22.6495L18.5279 22.2734C18.7977 25.5225 17.5057 27.4334 15.1568 27.5352C12.8081 27.6368 12.2846 26.79 11.461 25.2374" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.4414 28.625C33.1473 31.4478 34.4554 32.8592 36.3655 32.8592C39.2307 32.8592 40.5563 29.1381 40.5563 28.7913" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.4414 28.341L40.5563 28.0586" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.0918 41.044C20.1389 41.044 20.1547 41.044 21.4516 41.044C22.3162 41.044 25.7179 40.9884 31.6571 40.877" stroke="white" stroke-width="2.08" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
