<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.505 11.1799C25.4537 11.6309 25.3973 12.2315 25.3357 12.9815C25.2433 14.1066 24.9814 15.4252 24.9814 23.6121C24.9814 29.07 25.0995 34.8059 25.3357 40.8199" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15.5581 12.168C20.3113 13.7263 23.613 14.7872 25.4633 15.3506C31.8455 17.294 35.5333 19.2085 36.7616 19.5074" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.502209" d="M39.9022 26.6913L36.4922 19.5073C35.2762 22.2733 34.5109 23.9424 34.1965 24.5147C33.882 25.0869 33.5153 26.0526 33.0962 27.4113" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.502209" d="M15.5581 12.3091L18.6993 22.1891" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.502209" d="M15.558 12.168L11.8931 22.048" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.4619 22.4242L18.5288 22.0481C18.7987 25.2972 17.5067 27.2081 15.1578 27.3098C12.8091 27.4115 12.2856 26.5647 11.462 25.0121" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.4424 28.3994C33.1483 31.2222 34.4563 32.6336 36.3664 32.6336C39.2316 32.6336 40.5572 28.9125 40.5572 28.5657" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M32.4424 28.1171L40.5572 27.8347" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.0913 40.8199C20.1385 40.8199 20.1542 40.8199 21.4511 40.8199C22.3157 40.8199 25.7174 40.7642 31.6566 40.6528" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
