<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.3114 8.05483C28.7054 3.18322 34.8956 11.0273 30.5458 14.238C27.1656 16.7332 23.1973 12.8441 24.7843 9.4601" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.1867 18.8398L28.6109 26.1401L28.1867 26.6809L27.623 26.3203V18.8398" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.8809 17.9668C26.5181 18.2871 30.1048 17.0019 31.4625 18.0232C33.0295 19.2018 33.6885 30.9258 33.7168 31.1797" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.4239 19.1445C23.1513 22.4772 22.2207 28.2772 23.0829 30.4179" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.896 18.8398C25.1518 20.0972 25.2766 24.392 25.0559 30.4179" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.8177 39.1016C24.8765 40.8679 24.5903 43.6804 24.8177 44.6899C25.0509 45.7245 26.3139 45.5177 26.709 45.4007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M30.9792 17.9258C31.1873 19.5972 29.9834 45.0039 30.2523 45.2899C30.382 45.4283 31.498 45.2806 31.7363 45.2298" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.821 31.7423C18.6835 31.9632 18.5348 32.891 18.4715 33.3801C18.3477 34.334 18.2275 37.026 18.4715 37.4747C18.7154 37.9233 19.7069 38.2453 21.1483 38.2453C22.5898 38.2453 25.468 38.4217 26.3622 38.2453C27.2565 38.0689 28.2112 32.3423 27.2167 31.9498C26.0107 31.6197 20.9584 31.5215 19.821 31.7423Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M27.6985 32.3984C28.0545 34.5797 28.2324 35.9272 28.2324 36.4407C28.2324 37.211 28.1302 38.1039 27.5667 38.212C27.3335 38.2568 26.8782 38.2568 26.2012 38.212" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M24.9191 31.1822C24.985 30.6873 24.7912 30.4399 24.3375 30.4399C23.6569 30.4399 22.9676 30.3225 22.7435 30.6312C22.5942 30.837 22.5195 31.1066 22.5195 31.4401" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
